Legacy Power Automate Flows/03 Overtime Request Approval/Microsoft.Flow/flows/60d61603-e4a0-492d-ad81-c8036fa0191e/definition.json
{"name":"4090b6a0-7fe9-4266-9874-28e8ff0e24f6","id":"/providers/Microsoft.Flow/flows/4090b6a0-7fe9-4266-9874-28e8ff0e24f6","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"03Overtime Request Approval","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-10-17T18:42:09.1298702Z","connectionKeySavedTimeKey":"2026-01-18T08:03:01.6112673Z","creationSource":null,"clientCreatedTime":"2023-09-22T17:24:39.3691649Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/4090b6a0-7fe9-4266-9874-28e8ff0e24f6-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_or_a_file_is_modified":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"2de8cec7-2193-4f07-80d9-d78ea92669a4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnChangedItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133"},"authentication":"@parameters('$authentication')"}}},"actions":{"check_if_auto_manager_passed":{"actions":{},"runAfter":{"ini_varProvince":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"93383745-3c4e-4806-81cc-14a74a0f8c3b"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"not":{"equals":["@triggerOutputs()?['body/Manager/DisplayName']","@null"]}},"metadata":{"operationMetadataId":"48fbe5cf-d769-4018-a4cb-ce425c91a8d5"},"type":"If"},"ini_varProvince":{"runAfter":{"check_if_pending":["Succeeded"]},"metadata":{"operationMetadataId":"8a6c5e02-0fac-42d7-916f-6724c55be2cd"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varProvince","type":"string"}]}},"Get_Staff_from_Directory":{"runAfter":{"check_if_auto_manager_passed":["Succeeded"]},"metadata":{"operationMetadataId":"12aa40ad-d280-4ea7-8121-d4541f3f166a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'","$top":5000},"authentication":"@parameters('$authentication')"}},"Set_varProvince":{"runAfter":{"Get_Staff_ID_4":["Succeeded"]},"cases":{"Barrie":{"case":"Barrie","actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"906e2699-39fc-4477-96dd-75b59193e8bb"},"type":"SetVariable","inputs":{"name":"varProvince","value":"ON"}}}},"Leaside":{"case":"Leaside","actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"fafa8081-cddf-4dec-a908-1eeb7209a16d"},"type":"SetVariable","inputs":{"name":"varProvince","value":"ON"}}}},"Ottawa":{"case":"Ottawa","actions":{"Set_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"99099efc-0e17-474b-9dd3-78f422e26429"},"type":"SetVariable","inputs":{"name":"varProvince","value":"ON"}}}},"VP":{"case":"Toronto Victoria Park","actions":{"Set_variable_4":{"runAfter":{},"metadata":{"operationMetadataId":"11c66946-84dd-426a-bfd3-b01502dd7c8d"},"type":"SetVariable","inputs":{"name":"varProvince","value":"ON"}}}},"Warden":{"case":"Toronto Warden","actions":{"Set_variable_5":{"runAfter":{},"metadata":{"operationMetadataId":"990623be-0161-4b2c-a6a6-75bfd2c7ab4e"},"type":"SetVariable","inputs":{"name":"varProvince","value":"ON"}}}},"BC":{"case":"British Columbia","actions":{"Set_variable_6":{"runAfter":{},"metadata":{"operationMetadataId":"624dad31-d335-4fd2-9eac-5e6d7975c13e"},"type":"SetVariable","inputs":{"name":"varProvince","value":"BC"}}}},"NL":{"case":"Newfound Land","actions":{"Set_variable_7":{"runAfter":{},"metadata":{"operationMetadataId":"f8b13bd3-b536-496f-8433-0b89cfc7ee90"},"type":"SetVariable","inputs":{"name":"varProvince","value":"NL"}}}}},"default":{"actions":{}},"expression":"@body('Get_Staff_from_Directory')?['value'][0]?['Location']?['Value']","metadata":{"operationMetadataId":"89e85e87-929d-4ff9-b28e-a7c2275fe13b"},"type":"Switch"},"Get_Company_Holidays":{"runAfter":{"Set_varProvince":["Succeeded"]},"metadata":{"operationMetadataId":"b0484901-0f22-4d05-beff-af15a91e9e6d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"391e299d-c537-44c4-90c8-462e2ca2db5f","$top":5000},"authentication":"@parameters('$authentication')"}},"check_if_holiday":{"foreach":"@outputs('Get_Company_Holidays')?['body/value']","actions":{"Condition":{"actions":{"Set_VarIsHoliday":{"runAfter":{},"metadata":{"operationMetadataId":"adbdc4c7-0997-4eed-b99d-833f66d50b8d"},"type":"SetVariable","inputs":{"name":"varIsHoliday","value":true}},"Set_varHolidayName":{"runAfter":{"Set_VarIsHoliday":["Succeeded"]},"metadata":{"operationMetadataId":"31e3d9e6-ebda-4319-b831-985f297e1922"},"type":"SetVariable","inputs":{"name":"varHolidayName","value":"@items('check_if_holiday')?['Title']"}}},"runAfter":{},"expression":{"and":[{"equals":["@items('check_if_holiday')?['Date']","@triggerOutputs()?['body/StartDate']"]},{"not":{"contains":["@items('check_if_holiday')?['Title']","'Half Fridays'"]}},{"equals":["@items('check_if_holiday')?['Province']","@variables('varProvince')"]}]},"metadata":{"operationMetadataId":"6fcfb0a4-1fb1-4d22-94e5-7eb28394ea9b"},"type":"If"}},"runAfter":{"ini_varHolidayName":["Succeeded"]},"metadata":{"operationMetadataId":"c1390144-59ba-416f-8be1-4ce4d34e7180"},"type":"Foreach"},"ini_varIsHoliday":{"runAfter":{"Get_Company_Holidays":["Succeeded"]},"metadata":{"operationMetadataId":"eda2a3d2-4fef-4eb9-a81c-4db105ba9723"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varIsHoliday","type":"boolean","value":false}]}},"check_if_friday":{"actions":{"look_for_half_friday_start":{"foreach":"@outputs('Get_Company_Holidays')?['body/value']","actions":{"look_for_start":{"actions":{"Set_varHalfFridayStart":{"runAfter":{},"metadata":{"operationMetadataId":"8bb80c21-fb40-4702-b0be-e9c13491f6b2"},"type":"SetVariable","inputs":{"name":"varHalfFridayStart","value":"@{items('look_for_half_friday_start')?['Date']}"}}},"runAfter":{},"expression":{"equals":["","Half Fridays START"]},"metadata":{"operationMetadataId":"9af66720-e1f8-4612-991a-571caf9d17d8"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"6b593303-b754-48aa-8b9e-0b983ebd14ef"},"type":"Foreach"},"look_for_half_friday_end":{"foreach":"@outputs('Get_Company_Holidays')?['body/value']","actions":{"look_for_end":{"actions":{"set_varHalfFridayEnd":{"runAfter":{},"metadata":{"operationMetadataId":"ea7ba376-f420-47f3-86cc-ac39214ab14c"},"type":"SetVariable","inputs":{"name":"varHalfFridayEnd","value":"@{items('look_for_half_friday_end')?['Date']}"}}},"runAfter":{},"expression":{"equals":["","Half Fridays END"]},"metadata":{"operationMetadataId":"504835f4-4cdf-4c17-9d87-f447e52a35c9"},"type":"If"}},"runAfter":{"look_for_half_friday_start":["Succeeded"]},"metadata":{"operationMetadataId":"598240c4-5ae5-4fbb-9f17-d4fa694a9089"},"type":"Foreach"},"check_if_between":{"actions":{"is_half_friday":{"runAfter":{},"metadata":{"operationMetadataId":"d8fd35af-341e-48e2-8717-33f654a8e4b1"},"type":"SetVariable","inputs":{"name":"varIsHalfFriday","value":true}}},"runAfter":{"look_for_half_friday_end":["Succeeded"]},"else":{"actions":{"is_not_half_friday":{"runAfter":{},"metadata":{"operationMetadataId":"932d9bca-4c69-437f-85b4-6695bb0fc5d3"},"type":"SetVariable","inputs":{"name":"varIsHalfFriday","value":false}}}},"expression":{"and":[{"greaterOrEquals":["@triggerOutputs()?['body/StartDate']","@variables('varHalfFridayStart')"]},{"lessOrEquals":["@triggerOutputs()?['body/StartDate']","@variables('varHalfFridayEnd')"]}]},"metadata":{"operationMetadataId":"bf618c78-7dd9-4c7d-ad95-196c25b5d2d2"},"type":"If"}},"runAfter":{"ini_varIsHalfFriday":["Succeeded"]},"expression":{"equals":["@dayOfWeek(triggerOutputs()?['body/StartDate'])",5]},"metadata":{"operationMetadataId":"4233ebf4-6e3a-4075-a85e-fee7b688346d"},"type":"If"},"ini_varHalfFridayStart":{"runAfter":{"check_if_holiday":["Succeeded"]},"metadata":{"operationMetadataId":"77dd3bf5-7156-4f3c-a921-0c94581e5e4d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varHalfFridayStart","type":"string"}]}},"ini_varHalfFridayEnd":{"runAfter":{"ini_varHalfFridayStart":["Succeeded"]},"metadata":{"operationMetadataId":"f49044e3-f831-4c8e-a3c6-53a4173cc3c5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varHalfFridayEnd","type":"string"}]}},"ini_varIsHalfFriday":{"runAfter":{"ini_varHalfFridayEnd":["Succeeded"]},"metadata":{"operationMetadataId":"c482e3bb-5091-4dab-af9a-c2cad28ca397"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varIsHalfFriday","type":"boolean","value":false}]}},"ini_varManagerEmail":{"runAfter":{"check_if_friday":["Succeeded"]},"metadata":{"operationMetadataId":"83a38e83-44c7-4158-960c-616ed1c7b48f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varManagerEmail","type":"string"}]}},"Get_Manager_from_Staff_Directory":{"runAfter":{"ini_varManagerEmail":["Succeeded"]},"metadata":{"operationMetadataId":"e6cc5262-47b9-462e-978f-87bb77ee5fde"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/Manager/DisplayName']}'","$top":5000},"authentication":"@parameters('$authentication')"}},"set_varManagerEmail":{"runAfter":{"Get_Manager_from_Staff_Directory":["Succeeded"]},"metadata":{"operationMetadataId":"f3a8437f-b658-4e8d-be1b-5218f5d7d0b5"},"type":"SetVariable","inputs":{"name":"varManagerEmail","value":"@{body('Get_Manager_from_Staff_Directory')?['value'][0]?['EmailAddress']}"}},"if_not_holiday_send_emails":{"actions":{"variation_if_half_day_friday":{"actions":{"Send_email_with_options":{"runAfter":{},"metadata":{"operationMetadataId":"7da0260f-fed3-4a99-9d7d-eaf31d244ab1"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendMailWithOptions"},"parameters":{"optionsEmailSubscription/Message/To":"@variables('varManagerEmail')","optionsEmailSubscription/Message/Subject":"Overtime Request - @{triggerOutputs()?['body/SubmittedBy/DisplayName']}","optionsEmailSubscription/Message/Options":"Approve, Reject","optionsEmailSubscription/Message/HeaderText":"Time Make-Up Request","optionsEmailSubscription/Message/Body":"Requested by: @{triggerOutputs()?['body/SubmittedBy/DisplayName']}\nTime Make-Up Date: @{triggerOutputs()?['body/StartDate']}\nDuration: @{triggerOutputs()?['body/Hours']} hours\nDetails: \n@{triggerOutputs()?['body/Title']}\n\n","optionsEmailSubscription/Message/Importance":"Normal","optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":true,"optionsEmailSubscription/Message/HideMicrosoftFooter":true},"authentication":"@parameters('$authentication')"}},"approved_or_rejected":{"actions":{"Get_Staff_from_Directory_2":{"runAfter":{},"metadata":{"operationMetadataId":"242e4ee2-052d-4d35-ae7f-e9c51bfaf97b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'","$top":5000},"authentication":"@parameters('$authentication')"}},"Get_Staff_ID":{"runAfter":{"Set_varNewOvertimeBalance":["Succeeded"]},"metadata":{"operationMetadataId":"ae15d63a-90cf-4d4f-b188-98b11de7cca9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@first(body('Get_Staff_from_Directory_2')?['value'])?['ID']"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"terminate_if_hourly_staff_2":["Succeeded"]},"metadata":{"operationMetadataId":"deed66d2-603b-47a5-b012-c27ab19aaf30"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_ID')?['body/ID']","item/Title":"@outputs('Get_Staff_ID')?['body/Title']","item/Supervisor":"@outputs('Get_Staff_ID')?['body/Supervisor']","item/CurrentOvertimeBalance":"@variables('varNewOvertimeBalance')"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Get_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"d71485e1-406b-47a9-a45f-341c74745779"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('Get_Staff_ID')?['body/EmailAddress']};@{variables('varManagerEmail')}","emailMessage/Subject":"@{outputs('Get_Staff')?['body/Title']} Overtime Approved - @{triggerOutputs()?['body/StartDate']}","emailMessage/Body":"<p><span style=\"font-size: 16px\"><strong>Time Make-Up Request Details<br>\n</strong></span><span style=\"font-size: 16px\"><strong>@{triggerOutputs()?['body/Title']}</strong></span><span style=\"font-size: 16px\"><strong><br>\n</strong></span><span style=\"font-size: 12px\"><strong>Date: </strong></span><span style=\"font-size: 12px\"><strong>@{triggerOutputs()?['body/StartDate']}</strong></span><span style=\"font-size: 12px\"><strong><br>\nHours: </strong></span><span style=\"font-size: 12px\"><strong>@{triggerOutputs()?['body/Hours']}</strong></span><span style=\"font-size: 12px\"><strong><br>\nApproved by: </strong></span><span style=\"font-size: 12px\"><strong>@{triggerOutputs()?['body/Manager/DisplayName']}</strong></span><span style=\"font-size: 12px\"><strong></strong></span><span style=\"font-size: 16px\"><strong><br>\n<br>\nNew Balances<br>\n</strong></span><span style=\"font-size: 12px\"><strong>Vacation - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('Get_item_2')?['body/CurrentVacationBalance']}</strong></span><span style=\"font-size: 12px\"><strong> Days<br>\nSick Leave - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('Get_item_2')?['body/CurrentSickDayBalance']}</strong></span><span style=\"font-size: 12px\"><strong> Days<br>\nCarry Over - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('Get_item_2')?['body/CarryOver']}</strong></span><span style=\"font-size: 12px\"><strong> Days<br>\nTime Make-Up - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('Get_item_2')?['body/CurrentOvertimeBalance']}</strong></span><span style=\"font-size: 12px\"><strong> Days</strong></span></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Get_Staff":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"9c2410e4-9e08-4a71-b0d4-35be135123e0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_ID')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Update_item_2":{"runAfter":{"Get_Staff":["Succeeded"]},"metadata":{"operationMetadataId":"c3016442-6a9b-4499-b77c-a613e917145f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/Hours":"@triggerOutputs()?['body/Hours']","item/Status/Value":"Approved","item/ApprovedDate":"@formatDateTime(utcNow(), 'yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"terminate_if_hourly_staff_2":{"actions":{"Send_an_email_(V2)_5":{"runAfter":{},"metadata":{"operationMetadataId":"441f5344-af29-45ba-b1ad-8051f4e2085e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('Get_Staff_ID')?['body/EmailAddress']","emailMessage/Subject":"Overtime Approved - Hourly - @{outputs('Get_Staff_ID')?['body/Title']}","emailMessage/Body":"<p><span style=\"font-size: 16px\"><strong>Overtime Request Details</strong></span><br>\n@{triggerOutputs()?['body/Title']}<br>\n<strong>Date:</strong> @{triggerOutputs()?['body/StartDate']}<br>\n<strong>Hours:</strong> @{triggerOutputs()?['body/Hours']}<br>\n<strong>Approved by:</strong> @{triggerOutputs()?['body/Manager/DisplayName']}</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Terminate_3":{"runAfter":{"Send_an_email_(V2)_5":["Succeeded"]},"metadata":{"operationMetadataId":"6f0c2cff-424f-4581-ac52-0a8de645382e"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"Get_Staff_ID":["Succeeded"]},"expression":{"equals":["@outputs('Get_Staff_ID')?['body/SalaryHourly/Value']","Hourly"]},"metadata":{"operationMetadataId":"d41393c6-5de8-428d-a0d2-05a79296ccea"},"type":"If"},"Set_varNewOvertimeBalance":{"runAfter":{"Get_Staff_from_Directory_2":["Succeeded"]},"metadata":{"operationMetadataId":"f965f6af-cfae-4414-838e-d42144221aff"},"type":"SetVariable","inputs":{"name":"varNewOvertimeBalance","value":"@add(float(first(body('Get_Staff_from_Directory_2')?['value'])?['CurrentOvertimeBalance']), div(float(triggerOutputs()?['body/Hours']), 8))"}},"if_vacation_negative_offset_with_positive_overtime":{"actions":{"add_positive_overtime_to_negative_vacation":{"runAfter":{},"metadata":{"operationMetadataId":"dd90a301-fb74-4af4-b83b-4ddd564fabdb"},"type":"Compose","inputs":"@add(float(outputs('Get_Staff')?['body/CurrentVacationBalance']), float(outputs('Get_Staff')?['body/CurrentOvertimeBalance']))"},"Update_item_7":{"runAfter":{"add_positive_overtime_to_negative_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"716fdcf9-92de-489f-b5e2-c0cf586d78ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff')?['body/ID']","item/Title":"@outputs('Get_Staff')?['body/Title']","item/Supervisor":"@outputs('Get_Staff')?['body/Supervisor']","item/CurrentVacationBalance":"@outputs('add_positive_overtime_to_negative_vacation')","item/CurrentOvertimeBalance":0},"authentication":"@parameters('$authentication')"}},"Get_item":{"runAfter":{"Update_item_7":["Succeeded"]},"metadata":{"operationMetadataId":"0a643bd1-f751-450e-88c1-7e9a61bc68bd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Condition_3":{"actions":{"Update_item_8":{"runAfter":{},"metadata":{"operationMetadataId":"be6996bf-affd-44a0-8bd7-7e107377c980"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/Supervisor":"@outputs('Get_item')?['body/Supervisor']","item/CurrentVacationBalance":0,"item/CurrentOvertimeBalance":"@outputs('Get_item')?['body/CurrentVacationBalance']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_item":["Succeeded"]},"expression":{"greater":["@outputs('Get_item')?['body/CurrentVacationBalance']",0]},"metadata":{"operationMetadataId":"aff521fa-b2ce-48ca-8e03-b6026cced28e"},"type":"If"}},"runAfter":{"Update_item_2":["Succeeded"]},"expression":{"less":["@outputs('Get_Staff')?['body/CurrentVacationBalance']",0]},"metadata":{"operationMetadataId":"f27293e7-2f3b-424b-ad19-305f84a90e18"},"type":"If"},"Get_item_2":{"runAfter":{"if_vacation_negative_offset_with_positive_overtime":["Succeeded"]},"metadata":{"operationMetadataId":"ccf0b171-33ad-46b0-b7ed-8514b13e07e5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff')?['body/ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_email_with_options":["Succeeded"]},"else":{"actions":{"Get_Staff_from_Directory_3":{"runAfter":{},"metadata":{"operationMetadataId":"33a56713-5de0-4ea8-aff7-21f20de54855"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'","$top":5000},"authentication":"@parameters('$authentication')"}},"Get_Staff_ID_2":{"runAfter":{"Get_Staff_from_Directory_3":["Succeeded"]},"metadata":{"operationMetadataId":"d1b7d459-eb65-43fc-bca5-55ca95f16c0e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@first(body('Get_Staff_from_Directory_3')?['value'])?['ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Get_Staff_ID_2":["Succeeded"]},"metadata":{"operationMetadataId":"870d9c06-78bc-4c73-a021-033795bc6625"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('Get_Staff_ID_2')?['body/EmailAddress']};@{variables('varManagerEmail')}","emailMessage/Subject":"@{outputs('Get_Staff_ID_2')?['body/Title']} Overtime Rejected - @{triggerOutputs()?['body/StartDate']}","emailMessage/Body":"<p><span style=\"font-size: 16px\"><strong>Time Make-Up Request Details</strong></span><strong><br>\n</strong><strong>@{triggerOutputs()?['body/Title']}</strong><strong><br>\nDate: </strong><strong>@{triggerOutputs()?['body/StartDate']}</strong><strong><br>\nHours: </strong><strong>@{triggerOutputs()?['body/Hours']}</strong><strong><br>\nRejected by: </strong><strong>@{triggerOutputs()?['body/Manager/DisplayName']}</strong><strong><br>\n<br>\n</strong><span style=\"font-size: 16px\"><strong>Current Balances</strong></span><strong><br>\nVacation - </strong><strong>@{outputs('Get_Staff_ID_2')?['body/CurrentVacationBalance']}</strong><strong> Days<br>\nSick Leave - </strong><strong>@{outputs('Get_Staff_ID_2')?['body/CurrentSickDayBalance']}</strong><strong> Days<br>\nCarry Over - </strong><strong>@{outputs('Get_Staff_ID_2')?['body/CarryOver']}</strong><strong> Days<br>\nTime Make-Up - </strong><strong>@{outputs('Get_Staff_ID_2')?['body/CurrentOvertimeBalance']}</strong><strong> Hours</strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_item_3":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"3870ee53-5af8-4bbd-938d-5056b55a01ec"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/Hours":"@triggerOutputs()?['body/Hours']","item/Status/Value":"Rejected"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Send_email_with_options')?['body/SelectedOption']","Approve"]},"metadata":{"operationMetadataId":"ed76635f-2ae8-48bf-b8bf-208c45b106bf"},"type":"If"}},"runAfter":{},"else":{"actions":{"Send_email_with_options_2":{"runAfter":{},"metadata":{"operationMetadataId":"6764bc5e-30e3-4d06-a488-faf0f2aceb15"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendMailWithOptions"},"parameters":{"optionsEmailSubscription/Message/To":"@variables('varManagerEmail')","optionsEmailSubscription/Message/Subject":"Overtime Request - @{triggerOutputs()?['body/SubmittedBy/DisplayName']} - Half-Day Friday Detected","optionsEmailSubscription/Message/Options":"Approve, Reject","optionsEmailSubscription/Message/HeaderText":"Time Make-Up Request","optionsEmailSubscription/Message/Body":"Half-Day Friday detected from the requested date.\n\nRequested by: @{triggerOutputs()?['body/SubmittedBy/DisplayName']}\nTime Make-Up Date: @{triggerOutputs()?['body/StartDate']}\nDuration: @{triggerOutputs()?['body/Hours']} hours\nDetails: \n@{triggerOutputs()?['body/Title']}\n","optionsEmailSubscription/Message/Importance":"Normal","optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":true,"optionsEmailSubscription/Message/HideMicrosoftFooter":true},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"HDF_Set_varNewOvertimeBalance":{"runAfter":{"HDF_Get_Staff_from_Directory":["Succeeded"]},"metadata":{"operationMetadataId":"d410de5f-b54d-46be-ba51-64b984dbb1fd"},"type":"SetVariable","inputs":{"name":"varNewOvertimeBalance","value":"@add(float(first(body('HDF_Get_Staff_from_Directory')?['value'])?['CurrentOvertimeBalance']), div(float(triggerOutputs()?['body/Hours']), 8))"}},"HDF_Get_Staff_ID":{"runAfter":{"HDF_Set_varNewOvertimeBalance":["Succeeded"]},"metadata":{"operationMetadataId":"a76d4bb8-816a-47b3-a9cb-9bcf4ead2830"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@first(body('HDF_Get_Staff_from_Directory')?['value'])?['ID']"},"authentication":"@parameters('$authentication')"}},"HDF_terminate_if_hourly":{"actions":{"Send_an_email_(V2)_6":{"runAfter":{},"metadata":{"operationMetadataId":"fa53817c-2dd1-41ba-a9b2-a67fb79b87fa"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('HDF_Get_Staff_ID')?['body/EmailAddress']","emailMessage/Subject":"Overtime Approved - Hourly - @{outputs('HDF_Get_Staff_ID')?['body/Title']}","emailMessage/Body":"<p><strong>Overtime Request Details<br>\n</strong><strong>@{triggerOutputs()?['body/Title']}</strong><strong><br>\nDate: </strong><strong>@{triggerOutputs()?['body/StartDate']}</strong><strong><br>\nHours: </strong><strong>@{triggerOutputs()?['body/Hours']}</strong><strong><br>\nApproved by: </strong><strong>@{triggerOutputs()?['body/Manager/DisplayName']}</strong><strong></strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Terminate_4":{"runAfter":{"Send_an_email_(V2)_6":["Succeeded"]},"metadata":{"operationMetadataId":"0dea76e8-9dde-48b7-8659-384c72017bef"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"HDF_Get_Staff_ID":["Succeeded"]},"expression":{"equals":["@outputs('HDF_Get_Staff_ID')?['body/SalaryHourly/Value']","Hourly"]},"metadata":{"operationMetadataId":"4298aa99-5dae-46a5-9ef7-9fa18406939a"},"type":"If"},"Update_item_5":{"runAfter":{"HDF_terminate_if_hourly":["Succeeded"]},"metadata":{"operationMetadataId":"abb0201e-5a90-4d4e-910c-5e54aecded9c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('HDF_Get_Staff_ID')?['body/ID']","item/Title":"@outputs('HDF_Get_Staff_ID')?['body/Title']","item/Supervisor":"@outputs('HDF_Get_Staff_ID')?['body/Supervisor']","item/CurrentOvertimeBalance":"@variables('varNewOvertimeBalance')"},"authentication":"@parameters('$authentication')"}},"HDF_Get_Staff_New_Balance":{"runAfter":{"HDF_if_negative_vacation_offset_with_positive_overtime":["Succeeded"]},"metadata":{"operationMetadataId":"40acf4ec-ab4d-44a4-a5b0-9b7b25ba310b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('HDF_Get_Staff_ID')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_7":{"runAfter":{"HDF_Get_Staff_New_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"99f715e0-e220-4429-818d-de9845d39854"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('HDF_Get_Staff_New_Balance')?['body/EmailAddress']};@{variables('varManagerEmail')}","emailMessage/Subject":"@{outputs('HDF_Get_Staff_New_Balance')?['body/Title']} Overtime Approved - @{triggerOutputs()?['body/StartDate']}","emailMessage/Body":"<p><span style=\"font-size: 16px\"><strong>Overtime Request Details</strong></span><strong><br>\n</strong><strong>@{triggerOutputs()?['body/Title']}</strong><strong><br>\nDate: </strong><strong>@{triggerOutputs()?['body/StartDate']}</strong><strong><br>\nHours: </strong><strong>@{triggerOutputs()?['body/Hours']}</strong><strong><br>\nApproved by: </strong><strong>@{triggerOutputs()?['body/Manager/DisplayName']}</strong><strong><br>\n<br>\n</strong><span style=\"font-size: 16px\"><strong>New Balances<br>\n</strong></span><span style=\"font-size: 12px\"><strong>Vacation - </strong></span><span style=\"font-size: 16px\"><strong></strong></span><span style=\"font-size: 16px\"><strong>@{outputs('HDF_Get_Staff_New_Balance')?['body/CurrentVacationBalance']}</strong></span><span style=\"font-size: 16px\"><strong> </strong></span><span style=\"font-size: 12px\"><strong>Days<br>\nSick Leave - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('HDF_Get_Staff_New_Balance')?['body/CurrentSickDayBalance']}</strong></span><span style=\"font-size: 12px\"><strong> Days<br>\nCarry Over - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('HDF_Get_Staff_New_Balance')?['body/CarryOver']}</strong></span><span style=\"font-size: 12px\"><strong> Days<br>\nTime Make-Up - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('HDF_Get_Staff_New_Balance')?['body/CurrentOvertimeBalance']}</strong></span><span style=\"font-size: 12px\"><strong> Days</strong></span></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"HDF_if_negative_vacation_offset_with_positive_overtime":{"actions":{"HDF_add_positive_overtime_to_negative_vacation":{"runAfter":{},"metadata":{"operationMetadataId":"8b2153c1-82a6-479f-beca-5f39300791cb"},"type":"Compose","inputs":"@add(float(outputs('Get_item_3')?['body/CurrentVacationBalance']), float(outputs('Get_item_3')?['body/CurrentOvertimeBalance']))"},"Update_item_10":{"runAfter":{"HDF_add_positive_overtime_to_negative_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"2f0bccef-ec17-4201-b94e-687d41ffefb1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item_3')?['body/ID']","item/Title":"@outputs('Get_item_3')?['body/Title']","item/Supervisor":"@outputs('Get_item_3')?['body/Supervisor']","item/DefaultYearlyVacationDays":"@outputs('HDF_add_positive_overtime_to_negative_vacation')","item/CurrentOvertimeBalance":0},"authentication":"@parameters('$authentication')"}},"HDF_transfer_surplus_vacation_back_to_overtime":{"actions":{"Update_item_11":{"runAfter":{},"metadata":{"operationMetadataId":"c43a6619-5650-47c8-8575-45e77aed9456"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Update_item_10')?['body/ID']","item/Title":"@outputs('Update_item_10')?['body/Title']","item/Supervisor":"@outputs('Update_item_10')?['body/Supervisor']","item/CurrentVacationBalance":0,"item/CurrentOvertimeBalance":"@outputs('Update_item_10')?['body/CurrentVacationBalance']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_item_10":["Succeeded"]},"expression":{"greater":["@outputs('Update_item_10')?['body/CurrentVacationBalance']",0]},"metadata":{"operationMetadataId":"5df8be6d-cd72-410a-8ea9-78a4642058ab"},"type":"If"}},"runAfter":{"Get_item_3":["Succeeded"]},"expression":{"less":["@outputs('Get_item_3')?['body/CurrentVacationBalance']",0]},"metadata":{"operationMetadataId":"412d83bd-c7af-4295-b408-c9b1d5cb9842"},"type":"If"},"Get_item_3":{"runAfter":{"Update_item_5":["Succeeded"]},"metadata":{"operationMetadataId":"bbeaa8c0-d97d-42ad-bde3-776d94ef414c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Update_item_5')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Update_item_6":{"runAfter":{},"metadata":{"operationMetadataId":"879e9371-8378-48af-a2cc-bae8fea619c9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/Hours":"@triggerOutputs()?['body/Hours']","item/Status/Value":"Approved","item/ApprovedDate":"@formatDateTime(utcNow(), 'yyyy-MM-dd')"},"authentication":"@parameters('$authentication')"}},"HDF_Get_Staff_from_Directory":{"runAfter":{"Update_item_6":["Succeeded"]},"metadata":{"operationMetadataId":"4702c142-ce1e-4f8b-b6bf-a618d948bccb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'","$top":5000},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_email_with_options_2":["Succeeded"]},"else":{"actions":{"HDF_Reject_Get_Staff_from_Directory":{"runAfter":{},"metadata":{"operationMetadataId":"df173f6d-7dca-4b19-9029-ca16e53f801b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'","$top":5000},"authentication":"@parameters('$authentication')"}},"HDF_Reject_Get_Staff_ID":{"runAfter":{"HDF_Reject_Get_Staff_from_Directory":["Succeeded"]},"metadata":{"operationMetadataId":"c47be953-9d1d-40ff-b50d-60d7fd6896fb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@first(body('HDF_Reject_Get_Staff_from_Directory')?['value'])?['ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_4":{"runAfter":{"HDF_Reject_Get_Staff_ID":["Succeeded"]},"metadata":{"operationMetadataId":"2707bad9-0a76-491b-93e4-f6a139417b76"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('HDF_Reject_Get_Staff_ID')?['body/EmailAddress']};@{variables('varManagerEmail')}","emailMessage/Subject":"@{outputs('HDF_Reject_Get_Staff_ID')?['body/Title']} Overtime Rejected - @{triggerOutputs()?['body/StartDate']}","emailMessage/Body":"<p><span style=\"font-size: 16px\"><strong>Overtime Request Details</strong></span><br>\n@{triggerOutputs()?['body/Title']}<br>\n<strong>Date:</strong> @{triggerOutputs()?['body/StartDate']}<br>\n<strong>Hours:</strong> @{triggerOutputs()?['body/Hours']}<br>\n<strong>Rejected by: </strong>@{triggerOutputs()?['body/Manager/DisplayName']}<br>\n<br>\n<span style=\"font-size: 16px\"><strong>Current Balances<br>\n</strong></span><span style=\"font-size: 12px\"><strong>Vacation -</strong></span><span style=\"font-size: 12px\"> </span><span style=\"font-size: 12px\">@{outputs('HDF_Reject_Get_Staff_ID')?['body/CurrentVacationBalance']}</span><span style=\"font-size: 12px\"></span><span style=\"font-size: 16px\"><strong> </strong></span><span style=\"font-size: 12px\"><strong>Days<br>\nSick Leave - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('HDF_Reject_Get_Staff_ID')?['body/CurrentSickDayBalance']}</strong></span><span style=\"font-size: 12px\"><strong> Days<br>\nCarry Over - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('HDF_Reject_Get_Staff_ID')?['body/CarryOver']}</strong></span><span style=\"font-size: 12px\"><strong> Days<br>\nTime Make-Up - </strong></span><span style=\"font-size: 12px\"><strong>@{outputs('HDF_Reject_Get_Staff_ID')?['body/CurrentOvertimeBalance']}</strong></span><span style=\"font-size: 12px\"><strong> Hours</strong></span></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_item_4":{"runAfter":{"Send_an_email_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"b33fe242-4200-4e7c-910a-d7f921adc043"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/Hours":"@triggerOutputs()?['body/Hours']","item/Status/Value":"Rejected"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Send_email_with_options_2')?['body/SelectedOption']","Approve"]},"metadata":{"operationMetadataId":"09303b88-0dc3-4170-9b2d-b7ddfa64351d"},"type":"If"}}},"expression":{"equals":["@variables('varIsHalfFriday')",false]},"metadata":{"operationMetadataId":"3918dd70-aa66-4ec3-b3e1-0cc8d2664708"},"type":"If"}},"runAfter":{"ini_varNewOvertimeBalance":["Succeeded"]},"else":{"actions":{"Get_Staff_from_Directory_4":{"runAfter":{},"metadata":{"operationMetadataId":"6c63b6dd-d2d8-4096-89c1-cd69a3248557"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'","$top":5000},"authentication":"@parameters('$authentication')"}},"Get_Staff_ID_3":{"runAfter":{"Get_Staff_from_Directory_4":["Succeeded"]},"metadata":{"operationMetadataId":"df892564-b7c5-4670-9c38-de9d2659b1e5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@first(body('Get_Staff_from_Directory_4')?['value'])?['ID']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_3":{"runAfter":{"Update_item_9":["Succeeded"]},"metadata":{"operationMetadataId":"03329edc-64ef-4517-af9d-bd8f3fb74db9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('Get_Staff_ID_3')?['body/EmailAddress']};@{variables('varManagerEmail')}","emailMessage/Subject":"Overtime Request - Auto Rejected","emailMessage/Body":"<p><strong>Request for Time Make-Up was auto-rejected by the system.<br>\n<br>\nDate requested is a company holiday: </strong>@{variables('varHolidayName')}<br>\n<br>\n<strong>Time Make-Up Request Details<br>\n</strong><strong>@{triggerOutputs()?['body/Title']}</strong><strong><br>\nDate: </strong><strong>@{triggerOutputs()?['body/StartDate']}</strong><strong><br>\nHours: </strong><strong>@{triggerOutputs()?['body/Hours']}</strong><strong></strong><br>\n<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Update_item_9":{"runAfter":{"Get_Staff_ID_3":["Succeeded"]},"metadata":{"operationMetadataId":"a545d3d2-bf75-43bc-834c-d96b72dd964a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/Hours":"@triggerOutputs()?['body/Hours']","item/Status/Value":"Rejected"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('varIsHoliday')",false]},"metadata":{"operationMetadataId":"7d1214f1-aadc-4be4-b662-2df433b089b1"},"type":"If"},"ini_varNewVacationBalance":{"runAfter":{"set_varManagerEmail":["Succeeded"]},"metadata":{"operationMetadataId":"5a93ff5c-335b-4417-913d-df551527f832"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNewVacationBalance","type":"float"}]}},"ini_varHolidayName":{"runAfter":{"ini_varIsHoliday":["Succeeded"]},"metadata":{"operationMetadataId":"3e2678db-c426-4a20-8aac-05756cafb8f3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varHolidayName","type":"string"}]}},"Get_Staff_ID_4":{"runAfter":{"Get_Staff_from_Directory":["Succeeded"]},"metadata":{"operationMetadataId":"e11cf8c9-3086-4efb-9b57-036e0b6d0412"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@first(body('Get_Staff_from_Directory')?['value'])?['ID']"},"authentication":"@parameters('$authentication')"}},"check_if_pending":{"actions":{},"runAfter":{},"else":{"actions":{"Terminate_2":{"runAfter":{},"metadata":{"operationMetadataId":"dc3f7e50-0470-4d08-9b61-2e4425195836"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@triggerOutputs()?['body/Status/Value']","Pending"]},"metadata":{"operationMetadataId":"c23f8e56-4a80-4cf0-8fcf-7db24933f4ee"},"type":"If"},"ini_varNewOvertimeBalance":{"runAfter":{"ini_varNewVacationBalance":["Succeeded"]},"metadata":{"operationMetadataId":"9b6ae6e2-6760-49be-9241-4e93a022aa7d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varNewOvertimeBalance","type":"float"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-9e23c3d5-938a-434c-9972-0ef4-e053bc48","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}