Legacy Power Automate Flows/01 New CarryOver Payout Request/Microsoft.Flow/flows/899fe88f-2422-4001-a405-0a9b7b5364fc/definition.json
{"name":"85186c50-d603-4b63-b4d1-ae2c0350a2a4","id":"/providers/Microsoft.Flow/flows/85186c50-d603-4b63-b4d1-ae2c0350a2a4","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"01 New CarryOver Payout Request","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/85186c50-d603-4b63-b4d1-ae2c0350a2a4-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-11-20T16:51:00.3517204Z","clientCreatedTime":"2024-11-01T20:06:28.4667412Z","connectionKeySavedTimeKey":"2026-02-22T21:13:04.5457572Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"82ba5bff-c86b-4134-bd1b-2541ce458031"},"type":"OpenApiConnectionWebhook","inputs":{"parameters":{"form_id":"XihRP5RV9kqGm_5ysyKY_XtMBVZQ5tFFu2Zb6gtWkHxUQU5ON0ZCM09FTlBZSEpPREIwMkFZSDRKOS4u"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"authentication":"@parameters('$authentication')"}}},"actions":{"if_carry_over":{"actions":{"Create_item":{"metadata":{"operationMetadataId":"642cd66f-294b-4ba5-b94c-6d0f86dfb20d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","item/TypeofRequest/Value":"Carry Over","item/Days":"@float(variables('CarryOverDays'))","item/SubmittedBy/Claims":"@outputs('Get_response_details')?['body/responder']","item/SystemState/Value":"Not Processed"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"payoutdays":["Succeeded"]},"else":{"actions":{"Create_item_2":{"metadata":{"operationMetadataId":"1f740a5f-9009-4e68-a90b-bca3bb49704c"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","item/TypeofRequest/Value":"Payout","item/Days":"@float(variables('PayoutDays'))","item/SubmittedBy/Claims":"@outputs('Get_response_details')?['body/responder']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Get_response_details')?['body/r80e2e591e5984e048d351d1787448a1b']","Carry Over"]},"metadata":{"operationMetadataId":"6e5faa1d-3d0f-45f6-81fd-20e1086bd449"},"type":"If"},"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"ea58cd37-c539-463f-9a76-98846196a6ba"},"type":"OpenApiConnection","inputs":{"parameters":{"form_id":"XihRP5RV9kqGm_5ysyKY_XtMBVZQ5tFFu2Zb6gtWkHxUQU5ON0ZCM09FTlBZSEpPREIwMkFZSDRKOS4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"authentication":"@parameters('$authentication')"}},"carryoverdays":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"ea40530d-c043-4547-bf7e-b1ff0c1a2d79"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CarryOverDays","type":"string","value":"@outputs('Get_response_details')?['body/r8a6e3546be4b43e8ba79c1393bfac08f']"}]}},"payoutdays":{"runAfter":{"carryoverdays":["Succeeded"]},"metadata":{"operationMetadataId":"7e26f037-ee59-4b6c-9d34-32c7c008251c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PayoutDays","type":"string","value":"@outputs('Get_response_details')?['body/r66ad9991168445ecaa113ebec66c53dc']"}]}}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-a54b0221-a579-4be7-8a8f-089904328c46","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}