Legacy Power Automate Flows/01 New Overtime Request/Microsoft.Flow/flows/3750f731-d9e5-4f42-bee5-f80396a104d1/definition.json
{"name":"0bce7695-56f4-49ac-9cf5-833a0f6bb661","id":"/providers/Microsoft.Flow/flows/0bce7695-56f4-49ac-9cf5-833a0f6bb661","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"01New Overtime Request","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-03-25T15:24:14.9169839Z","connectionKeySavedTimeKey":"2025-12-12T07:27:10.1108171Z","creationSource":null,"clientCreatedTime":"2023-09-20T21:04:40.6645619Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/0bce7695-56f4-49ac-9cf5-833a0f6bb661-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"493575ba-d55e-433c-bedb-1be8d85c96fd"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"XihRP5RV9kqGm_5ysyKY_XtMBVZQ5tFFu2Zb6gtWkHxUNFlYWDFHQkJGU0kwOVhIUldZVFNaVlZHNi4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"ba8eab48-fd65-4602-b71d-5a5b37d6a1d9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"XihRP5RV9kqGm_5ysyKY_XtMBVZQ5tFFu2Zb6gtWkHxUNFlYWDFHQkJGU0kwOVhIUldZVFNaVlZHNi4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Create_item":{"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"9b3d2041-3975-405b-ac45-d679f1a2c95b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133","item/Title":"@outputs('Get_response_details')?['body/re8625cf3120048b99b2fdf039297d6cb']","item/StartDate":"@outputs('Get_response_details')?['body/r800afdf6c60140c98a66804351ad06f9']","item/Hours":"@variables('IntegerValue')","item/Status/Value":"Pending","item/SubmittedBy/Claims":"@outputs('Get_response_details')?['body/responder']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"73c0fdf7-f2d4-4135-9565-3bdcf8af455a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IntegerValue","type":"integer","value":"@outputs('Compose')"}]}},"Compose":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"72869249-897a-4416-bd0f-dae154ac82ab"},"type":"Compose","inputs":"@int(outputs('Get_response_details')?['body/r5a6e0587b1f24871abf69b2d385f8484'])"}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-a54b0221-a579-4be7-8a8f-089904328c46","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}