Legacy Power Automate Flows/01 New Leave Request/Microsoft.Flow/flows/4209c9d9-c21b-4ce0-9579-12ac58ec6536/definition.json
{"name":"1f7558c1-d310-4e02-a60f-a7bffad95d50","id":"/providers/Microsoft.Flow/flows/1f7558c1-d310-4e02-a60f-a7bffad95d50","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"01New Leave Request","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-03-19T15:20:59.4438731Z","connectionKeySavedTimeKey":"2025-12-10T21:25:18.0325064Z","creationSource":null,"clientCreatedTime":"2023-09-08T19:20:52.5720847Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/1f7558c1-d310-4e02-a60f-a7bffad95d50-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_response_is_submitted":{"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"bdc1c425-7548-438a-885e-67eabbd17561"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"CreateFormWebhook"},"parameters":{"form_id":"XihRP5RV9kqGm_5ysyKY_XtMBVZQ5tFFu2Zb6gtWkHxUQlQ3M1pMTEREUUpCS0lUSVg4SlBNU0ZYNi4u"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_response_details":{"runAfter":{},"metadata":{"operationMetadataId":"bd7080b1-43ae-4cc5-ba8c-529de05b1d8a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","connectionName":"shared_microsoftforms","operationId":"GetFormResponseById"},"parameters":{"form_id":"XihRP5RV9kqGm_5ysyKY_XtMBVZQ5tFFu2Zb6gtWkHxUQlQ3M1pMTEREUUpCS0lUSVg4SlBNU0ZYNi4u","response_id":"@triggerOutputs()?['body/resourceData/responseId']"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"create_partial_off":{"runAfter":{"convert_hours_to_days":["Succeeded"]},"metadata":{"operationMetadataId":"8fa89dda-6250-4d66-a17e-ac0b26c41543"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","item/StartDate":"@outputs('Get_response_details')?['body/r19e871e014104a2e9aa6eda69a552a88']","item/EndDate":"@outputs('Get_response_details')?['body/r19e871e014104a2e9aa6eda69a552a88']","item/Title":"@outputs('Get_response_details')?['body/r81b2e7a9f75d40a2a7ed5b1fce7cd8cb']","item/LeaveType/Value":"Half Day or Partial Day Off","item/Status/Value":"Pending","item/Days":"@outputs('convert_hours_to_days')","item/SubmittedTest/Claims":"@outputs('Get_response_details')?['body/responder']","item/ApproveProcessedFlag/Value":"Not Processed"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"ed499881-c97f-4bc7-9c34-e205b07f1833"},"type":"SetVariable","inputs":{"name":"PartialDayOff","value":"@float(outputs('Get_response_details')?['body/r075404a5b71f4d299695dc51a6ad1399'])"}},"convert_hours_to_days":{"runAfter":{"Set_variable":["Succeeded"]},"metadata":{"operationMetadataId":"74bb3f58-38ce-430e-a433-337b71b2ce48"},"type":"Compose","inputs":"@div(variables('PartialDayOff'), 8)"}},"runAfter":{"Partial_Day_Off":["Succeeded"]},"else":{"actions":{"all_else":{"runAfter":{},"metadata":{"operationMetadataId":"0f67ed6a-4609-4702-be70-a1be38734692"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","item/StartDate":"@outputs('Get_response_details')?['body/r63897bc04a4845b2addd0943ce1129d5']","item/EndDate":"@outputs('Get_response_details')?['body/rc80c87151471403daf37403a71ba6932']","item/Title":"@{outputs('Get_response_details')?['body/ra7b58a44d6274782acc855d49a3ba4bd']} /// @{outputs('Get_response_details')?['body/r0de74658a5da4c649d16ea121664b48a']}","item/LeaveType/Value":"@outputs('Get_response_details')?['body/r128d9bfa82214b87bbf49724f449e9be']","item/Status/Value":"Pending","item/SubmittedTest/Claims":"@outputs('Get_response_details')?['body/responder']","item/ApproveProcessedFlag/Value":"Not Processed"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Get_response_details')?['body/r128d9bfa82214b87bbf49724f449e9be']","Half Day or Partial Day Off"]},"metadata":{"operationMetadataId":"6a59973d-440c-4a91-b2cf-b53123166101"},"type":"If"},"Partial_Day_Off":{"runAfter":{"Get_response_details":["Succeeded"]},"metadata":{"operationMetadataId":"7adb2df3-3498-43b3-b141-dafb6f53dea3"},"type":"InitializeVariable","inputs":{"variables":[{"name":"PartialDayOff","type":"float"}]}}}},"connectionReferences":{"shared_microsoftforms":{"connectionName":"shared-microsoftform-a54b0221-a579-4be7-8a8f-089904328c46","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_microsoftforms","tier":"NotSpecified","apiName":"microsoftforms","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}