Legacy Power Automate Flows/03 Leave Request Auto Manager/Microsoft.Flow/flows/ba9b65eb-b375-4e4f-97b1-bad870e26018/definition.json
{"name":"60cf666a-e0d3-4604-a02a-14eaccea5737","id":"/providers/Microsoft.Flow/flows/60cf666a-e0d3-4604-a02a-14eaccea5737","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"03Leave Request Auto Manager","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-01-21T18:56:55.8059391Z","connectionKeySavedTimeKey":"2025-12-12T06:05:02.1333386Z","creationSource":null,"clientCreatedTime":"2023-09-11T20:30:05.8188378Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/60cf666a-e0d3-4604-a02a-14eaccea5737-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"evaluatedRecurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"be4d4d7d-8e22-48b4-a90f-f17c6fd88d78"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"37b9f687-3e6f-46b8-bb88-4fbc5a7dea23"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedTest/DisplayName']}'"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Get_manager_supervisor":{"runAfter":{},"metadata":{"operationMetadataId":"0039b791-d609-4ee5-81b0-f69efc12f3e4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{body('Get_items')?['value'][0]['Supervisor']}'"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"get_employee_from_sd":["Succeeded"]},"metadata":{"operationMetadataId":"7a324051-4032-4114-94e5-3007313a3184"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/Manager/Claims":"@first(outputs('get_manager_supervisor')?['body']?['value'])?['EmailAddress']","item/Managertxt":"@first(outputs('get_manager_supervisor')?['body']?['value'])?['Title']","item/AllManagers":"@body('Select')","item/StaffLocation/Value":"@outputs('get_employee_from_sd')?['body/Location/Value']","item/StaffDepartment/Value":"@outputs('get_employee_from_sd')?['body/Department/Value']"},"authentication":"@parameters('$authentication')"}},"get_employee_from_sd":{"runAfter":{"Get_manager_supervisor":["Succeeded"]},"metadata":{"operationMetadataId":"276a54c6-4e59-4bf9-8165-6cb483fdd7d9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@body('Get_items')?['value'][0]['ID']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Select":["Succeeded"]},"expression":{"greater":["@length(body('Get_items')?['value'])",0]},"metadata":{"operationMetadataId":"20cd4c12-241f-4d59-893a-b0a8dce05c06"},"type":"If"},"Select":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"75bf22f1-c8fd-439f-bf9a-34adad09f259"},"type":"Select","inputs":{"from":"@body('Get_items')?['value'][0]?['AllManagers']","select":{"Claims":"@item()?['Claims']"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}