Legacy Power Automate Flows/03 CarryOver Payout Request Approval/Microsoft.Flow/flows/f6c556df-e22c-48af-8a1b-fa25d932e5a7/definition.json
{"name":"21d337dd-2e28-428f-ac05-ad93751a1026","id":"/providers/Microsoft.Flow/flows/21d337dd-2e28-428f-ac05-ad93751a1026","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"03 CarryOver Payout Request Approval","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/21d337dd-2e28-428f-ac05-ad93751a1026-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-12-12T21:08:05.9277846Z","clientCreatedTime":"2024-11-01T21:56:05.8981114Z","connectionKeySavedTimeKey":"2025-12-12T21:08:05.9277846Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_or_a_file_is_modified":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"0c35156a-d0a4-4e2b-9b93-aa24534901cb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnChangedItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb"},"authentication":"@parameters('$authentication')"}}},"actions":{"terminate_if_no_managertxt":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"a4a0b26c-5581-4ebf-8797-e84c4c0b905c"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"equals":["@triggerOutputs()?['body/Managertxt']","@null"]},"metadata":{"operationMetadataId":"80e74d00-7a59-43bf-8cbb-4bd509905418"},"type":"If"},"get_manager_from_SD":{"runAfter":{"extract_manager_ID":["Succeeded"]},"metadata":{"operationMetadataId":"dd88ddcd-875d-4da7-a60f-b835f4393712"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('extract_manager_ID')"},"authentication":"@parameters('$authentication')"}},"extract_employee_ID":{"runAfter":{"terminate_if_already_processed_or_processing":["Succeeded"]},"metadata":{"operationMetadataId":"34a22cbc-faab-431d-b6c1-22883a81846c"},"type":"Compose","inputs":"@triggerOutputs()?['body/EmployeeID']"},"extract_manager_ID":{"runAfter":{"extract_employee_ID":["Succeeded"]},"metadata":{"operationMetadataId":"d64b315c-56f7-4ba4-bdd0-b04d9307103e"},"type":"Compose","inputs":"@triggerOutputs()?['body/ManagerID']"},"get_employee_from_SD":{"runAfter":{"get_manager_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"a31c75e1-09f2-40b5-a74e-5c3e3564c8ad"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('extract_employee_ID')"},"authentication":"@parameters('$authentication')"}},"ini_current_vacation":{"runAfter":{"get_employee_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"53ee9fe3-5bc4-432d-b05e-4a204cd01ef9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CurrentVacation","type":"string","value":"@{outputs('get_employee_from_SD')?['body/CurrentVacationBalance']}"}]}},"ini_current_carry_over":{"runAfter":{"ini_current_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"c5094e1c-9e74-4414-a2df-83e5ba5119f7"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CurrentCarryOver","type":"string","value":"@{outputs('get_employee_from_SD')?['body/CarryOver']}"}]}},"ini_current_payout":{"runAfter":{"ini_current_carry_over":["Succeeded"]},"metadata":{"operationMetadataId":"64ad21eb-ab3d-47c2-baea-8668ab9196e4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CurrentPayout","type":"string","value":"@{outputs('get_employee_from_SD')?['body/Payout']}"}]}},"compose_new_carryover_or_payout":{"actions":{"compose_new_carryover":{"runAfter":{},"metadata":{"operationMetadataId":"bcddbe39-ea2d-474e-8cb3-78f648b6e7dc"},"type":"Compose","inputs":"@add(float(triggerOutputs()?['body/Days']), float(variables('CurrentCarryOver')))"}},"runAfter":{"compose_new_currentvacation":["Succeeded"]},"else":{"actions":{"compose_new_payout":{"runAfter":{},"metadata":{"operationMetadataId":"26e17dc5-f6c4-4ab7-bfad-76513f07811f"},"type":"Compose","inputs":"@add(float(triggerOutputs()?['body/Days']), float(variables('CurrentPayout')))"},"auto_reject_if_new_payout_is_more_than_5":{"actions":{"auto_reject_request_and_mark_as_processed":{"runAfter":{},"metadata":{"operationMetadataId":"e3fbeab3-4fcd-4e1a-9108-ae0ecaa6e81d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Title":"System Auto-Rejected: new Payout value will exceed 5.","item/Status/Value":"Rejected","item/SystemState/Value":"Processed"},"authentication":"@parameters('$authentication')"}},"Terminate_3":{"runAfter":{"Send_an_email_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"d5df9801-ee12-410d-ba58-12dcbe3fa5e7"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Send_an_email_(V2)_4":{"runAfter":{"auto_reject_request_and_mark_as_processed":["Succeeded"]},"metadata":{"operationMetadataId":"f21dc294-297d-4019-bf8a-3b7a85c0f501"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('get_employee_from_SD')?['body/EmailAddress']","emailMessage/Subject":"Payout Request - Auto Rejected","emailMessage/Body":"<p>Please note that your Payout Request #@{triggerOutputs()?['body/ID']} has been auto-rejected by the system.<br>\n<br>\n<strong>You may only request for a maximum for a total of 5 Payout days for the current calendar year.</strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"compose_new_payout":["Succeeded"]},"expression":{"greater":["@outputs('compose_new_payout')",5]},"metadata":{"operationMetadataId":"f417260d-88e4-469b-b43a-1f32f8e8d3bd"},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/TypeofRequest/Value']","Carry Over"]},"metadata":{"operationMetadataId":"e8135d10-5bc8-4ed8-86bc-80cfcfd22d46"},"type":"If"},"compose_new_currentvacation":{"runAfter":{"ini_current_payout":["Succeeded"]},"metadata":{"operationMetadataId":"ccca774f-a5e3-4533-9e40-6ec267f8420f"},"type":"Compose","inputs":"@sub(float(variables('CurrentVacation')), float(triggerOutputs()?['body/Days']))"},"terminate_if_payout_is_more_than_5_or_new_vacation_is_less_than_0":{"actions":{"notify_employee_request_auto_rejected":{"runAfter":{},"metadata":{"operationMetadataId":"1a8d8566-b217-481f-afc9-9b3673666311"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('get_employee_from_SD')?['body/EmailAddress']","emailMessage/Subject":"Carry Over / Payout Request - Auto Rejected","emailMessage/Body":"<p><strong>Your request for Carry Over or Payout has been auto-rejected by the system.</strong><br>\n<br>\n@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'s Current Balances:<br>\n<br>\nVacation - @{variables('CurrentVacation')} days<br>\nCarry Over - @{variables('CurrentCarryOver')} days<br>\nPayout - @{variables('CurrentPayout')} days<br>\n<br>\nBalance Transfer Request received was for @{triggerOutputs()?['body/Days']} days.<br>\n<br>\n<strong>Company Policy - Payout can not exceed 5 days. Current Vacation can not result in negative days.</strong><br>\n<br>\n<strong>If you did not make this request, please contact Human Resources Department.<br>\n</strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"terminate_if_negative_vac_or_payout_more_than_5":{"runAfter":{"reject_and_mark_processed":["Succeeded"]},"metadata":{"operationMetadataId":"cad05b94-4b49-4fb4-8636-5cbbc30788e0"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"reject_and_mark_processed":{"runAfter":{"notify_employee_request_auto_rejected":["Succeeded"]},"metadata":{"operationMetadataId":"572c7f7a-c946-4f38-8595-d43107dec8f6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Status/Value":"Rejected","item/SystemState/Value":"Processed"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"compose_new_carryover_or_payout":["Succeeded"]},"expression":{"less":["@outputs('compose_new_currentvacation')",0]},"metadata":{"operationMetadataId":"f584874d-ad69-4165-9eea-fdbf88b7983f"},"type":"If"},"if_carryover_or_payout":{"actions":{"notify_confirmation_to_employee":{"runAfter":{},"metadata":{"operationMetadataId":"69ca653a-b9fd-4392-bba1-a98c8dade81a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('get_employee_from_SD')?['body/EmailAddress']","emailMessage/Subject":"Request Received for Carry Over","emailMessage/Body":"<p>Please note that your balance transfer request for @{triggerOutputs()?['body/TypeofRequest/Value']} has been received. <strong>If you did not make this request, please contact Human Resources.</strong><br>\n<br>\n<strong>Request details:</strong><br>\n<br>\n@{triggerOutputs()?['body/TypeofRequest/Value']} for (@{triggerOutputs()?['body/Days']}) days, to be approved by @{triggerOutputs()?['body/Manager/DisplayName']}.<br>\n<br>\n<strong>Your current balances:</strong><br>\n<br>\nVacation - (@{variables('CurrentVacation')}) days<br>\nCarry Over - (@{variables('CurrentCarryOver')}) days<br>\nPayout - (@{variables('CurrentPayout')}) days<br>\n<br>\nSubmitted on (@{outputs('get_employee_from_SD')?['body/Created']}).<br>\n@{triggerOutputs()?['body/SubmittedBy/DisplayName']}<br>\n@{triggerOutputs()?['body/SubmittedBy/Email']}<br>\n<br>\n<strong>If approved, your balances will be adjusted to:</strong><br>\n<br>\nVacation - (@{outputs('compose_new_currentvacation')}) days<br>\nCarry Over - (@{outputs('compose_new_carryover')}) days<br>\nPayout - (@{variables('CurrentPayout')}) days<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Send_email_with_options":{"runAfter":{"notify_confirmation_to_employee":["Succeeded"]},"metadata":{"operationMetadataId":"f2b811de-2d09-4c21-9db6-604603cac326"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendMailWithOptions"},"parameters":{"optionsEmailSubscription/Message/To":"@{outputs('get_manager_from_SD')?['body/EmailAddress']}; mandyl@ucsh.com","optionsEmailSubscription/Message/Subject":"Carry Over Request #@{triggerOutputs()?['body/ID']} Submitted by @{triggerOutputs()?['body/SubmittedBy/DisplayName']}","optionsEmailSubscription/Message/Options":"Approve, Reject","optionsEmailSubscription/Message/Body":"<p>@{triggerOutputs()?['body/SubmittedBy/DisplayName']} has requested for @{triggerOutputs()?['body/Days']} days to be transferred to their @{triggerOutputs()?['body/TypeofRequest/Value']} balance.</p>\n\n<p><strong>@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'s current balances:</strong></p>\n<ul>\n  <li>Vacation - @{outputs('get_employee_from_SD')?['body/CurrentVacationBalance']} days</li>\n  <li>Carry Over - @{outputs('get_employee_from_SD')?['body/CarryOver']} days</li>\n  <li>Payout - @{outputs('get_employee_from_SD')?['body/Payout']} days</li>\n</ul>\n\n<p>Once approved, @{triggerOutputs()?['body/Days']} days will be transferred from @{triggerOutputs()?['body/SubmittedBy/DisplayName']}'s vacation balance to their @{triggerOutputs()?['body/TypeofRequest/Value']} balance.</p>\n\n<p><strong>@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'s new balances if approved:</strong></p>\n<ul>\n  <li>Vacation - @{outputs('compose_new_currentvacation')} days</li>\n  <li>Carry Over - @{outputs('compose_new_carryover')} days</li>\n  <li>Payout - @{variables('CurrentPayout')} days</li>\n</ul>\n","optionsEmailSubscription/Message/Importance":"High","optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":false,"optionsEmailSubscription/Message/HideMicrosoftFooter":true},"authentication":"@parameters('$authentication')"}},"if_approved_or_rejected_carryover":{"actions":{"Update_carry_over_balance_and_mark_system_check_ready":{"runAfter":{"mark_SD_employee_system_check_as_editing":["Succeeded"]},"metadata":{"operationMetadataId":"6161c624-6f13-46b6-9ab8-bdfd8f39e3e6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('get_employee_for_carryover_transfer')?['body/ID']","item/Title":"@outputs('get_employee_for_carryover_transfer')?['body/Title']","item/Supervisor":"@outputs('get_employee_for_carryover_transfer')?['body/Supervisor']","item/CurrentVacationBalance":"@outputs('compose_final_current_vacation')","item/CarryOver":"@outputs('compose_final_carryover')","item/SystemCheck/Value":"Ready"},"authentication":"@parameters('$authentication')"}},"update_carry_over_request_as_approved_and_processed":{"runAfter":{"Update_carry_over_balance_and_mark_system_check_ready":["Succeeded"]},"metadata":{"operationMetadataId":"c8965d0e-b09b-446b-8301-85eff8479a26"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Status/Value":"Approved","item/SystemState/Value":"Processed","item/NewBalance":"{Vacation:@{outputs('Update_carry_over_balance_and_mark_system_check_ready')?['body/CurrentVacationBalance']}, CarryOver:@{outputs('Update_carry_over_balance_and_mark_system_check_ready')?['body/CarryOver']}, Payout:@{outputs('Update_carry_over_balance_and_mark_system_check_ready')?['body/Payout']}}"},"authentication":"@parameters('$authentication')"}},"Wait_until_System_Check_is_Ready":{"actions":{"check_employee_SD_if_system_check_is_ready":{"runAfter":{},"metadata":{"operationMetadataId":"d4aaae2b-7e5f-4d7a-8548-426213b5c1cd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('get_employee_from_SD')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"if_system_check_is_ready_or_not":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"5647b187-fc8d-495c-84f8-dc022e66b4df"},"type":"SetVariable","inputs":{"name":"SystemCheckReady","value":"True"}}},"runAfter":{"check_employee_SD_if_system_check_is_ready":["Succeeded"]},"else":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"ab8774d5-7112-48b6-9259-2dcfbdea53b3"},"type":"SetVariable","inputs":{"name":"SystemCheckReady","value":"False"}},"wait_1_minute":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"67012440-8a57-4cea-9224-34055b0f5e32"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}}}},"expression":{"equals":["@outputs('check_employee_SD_if_system_check_is_ready')?['body/SystemCheck/Value']","Ready"]},"metadata":{"operationMetadataId":"4a498e24-0291-42c2-b95a-a24237d364c1"},"type":"If"}},"runAfter":{},"expression":"@equals(variables('SystemCheckReady'), True)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"2c3b1f8e-6822-4b38-bef1-285dba7850da"},"type":"Until"},"mark_SD_employee_system_check_as_editing":{"runAfter":{"auto_reject_request_if_employee_cant_afford_to_pay_for_request":["Succeeded"]},"metadata":{"operationMetadataId":"28cea928-2ba5-42b2-8b32-9910d4d33a7c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('get_employee_from_SD')?['body/ID']","item/Title":"@outputs('get_employee_from_SD')?['body/Title']","item/Supervisor":"@outputs('get_employee_from_SD')?['body/Supervisor']","item/SystemCheck/Value":"Editing"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"update_carry_over_request_as_approved_and_processed":["Succeeded"]},"metadata":{"operationMetadataId":"201ca0d6-e431-455b-98ff-13e08d65edff"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('get_employee_from_SD')?['body/EmailAddress']","emailMessage/Subject":"Carry Over Request #@{triggerOutputs()?['body/ID']} Approved","emailMessage/Body":"<p>Please note that your balance transfer request for Carry Over has been approved and processed.<br>\n<br>\nYour updated balances as of (@{outputs('update_carry_over_request_as_approved_and_processed')?['body/Modified']}) are as follows:<br>\n<br>\n<strong>Vacation </strong>- @{outputs('Update_carry_over_balance_and_mark_system_check_ready')?['body/CurrentVacationBalance']} days<br>\n<strong>Sick </strong>- @{outputs('Update_carry_over_balance_and_mark_system_check_ready')?['body/CurrentSickDayBalance']} days<br>\n<strong>Carry Over </strong>- @{outputs('Update_carry_over_balance_and_mark_system_check_ready')?['body/CarryOver']} days<br>\n<strong>Make Up</strong> - @{outputs('Update_carry_over_balance_and_mark_system_check_ready')?['body/CurrentOvertimeBalance']} days<br>\n<strong>Payout </strong>- @{outputs('Update_carry_over_balance_and_mark_system_check_ready')?['body/Payout']} days<br>\n<br>\n<strong>Please reach out to Human Resources for any inquiries regarding your Carry Over.</strong><br>\n</p>","emailMessage/Cc":"@outputs('get_manager_from_SD')?['body/EmailAddress']","emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"}},"auto_reject_request_if_employee_cant_afford_to_pay_for_request":{"actions":{"override_manager_approve":{"runAfter":{},"metadata":{"operationMetadataId":"92a14dc3-c44c-4c82-a8d9-20addbd39382"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('get_employee_from_SD')?['body/EmailAddress']}; @{outputs('get_manager_from_SD')?['body/EmailAddress']} ; mandyl@ucsh.com","emailMessage/Subject":"System Override Reject: Carry Over Request #@{triggerOutputs()?['body/ID']} Submitted by @{triggerOutputs()?['body/SubmittedBy/DisplayName']}","emailMessage/Body":"<p>Employee no longer has a sufficient vacation balance to accomodate the initial carry over / payout request at the time of manager's approval.</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"update_request_to_rejected_and_processed":{"runAfter":{"override_manager_approve":["Succeeded"]},"metadata":{"operationMetadataId":"cff6247a-e260-4bce-b9fc-eb1595a49ba9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Status/Value":"Rejected","item/SystemState/Value":"Processed"},"authentication":"@parameters('$authentication')"}},"Terminate_1":{"runAfter":{"update_request_to_rejected_and_processed":["Succeeded"]},"metadata":{"operationMetadataId":"d5cb69a4-5132-406a-9a44-bb7b201860fb"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"compose_final_carryover":["Succeeded"]},"expression":{"less":["@outputs('compose_final_current_vacation')",0]},"metadata":{"operationMetadataId":"c4d0f568-5a97-48d2-8f76-fb9f0ac9febf"},"type":"If"},"get_employee_for_carryover_transfer":{"runAfter":{"Wait_until_System_Check_is_Ready":["Succeeded"]},"metadata":{"operationMetadataId":"6ff1f806-d7a4-49ee-8fe1-c5ea3d464d1e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('get_employee_from_SD')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"set_final_current_vacation":{"runAfter":{"get_employee_for_carryover_transfer":["Succeeded"]},"metadata":{"operationMetadataId":"8a0c5ff6-3a7f-4896-b8bd-e08efdc29193"},"type":"SetVariable","inputs":{"name":"CurrentVacation","value":"@{outputs('get_employee_for_carryover_transfer')?['body/CurrentVacationBalance']}"}},"set_final_current_carry_over":{"runAfter":{"set_final_current_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"d981faf3-4990-4377-8c75-e17eb81a1dfd"},"type":"SetVariable","inputs":{"name":"CurrentCarryOver","value":"@{outputs('get_employee_for_carryover_transfer')?['body/CarryOver']}"}},"compose_final_current_vacation":{"runAfter":{"set_final_current_carry_over":["Succeeded"]},"metadata":{"operationMetadataId":"543cba6e-6abd-400f-870e-81db9939d039"},"type":"Compose","inputs":"@sub(float(variables('CurrentVacation')), float(triggerOutputs()?['body/Days']))"},"compose_final_carryover":{"runAfter":{"compose_final_current_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"608c827a-0d2f-4cf3-98be-fe2a4004c8e2"},"type":"Compose","inputs":"@add(float(triggerOutputs()?['body/Days']), float(variables('CurrentCarryOver')))"}},"runAfter":{"random_delay_15_minutes":["Succeeded"]},"else":{"actions":{"update_request_as_rejected_and_processed":{"runAfter":{},"metadata":{"operationMetadataId":"19396120-c6c5-436a-86c2-a2f1cc91eef9"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Status/Value":"Rejected","item/SystemState/Value":"Processed"},"authentication":"@parameters('$authentication')"}},"notify_employee_carry_over_rejected":{"runAfter":{"update_request_as_rejected_and_processed":["Succeeded"]},"metadata":{"operationMetadataId":"199db37d-aad7-494f-9154-b1918c35c9c5"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('get_employee_from_SD')?['body/EmailAddress']","emailMessage/Subject":"Carry Over Request #@{triggerOutputs()?['body/ID']} Rejected","emailMessage/Body":"<p>Balance transfer request for Carry Over, ID @{triggerOutputs()?['body/ID']}, has been rejected.<br>\n<br>\n<strong>Request details</strong>:<br>\n@{triggerOutputs()?['body/Days']} days to be transferred from @{triggerOutputs()?['body/SubmittedBy/DisplayName']}'s current @{outputs('get_employee_from_SD')?['body/CurrentVacationBalance']} day vacation balance to their Carry Over balance of @{outputs('get_employee_from_SD')?['body/CarryOver']}.<br>\n<br>\n<strong>No changes have been made to your existing balance.</strong><br>\n</p>","emailMessage/Cc":"@outputs('get_manager_from_SD')?['body/EmailAddress']","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Send_email_with_options')?['body/SelectedOption']","Approve"]},"metadata":{"operationMetadataId":"7bcdf929-b045-4be6-b2de-de2d46715a67"},"type":"If"},"random_delay_15_minutes":{"runAfter":{"Send_email_with_options":["Succeeded"]},"metadata":{"operationMetadataId":"234143a4-5a89-46e1-9565-34ad8298f61a"},"type":"Wait","inputs":{"interval":{"count":"@rand(1,900)","unit":"Second"}}}},"runAfter":{"update_request_as_processing":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"b2ba398a-fa1c-4a98-b9ad-28b4644d32f7"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('get_employee_from_SD')?['body/EmailAddress']","emailMessage/Subject":"Request Received for Payout","emailMessage/Body":"<p>Please note that your balance transfer request for @{triggerOutputs()?['body/TypeofRequest/Value']} has been received. <strong>If you did not make this request, please contact Human Resources.<br>\n<br>\nRequest details:<br>\n<br>\n</strong><strong>@{triggerOutputs()?['body/TypeofRequest/Value']}</strong><strong> </strong>for (@{triggerOutputs()?['body/Days']}) days, to be approved by @{triggerOutputs()?['body/Manager/DisplayName']}.<br>\n<br>\n<strong>Your current balances:<br>\n<br>\n</strong>Vacation - (@{variables('CurrentVacation')}) days<br>\nCarry Over - (@{variables('CurrentCarryOver')}) days<br>\nPayout - (@{variables('CurrentPayout')}) days<br>\n<br>\nSubmitted on (@{outputs('get_employee_from_SD')?['body/Created']}).<br>\n@{triggerOutputs()?['body/SubmittedBy/DisplayName']}<br>\n@{triggerOutputs()?['body/SubmittedBy/Email']}<br>\n<br>\n<strong>If approved, your balances will be adjusted to:</strong><br>\n<br>\nVacation - (@{outputs('compose_new_currentvacation')}) days<br>\nCarry Over - (@{variables('CurrentCarryOver')}) days<br>\nPayout - (@{outputs('compose_new_payout')}) days</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Send_email_with_options_2":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"bff73cec-35b3-470f-97b5-920e7c987301"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendMailWithOptions"},"parameters":{"optionsEmailSubscription/Message/To":"@{outputs('get_manager_from_SD')?['body/EmailAddress']}; mandyl@ucsh.com","optionsEmailSubscription/Message/Subject":"Payout Request #@{triggerOutputs()?['body/ID']} Submitted by @{triggerOutputs()?['body/SubmittedBy/DisplayName']}","optionsEmailSubscription/Message/Options":"Approve, Reject","optionsEmailSubscription/Message/Body":"<p>@{triggerOutputs()?['body/SubmittedBy/DisplayName']} has requested for @{triggerOutputs()?['body/Days']} days to be transferred to their @{triggerOutputs()?['body/TypeofRequest/Value']} balance.</p>\n\n<p><strong>@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'s current balances:</strong></p>\n<ul>\n  <li>Vacation - @{variables('CurrentVacation')} days</li>\n  <li>Carry Over - @{variables('CurrentCarryOver')} days</li>\n  <li>Payout - @{variables('CurrentPayout')} days</li>\n</ul>\n\n<p>Once approved, @{triggerOutputs()?['body/Days']} days will be transferred from @{triggerOutputs()?['body/SubmittedBy/DisplayName']}'s vacation balance to their @{triggerOutputs()?['body/TypeofRequest/Value']} balance.</p>\n\n<p><strong>@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'s new balances if approved:</strong></p>\n<ul>\n  <li>Vacation - @{outputs('compose_new_currentvacation')} days</li>\n  <li>Carry Over - @{variables('CurrentCarryOver')} days</li>\n  <li>Payout - @{outputs('compose_new_payout')} days</li>\n</ul>\n","optionsEmailSubscription/Message/Importance":"High","optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":false,"optionsEmailSubscription/Message/HideMicrosoftFooter":true},"authentication":"@parameters('$authentication')"}},"if_approved_or_rejected_payout":{"actions":{"wait_until_system_check_is_ready_payout":{"actions":{"check_employee_SD_if_system_check_is_ready_payout":{"runAfter":{},"metadata":{"operationMetadataId":"a6a06779-5e19-47e3-8787-2d484084f156"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('get_employee_from_SD')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"if_SD_system_check_is_ready_for_payout":{"actions":{"Set_variable_3":{"runAfter":{},"metadata":{"operationMetadataId":"921598a2-931e-4608-8e3b-ceab8b82c27a"},"type":"SetVariable","inputs":{"name":"SystemCheckReady","value":"True"}}},"runAfter":{"check_employee_SD_if_system_check_is_ready_payout":["Succeeded"]},"else":{"actions":{"Set_variable_4":{"runAfter":{},"metadata":{"operationMetadataId":"b14c3fc9-416d-484e-8eb5-927bf254ede0"},"type":"SetVariable","inputs":{"name":"SystemCheckReady","value":"False"}},"delay_1_minute":{"runAfter":{"Set_variable_4":["Succeeded"]},"metadata":{"operationMetadataId":"9bd313ff-e85b-4ac4-bb6c-148ee67b2cc3"},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}}}},"expression":{"equals":["@outputs('check_employee_SD_if_system_check_is_ready_payout')?['body/SystemCheck/Value']","Ready"]},"metadata":{"operationMetadataId":"881da046-6653-41fe-a7b9-09b9eedcc211"},"type":"If"}},"runAfter":{},"expression":"@equals(variables('SystemCheckReady'), True)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"e36dd713-4f0e-4657-b006-7f66883a5793"},"type":"Until"},"set_final_current_vacation_for_payout_transfer":{"runAfter":{"get_employee_for_payout_transfer":["Succeeded"]},"metadata":{"operationMetadataId":"fa27ef8a-3883-42fb-ac0a-83e984c5c38e"},"type":"SetVariable","inputs":{"name":"CurrentVacation","value":"@{outputs('get_employee_for_payout_transfer')?['body/CurrentVacationBalance']}"}},"set_final_current_payout":{"runAfter":{"set_final_current_vacation_for_payout_transfer":["Succeeded"]},"metadata":{"operationMetadataId":"d459ba0c-448f-4bcf-9fd4-860349c46272"},"type":"SetVariable","inputs":{"name":"CurrentPayout","value":"@{outputs('get_employee_for_payout_transfer')?['body/Payout']}"}},"compose_final_current_vacation_for_payout_transfer":{"runAfter":{"set_final_current_payout":["Succeeded"]},"metadata":{"operationMetadataId":"c4121b37-5152-4017-ae7f-3fa1edd6f555"},"type":"Compose","inputs":"@sub(float(variables('CurrentVacation')), float(triggerOutputs()?['body/Days']))"},"compose_final_payout":{"runAfter":{"compose_final_current_vacation_for_payout_transfer":["Succeeded"]},"metadata":{"operationMetadataId":"9ec4d9ea-4fb3-418d-97d0-e75b7aef18ed"},"type":"Compose","inputs":"@add(float(triggerOutputs()?['body/Days']), float(variables('CurrentPayout')))"},"update_employee_SD_with_final_payout_balance_and_mark_as_system_ready":{"runAfter":{"mark_SD_employe_system_check_as_editing_for_payout":["Succeeded"]},"metadata":{"operationMetadataId":"72d3a762-ea55-46bc-acb2-39566a9cd8c4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('get_employee_for_payout_transfer')?['body/ID']","item/Title":"@outputs('get_employee_for_payout_transfer')?['body/Title']","item/Supervisor":"@outputs('get_employee_for_payout_transfer')?['body/Supervisor']","item/CurrentVacationBalance":"@outputs('compose_final_current_vacation_for_payout_transfer')","item/Payout":"@outputs('compose_final_payout')","item/SystemCheck/Value":"Ready"},"authentication":"@parameters('$authentication')"}},"update_payout_request_as_approved_and_processed":{"runAfter":{"update_employee_SD_with_final_payout_balance_and_mark_as_system_ready":["Succeeded"]},"metadata":{"operationMetadataId":"375e63a1-c314-4b10-b5b5-cf0bd9281fe2"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Status/Value":"Approved","item/SystemState/Value":"Processed","item/NewBalance":"{Vacation:@{outputs('update_employee_SD_with_final_payout_balance_and_mark_as_system_ready')?['body/CurrentVacationBalance']}, CarryOver:@{outputs('update_employee_SD_with_final_payout_balance_and_mark_as_system_ready')?['body/CarryOver']}, Payout:@{outputs('update_employee_SD_with_final_payout_balance_and_mark_as_system_ready')?['body/Payout']}}"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_3":{"runAfter":{"update_payout_request_as_approved_and_processed":["Succeeded"]},"metadata":{"operationMetadataId":"eca1fab4-288c-4334-a2f9-2e43198c6d6b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('get_employee_from_SD')?['body/EmailAddress']","emailMessage/Subject":"Payout Request #@{triggerOutputs()?['body/ID']} Approved","emailMessage/Body":"<p>Please note that your balance transfer request for Payout has been approved and processed.<br>\n<br>\nYour updated balance as of (@{outputs('update_payout_request_as_approved_and_processed')?['body/Modified']}) are as follows:<br>\n<br>\n<strong>Vacation </strong>- @{outputs('update_employee_SD_with_final_payout_balance_and_mark_as_system_ready')?['body/CurrentVacationBalance']} days<br>\n<strong>Sick </strong>- @{outputs('update_employee_SD_with_final_payout_balance_and_mark_as_system_ready')?['body/CurrentSickDayBalance']} days<br>\n<strong>Carry Over</strong> - @{outputs('update_employee_SD_with_final_payout_balance_and_mark_as_system_ready')?['body/CarryOver']} days<br>\n<strong>Make Up </strong>- @{outputs('update_employee_SD_with_final_payout_balance_and_mark_as_system_ready')?['body/CurrentOvertimeBalance']} days<br>\n<strong>Payout </strong>- @{outputs('update_employee_SD_with_final_payout_balance_and_mark_as_system_ready')?['body/Payout']} days<br>\n<br>\n<strong>Please reach out to Human Resources for any inquiries regarding your Payout.</strong></p>","emailMessage/Cc":"@outputs('get_manager_from_SD')?['body/EmailAddress']","emailMessage/Importance":"High"},"authentication":"@parameters('$authentication')"}},"get_employee_for_payout_transfer":{"runAfter":{"wait_until_system_check_is_ready_payout":["Succeeded"]},"metadata":{"operationMetadataId":"6be09c58-1fd7-49eb-bed5-fcdf430a4087"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('get_employee_from_SD')?['body/ID']"},"authentication":"@parameters('$authentication')"}},"mark_SD_employe_system_check_as_editing_for_payout":{"runAfter":{"check_if_employee_can_still_afford_payout":["Succeeded"]},"metadata":{"operationMetadataId":"c14f065f-5fde-4b0d-a2da-a3d3fd351510"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('get_employee_from_SD')?['body/ID']","item/Title":"@outputs('get_employee_from_SD')?['body/Title']","item/Supervisor":"@outputs('get_employee_from_SD')?['body/Supervisor']","item/SystemCheck/Value":"Editing"},"authentication":"@parameters('$authentication')"}},"check_if_employee_can_still_afford_payout":{"actions":{},"runAfter":{"compose_final_payout":["Succeeded"]},"else":{"actions":{"override_manager_approve_for_payout_request":{"runAfter":{},"metadata":{"operationMetadataId":"27c14c0f-eca0-4624-b938-9010d332844e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{outputs('get_employee_for_payout_transfer')?['body/EmailAddress']}; @{outputs('get_manager_from_SD')?['body/EmailAddress']}; mandyl@ucsh.com","emailMessage/Subject":"Payout Request #@{triggerOutputs()?['body/ID']} Submitted by @{triggerOutputs()?['body/SubmittedBy/DisplayName']}","emailMessage/Body":"<p>Employee no longer has a sufficient vacation balance to accomodate the initial carry over / payout request at the time of manager's approval.</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"system_reject_request_due_to_insufficient_balance":{"runAfter":{"override_manager_approve_for_payout_request":["Succeeded"]},"metadata":{"operationMetadataId":"7c458f27-fd40-43d0-8f5f-11a21dd71640"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Status/Value":"Rejected","item/SystemState/Value":"Processed"},"authentication":"@parameters('$authentication')"}},"Terminate_4":{"runAfter":{"system_reject_request_due_to_insufficient_balance":["Succeeded"]},"metadata":{"operationMetadataId":"23dc0b83-1901-47a0-8704-c554e1597936"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"greaterOrEquals":["@outputs('compose_final_current_vacation_for_payout_transfer')",0]},"metadata":{"operationMetadataId":"a2c63eee-1e4c-4e04-97da-cd982ac02cc6"},"type":"If"}},"runAfter":{"Send_email_with_options_2":["Succeeded"]},"else":{"actions":{"update_payout_request_as_rejected_and_processed":{"runAfter":{},"metadata":{"operationMetadataId":"bbca2d5f-3961-4dfd-90c8-4e713049ddb1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Status/Value":"Rejected","item/SystemState/Value":"Processed"},"authentication":"@parameters('$authentication')"}},"notify_employee_payout_rejected":{"runAfter":{"update_payout_request_as_rejected_and_processed":["Succeeded"]},"metadata":{"operationMetadataId":"787d6c6a-a005-4b3e-80a2-85bb06203713"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@outputs('get_employee_from_SD')?['body/EmailAddress']","emailMessage/Subject":"Payout Request #@{triggerOutputs()?['body/ID']} Rejected","emailMessage/Body":"<p>Balance transfer request for Payout, ID @{triggerOutputs()?['body/ID']} has been rejected.<br>\n<br>\n<strong>Request details</strong>:<br>\n@{triggerOutputs()?['body/Days']} days to be transferred from @{outputs('update_payout_request_as_rejected_and_processed')?['body/SubmittedBy/DisplayName']}'s current @{outputs('get_employee_from_SD')?['body/CurrentVacationBalance']} day vacation balance to their Payout balance of @{outputs('get_employee_from_SD')?['body/Payout']}.<br>\n<br>\n<strong>No Changes have been made to your existing balance.</strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Send_email_with_options_2')?['body/SelectedOption']","Approve"]},"metadata":{"operationMetadataId":"f696abcf-8ab5-4fe6-aa57-102dc298f93b"},"type":"If"}}},"expression":{"equals":["@triggerOutputs()?['body/TypeofRequest/Value']","Carry Over"]},"metadata":{"operationMetadataId":"bcb72f6a-8e05-42fd-9b58-b2f5fe623c42"},"type":"If"},"SD_System_Check_Ready":{"runAfter":{"terminate_if_payout_is_more_than_5_or_new_vacation_is_less_than_0":["Succeeded"]},"metadata":{"operationMetadataId":"d5dffb10-8572-478d-92a8-b176752aaa5d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SystemCheckReady","type":"string","value":"False"}]}},"terminate_if_already_processed_or_processing":{"actions":{},"runAfter":{"terminate_if_no_managertxt":["Succeeded"]},"else":{"actions":{"Terminate_2":{"runAfter":{},"metadata":{"operationMetadataId":"70245ed4-c1f8-4bb4-a9cd-2c73619a215a"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"equals":["@triggerOutputs()?['body/SystemState/Value']","Not Processed"]},"metadata":{"operationMetadataId":"6fbd3fef-42c6-4183-a2b3-ca86c2d22e7a"},"type":"If"},"update_request_as_processing":{"runAfter":{"SD_System_Check_Ready":["Succeeded"]},"metadata":{"operationMetadataId":"00348713-b204-4bf0-946a-7c72e1a5cefd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/SystemState/Value":"Processing"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-9e23c3d5-938a-434c-9972-0ef4-e053bc48","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}