Legacy Power Automate Flows/99 Monthly SD Export/Microsoft.Flow/flows/3e288f45-7e36-4f46-8262-dcff1d1d84f1/definition.json
{"name":"389b1af0-464e-4ee6-873e-89e45af41712","id":"/providers/Microsoft.Flow/flows/389b1af0-464e-4ee6-873e-89e45af41712","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"99 Monthly SD Export","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-07-14T15:30:02.6657714Z","connectionKeySavedTimeKey":"2025-12-11T06:14:09.920594Z","creationSource":null,"modifiedSources":"Portal","clientCreatedTime":"2025-07-14T15:25:51.0260267Z","migrationSourceId":"/subscriptions/e7b494a2-b20f-44a7-a114-ee1488b57200/resourceGroups/3f51285e55944af6869bfe72b32298fd-default3f51285e55944af6869bfe72b32298fd-env/providers/Microsoft.Logic/workflows/389b1af0-464e-4ee6-873e-89e45af41712-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Month","interval":1,"startTime":"2025-07-15T14:00:00.000Z"},"evaluatedRecurrence":{"frequency":"Month","interval":1,"startTime":"2025-07-15T14:00:00.000Z"},"metadata":{"operationMetadataId":"99fa293b-d120-435c-b75e-2f69bde2215d"},"type":"Recurrence"}},"actions":{"get_sd":{"runAfter":{},"metadata":{"operationMetadataId":"026ebad2-55f9-4949-b0ca-dfc745b83211"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$top":5000},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":10000}}},"Select":{"runAfter":{"get_sd":["Succeeded"]},"metadata":{"operationMetadataId":"b413d277-02a5-416d-a2e2-077b6a873ea8"},"type":"Select","inputs":{"from":"@outputs('get_sd')?['body/value']","select":{"ID":"@item()?['ID']","Title":"@item()?['Title']","TitleLink":"@item()?['TitleLink/DisplayName']","Email Address":"@item()?['EmailAddress']","Cell Number":"@item()?['CellNumber']","Extension":"@item()?['Extension']","Birthday":"@item()?['Birthday']","Location":"@item()?['Location/Value']","Department":"@item()?['Department/Value']","Salary Hourly":"@item()?['SalaryHourly/Value']","Supervisor":"@item()?['Supervisor']","SupervisorLink":"@item()?['SupervisorLink/DisplayName']","AllManagers":"","Vacation Entitlement":"@item()?['DefaultYearlyVacationDays']","Current Vacation Balance":"@item()?['CurrentVacationBalance']","Sick Day Entitlement":"@item()?['SickDayEntitlement']","Current Sick Day Balance":"@item()?['CurrentSickDayBalance']","Carry Over Balance":"@item()?['CarryOver']","Current Make Up Balance":"@item()?['CurrentOvertimeBalance']","Payout":"@item()?['Payout']","Modified":"@item()?['Modified']","System Check":"@item()?['SystemCheck/Value']"}}},"Create_CSV_table":{"runAfter":{"Select":["Succeeded"]},"metadata":{"operationMetadataId":"66383125-91de-4b2a-8aff-4e2d3520b815"},"type":"Table","inputs":{"from":"@body('Select')","format":"CSV"}},"Create_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"metadata":{"operationMetadataId":"155904cd-6573-4b21-b3d6-bc52bca5f374"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","folderPath":"/Shared Documents/dont touch/SD Archive","name":"SD_snapshot_@{utcNow()}.csv","body":"@body('Create_CSV_table')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}