Legacy Power Automate Flows/08 Leave Request Bereavement and Jury Duty AIert/Microsoft.Flow/flows/0355f604-2356-475f-877e-69159e0ac316/definition.json
{"name":"cbbe064e-d472-4b7d-b813-0f2de2860fb2","id":"/providers/Microsoft.Flow/flows/cbbe064e-d472-4b7d-b813-0f2de2860fb2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"08 Leave Request Bereavement and Jury Duty Alert","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-03-19T18:07:44.5152736Z","connectionKeySavedTimeKey":"2025-12-12T09:06:01.2892825Z","creationSource":null,"clientCreatedTime":"2024-01-16T22:12:41.9287044Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/cbbe064e-d472-4b7d-b813-0f2de2860fb2-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"b4873a2e-a37d-4db6-a2f7-39b839010b79"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Send_an_email_(V2)":{"runAfter":{},"metadata":{"operationMetadataId":"357f2fb7-58d2-411e-be93-682c9831cb1b"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"Mandyl@ucsh.com;generalmail@ucsh.com","emailMessage/Subject":"Jury Duty / Bereavement Alert","emailMessage/Body":"<p>Employee (@{triggerOutputs()?['body/SubmittedTest/DisplayName']}) has leave for @{triggerOutputs()?['body/LeaveType/Value']}.<br>\n<br>\nDetails:<br>\n@{triggerOutputs()?['body/Title']}<br>\n<br>\n@{triggerOutputs()?['body/StartDate']} to @{triggerOutputs()?['body/EndDate']}<br>\n<br>\nLink to request: @{triggerOutputs()?['body/{Link}']}</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"e92187b3-f88c-482a-b0bc-0348e8ad7f81"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"or":[{"equals":["@triggerOutputs()?['body/LeaveType/Value']","Bereavement"]},{"equals":["@triggerOutputs()?['body/LeaveType/Value']","Jury Duty"]}]},"metadata":{"operationMetadataId":"b61b0fc9-3b26-4f35-8974-3f51daed6eaa"},"type":"If"}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-9e23c3d5-938a-434c-9972-0ef4-e053bc48","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}