Legacy Power Automate Flows/02 Leave Request Auto Calculate Days/Microsoft.Flow/flows/c54c27ea-df66-4ac1-ad09-0ca8abedc391/definition.json
{"name":"fc4e1dca-5e91-4303-abbb-6958dc878139","id":"/providers/Microsoft.Flow/flows/fc4e1dca-5e91-4303-abbb-6958dc878139","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"02Leave Request - Auto Calculate Days","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-09-03T18:04:19.8987879Z","connectionKeySavedTimeKey":"2025-12-09T08:31:02.6923165Z","creationSource":null,"clientCreatedTime":"2023-08-30T21:24:57.9350131Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/fc4e1dca-5e91-4303-abbb-6958dc878139-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"45af3d1b-1f8e-4697-85cc-3596f5fa6240"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_Start_Date":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"25087b92-ccfd-40c2-9ebf-ace19d614d37"},"type":"InitializeVariable","inputs":{"variables":[{"name":"startDate","type":"string","value":"@triggerOutputs()?['body/StartDate']"}]}},"Initialize_End_Date":{"runAfter":{"Initialize_Start_Date":["Succeeded"]},"metadata":{"operationMetadataId":"e47620e0-ae27-470d-b42a-ac360ee57214"},"type":"InitializeVariable","inputs":{"variables":[{"name":"endDate","type":"string","value":"@triggerOutputs()?['body/EndDate']"}]}},"Initialize_Day_Count":{"runAfter":{"Initialize_End_Date":["Succeeded"]},"metadata":{"operationMetadataId":"295b4e67-3423-4469-81a3-50496aff118e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"dayCount","type":"float","value":0}]}},"initialize_specialStart":{"runAfter":{"get_special_start":["Succeeded"]},"metadata":{"operationMetadataId":"0fd88207-7a69-4156-addf-a0368769bd9a"},"type":"InitializeVariable","inputs":{"variables":[{"name":"specialStart","type":"string","value":"@{outputs('get_special_start')?['body/value'][0]?['Date']}"}]}},"initialize_specialEnd":{"runAfter":{"get_special_end":["Succeeded"]},"metadata":{"operationMetadataId":"1543c0ac-30e7-44d8-846a-eb175aa0d2fc"},"type":"InitializeVariable","inputs":{"variables":[{"name":"specialEnd","type":"string","value":"@{outputs('get_special_end')?['body/value'][0]?['Date']}"}]}},"Do_until":{"actions":{"deduct_weekends_and_half_fridays":{"actions":{"Set_variable":{"runAfter":{},"metadata":{"operationMetadataId":"7e85e686-b548-4d79-a3e2-622b257e115d"},"type":"SetVariable","inputs":{"name":"isWeekend","value":true}}},"runAfter":{"debug_startDate_temp_2":["Succeeded"]},"else":{"actions":{"Set_variable_2":{"runAfter":{},"metadata":{"operationMetadataId":"f193f7dd-1374-4dfa-9ed5-c7240516277d"},"type":"SetVariable","inputs":{"name":"isWeekend","value":false}},"Increment_variable":{"runAfter":{"Set_variable_2":["Succeeded"]},"metadata":{"operationMetadataId":"eb5e9b2b-b76a-4a14-a989-fd12a6ca52a1"},"type":"IncrementVariable","inputs":{"name":"dayCount","value":1}},"check_if_friday":{"runAfter":{"temp_debug_special_end":["Succeeded"]},"metadata":{"operationMetadataId":"3d48020e-e32f-44a5-89ea-b61aa249f4ec"},"type":"Compose","inputs":"@and(\r\n    equals(dayOfWeek(variables('startDate')), 5),\r\n    and(\r\n        greaterOrEquals(formatDateTime(variables('startDate'), 'yyyy-MM-dd'), formatDateTime(variables('specialStart'), 'yyyy-MM-dd')),\r\n        lessOrEquals(formatDateTime(variables('startDate'), 'yyyy-MM-dd'), formatDateTime(variables('specialEnd'), 'yyyy-MM-dd'))\r\n    )\r\n)"},"Condition_2":{"actions":{"remove_half_from_friday":{"runAfter":{},"metadata":{"operationMetadataId":"68d31f91-5d6e-42f1-8624-58b72bfb0344"},"type":"Compose","inputs":"@add(variables('dayCount'), -0.5)\n"},"update_dayCount":{"runAfter":{"remove_half_from_friday":["Succeeded"]},"metadata":{"operationMetadataId":"ea222c36-08cb-4133-855b-68767933d48d"},"type":"SetVariable","inputs":{"name":"dayCount","value":"@outputs('remove_half_from_friday')"}}},"runAfter":{"check_if_friday":["Succeeded"]},"expression":{"equals":["@outputs('check_if_friday')",true]},"metadata":{"operationMetadataId":"e121ec37-4249-4ce2-80a2-9ff89bbc192c"},"type":"If"},"temp_debug_special_start":{"runAfter":{"temp_debug_startdate":["Succeeded"]},"metadata":{"operationMetadataId":"84818b4e-5f5e-4a07-afb2-b03e98b55899"},"type":"Compose","inputs":"@variables('specialStart')"},"temp_debug_special_end":{"runAfter":{"temp_debug_special_start":["Succeeded"]},"metadata":{"operationMetadataId":"c8ed3400-c826-4c06-a82f-a5734570394c"},"type":"Compose","inputs":"@variables('specialEnd')"},"temp_debug_startdate":{"runAfter":{"Increment_variable":["Succeeded"]},"metadata":{"operationMetadataId":"1119a288-343c-4311-8836-396b82f3b1e8"},"type":"Compose","inputs":"@variables('startDate')"}}},"expression":{"equals":["@or(equals(dayOfWeek(variables('startDate')), 0), equals(dayOfWeek(variables('startDate')), 6))",true]},"metadata":{"operationMetadataId":"91c32174-8c8f-4b95-9a9c-b0324f6e9fa3"},"type":"If"},"Apply_to_each":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"deduct_holidays":{"actions":{"subtract_1_from_dayCount":{"runAfter":{},"metadata":{"operationMetadataId":"23963000-e278-42b6-bdb1-2bc17dc9c3c6"},"type":"Compose","inputs":"@sub(variables('dayCount'), 1)"},"Set_variable_3":{"runAfter":{"subtract_1_from_dayCount":["Succeeded"]},"metadata":{"operationMetadataId":"f5f59416-6e1c-4883-a4dc-71ce0f8cf950"},"type":"SetVariable","inputs":{"name":"dayCount","value":"@outputs('subtract_1_from_dayCount')"}}},"runAfter":{},"expression":{"and":[{"equals":["@formatDateTime(variables('startDate'), 'yyyy-MM-dd')","@formatDateTime(items('Apply_to_each')?['Date'], 'yyyy-MM-dd')"]},{"not":{"equals":["@formatDateTime(variables('startDate'), 'yyyy-MM-dd')","@variables('specialStart')"]}},{"not":{"equals":["@formatDateTime(variables('startDate'), 'yyyy-MM-dd')","@variables('specialEnd')"]}}]},"metadata":{"operationMetadataId":"803ff5d7-64dd-421b-8e22-0099f66e5e23"},"type":"If"}},"runAfter":{"deduct_weekends_and_half_fridays":["Succeeded"]},"metadata":{"operationMetadataId":"e12db199-75bd-4950-9f4e-241a12f92102"},"type":"Foreach"},"move_on_to_next_day":{"runAfter":{"Compose_next_day":["Succeeded"]},"metadata":{"operationMetadataId":"8513576d-071e-47aa-b520-1598dfb9e974"},"type":"SetVariable","inputs":{"name":"startDate","value":"@{outputs('Compose_next_day')}"}},"Compose_next_day":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"727dd4f0-d2a9-4730-9516-23c87b0f36be"},"type":"Compose","inputs":"@addDays(variables('startDate'), 1)"},"debug_startDate_temp":{"runAfter":{},"metadata":{"operationMetadataId":"079cf188-7918-47a5-b0b0-de9971bf3e17"},"type":"Compose","inputs":"@variables('startDate')"},"debug_startDate_temp_2":{"runAfter":{"debug_startDate_temp":["Succeeded"]},"metadata":{"operationMetadataId":"77a2b348-2754-49e1-825d-924499b693e8"},"type":"Compose","inputs":"@dayOfWeek(variables('startDate'))"},"Compose":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"11b0fd56-0641-40dd-96f3-27b2093876f4"},"type":"Compose","inputs":"@variables('dayCount')"}},"runAfter":{"Partial_Day_-_Branch_off_holiday_check_with_terminate_succeed":["Succeeded"]},"expression":"@greater(formatDateTime(variables('startDate'), 'yyyy-MM-dd'), formatDateTime(variables('endDate'), 'yyyy-MM-dd'))","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"5423b779-fc79-4bdd-a403-5fbacc2e7737"},"type":"Until"},"Initialize_isWeekend":{"runAfter":{"Initialize_Day_Count":["Succeeded"]},"metadata":{"operationMetadataId":"c4aafc30-7e6e-4d5e-a074-ac0da75841c4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"isWeekend","type":"boolean","value":false}]}},"Get_items":{"runAfter":{"Check_if_Ontario":["Succeeded"]},"metadata":{"operationMetadataId":"43c045c1-f79d-4fae-aecd-6d29a0716c66"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"391e299d-c537-44c4-90c8-462e2ca2db5f","$filter":"Province eq '@{variables('Province')}'"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Do_until":["Succeeded"]},"metadata":{"operationMetadataId":"d75f9a2c-c49c-4311-90f4-25108b179589"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/Days":"@variables('dayCount')","item/Status/Value":"Pending"},"authentication":"@parameters('$authentication')"}},"Initialize_Submitted_By":{"runAfter":{},"metadata":{"operationMetadataId":"1657004a-bfb0-43c3-b895-e1957fb2afc8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SubmittedBy","type":"string","value":"@triggerOutputs()?['body/SubmittedTest/DisplayName']"}]}},"Get_Items_Location":{"runAfter":{"Initialize_Submitted_By":["Succeeded"]},"metadata":{"operationMetadataId":"3d1fa719-c7fd-4054-a555-8c3820368544"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{variables('SubmittedBy')}'"},"authentication":"@parameters('$authentication')"}},"Initialize_Province":{"runAfter":{"Initialize_Location":["Succeeded"]},"metadata":{"operationMetadataId":"5f89ecb4-cf55-4716-9feb-bd40de3421db"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Province","type":"string"}]}},"Check_if_Ontario":{"actions":{"Set_variable_6":{"runAfter":{},"metadata":{"operationMetadataId":"1acd5398-c91f-47dd-92af-143ed4d0c7df"},"type":"SetVariable","inputs":{"name":"Province","value":"ON"}}},"runAfter":{"Initialize_Province":["Succeeded"]},"else":{"actions":{"Check_if_British_Columbia":{"actions":{"Set_variable_7":{"runAfter":{},"metadata":{"operationMetadataId":"ad3a2dca-1500-4139-8fd5-dd2783f8faab"},"type":"SetVariable","inputs":{"name":"Province","value":"BC"}}},"runAfter":{},"else":{"actions":{"Check_if_Newfound_Land":{"actions":{"Set_variable_8":{"runAfter":{},"metadata":{"operationMetadataId":"4180ad7d-7fc1-42ca-b4a8-0321dd5fe7b8"},"type":"SetVariable","inputs":{"name":"Province","value":"NL"}}},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"fdb70a96-8d0a-4cb5-86df-02272e2f43dd"},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"message":"Province can not be determined"}}}}},"expression":{"equals":["@variables('Location')","Newfound Land"]},"metadata":{"operationMetadataId":"90576187-e613-43f3-8580-28a0ed6184a5"},"type":"If"}}},"expression":{"equals":["@variables('Location')","British Columbia"]},"metadata":{"operationMetadataId":"b6327b61-a32e-41ac-b019-213d8cb333b1"},"type":"If"}}},"expression":{"or":[{"equals":["@variables('Location')","Toronto Victoria Park"]},{"equals":["@variables('Location')","Toronto Warden"]},{"equals":["@variables('Location')","Ottawa"]},{"equals":["@variables('Location')","Leaside"]},{"equals":["@variables('Location')","Barrie"]}]},"metadata":{"operationMetadataId":"f29f58e1-e4e6-4843-be5c-eb29f41df1cf"},"type":"If"},"Initialize_Location":{"runAfter":{"Compose_Location":["Succeeded"]},"metadata":{"operationMetadataId":"fb8d5246-4837-4fc2-af20-8618497bee07"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Location","type":"string","value":"@{outputs('Compose_Location')}"}]}},"Compose_Location":{"runAfter":{"Get_Items_Location":["Succeeded"]},"metadata":{"operationMetadataId":"8d9fa8c3-9173-44cd-9edd-ad4e5669b52b"},"type":"Compose","inputs":"@outputs('Get_Items_Location')?['body/value'][0]?['Location']?['Value']"},"get_special_start":{"runAfter":{"Initialize_isWeekend":["Succeeded"]},"metadata":{"operationMetadataId":"735aa5c3-68c6-4c4b-8521-d205f048c3af"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"391e299d-c537-44c4-90c8-462e2ca2db5f","$filter":"Province eq '@{variables('Province')}' and Title eq 'Half Fridays START'","$top":1},"authentication":"@parameters('$authentication')"}},"get_special_end":{"runAfter":{"initialize_specialStart":["Succeeded"]},"metadata":{"operationMetadataId":"cf4ec745-12cf-44e0-a159-987aa51c311d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"391e299d-c537-44c4-90c8-462e2ca2db5f","$filter":"Province eq '@{variables('Province')}' and Title eq 'Half Fridays END'","$top":1},"authentication":"@parameters('$authentication')"}},"Partial_Day_-_Branch_off_holiday_check_with_terminate_succeed":{"actions":{"apply_for_each_holiday":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"Condition":{"actions":{"holiday_reject_partial":{"runAfter":{},"metadata":{"operationMetadataId":"1d36d86e-71dd-4d42-be32-2c8b417ad9ed"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/Status/Value":"Rejected","item/ApproveProcessedFlag/Value":"Processed"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Compose_matched_Holiday's_name":["Succeeded"]},"metadata":{"operationMetadataId":"3c9953c5-b131-4773-b88e-de7169d42f69"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/SubmittedTest/Email']","emailMessage/Subject":"Partial Day Request - Auto Rejected","emailMessage/Body":"<p><strong>Your Partial Day-Off has been auto-rejected by the system due to the requested date being a company holiday; </strong><strong>@{outputs('Compose_matched_Holiday''s_name')}</strong><strong><br>\n<br>\nRequest Details:<br>\n</strong><strong>@{triggerOutputs()?['body/LeaveType/Value']}</strong><strong><br>\n</strong><strong>@{triggerOutputs()?['body/StartDate']}</strong><strong><br>\n</strong><strong>@{triggerOutputs()?['body/Title']}</strong><strong></strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Compose_matched_Holiday's_name":{"runAfter":{"holiday_reject_partial":["Succeeded"]},"metadata":{"operationMetadataId":"4e0af0e7-b36b-435b-9269-3b0f507cc519"},"type":"Compose","inputs":"@items('apply_for_each_holiday')?['Title']"}},"runAfter":{},"expression":{"and":[{"equals":["@triggerOutputs()?['body/StartDate']","@items('apply_for_each_holiday')?['Date']"]},{"not":{"contains":["@items('apply_for_each_holiday')?['Title']","START"]}},{"not":{"contains":["@items('apply_for_each_holiday')?['Title']","END"]}}]},"metadata":{"operationMetadataId":"486a0501-164a-4e1b-a9bb-5e4c6a4520b3"},"type":"If"}},"runAfter":{},"metadata":{"operationMetadataId":"9c6710a9-d4b1-4b33-9fee-5fd787e6306b"},"type":"Foreach"},"check_if_half_day_friday_limit":{"actions":{"Update_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"c731ba27-af9a-436d-b92a-9b483ffb61d6"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/Status/Value":"Rejected","item/ApproveProcessedFlag/Value":"Processed"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Update_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"e0f1bb74-b199-465d-bfda-ea1e65641cb0"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@triggerOutputs()?['body/SubmittedTest/Email']","emailMessage/Subject":"Leave Request @{triggerOutputs()?['body/ID']} @{triggerOutputs()?['body/SubmittedTest/DisplayName']}","emailMessage/Body":"<p><strong>Your Partial Day-Off has been auto-rejected, system has detected the requested date is a Half-Day Friday, and the requested amount of hours exceeds 4 hours.<br>\n<br>\nRequest Details:<br>\n</strong><strong>@{triggerOutputs()?['body/LeaveType/Value']}</strong><strong><br>\n</strong><strong>@{triggerOutputs()?['body/StartDate']}</strong><strong><br>\n</strong><strong>@{triggerOutputs()?['body/Title']}</strong><strong></strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Terminate_3":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"cb9b4dea-af5b-4522-b1c7-9e34fa0fcc3a"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"apply_for_each_holiday":["Succeeded"]},"else":{"actions":{"Terminate_2":{"runAfter":{},"metadata":{"operationMetadataId":"005bc3a4-c5a4-490b-9849-66c41558fa0f"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"and":[{"equals":["@dayOfWeek(triggerOutputs()?['body/StartDate'])",5]},{"greaterOrEquals":["@triggerOutputs()?['body/StartDate']","@variables('specialStart')"]},{"lessOrEquals":["@triggerOutputs()?['body/StartDate']","@variables('specialEnd')"]},{"greater":["@triggerOutputs()?['body/Days']",0.5]}]},"metadata":{"operationMetadataId":"9bebde28-27bb-4c8c-8899-80f0286dc6f0"},"type":"If"}},"runAfter":{"initialize_specialEnd":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/LeaveType/Value']","Half Day or Partial Day Off"]},"metadata":{"operationMetadataId":"a06de337-d3b9-40b5-a602-f3efb8dc67f4"},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-9e23c3d5-938a-434c-9972-0ef4-e053bc48","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}