Legacy Power Automate Flows/02 CarryOver Payout Auto Manager/Microsoft.Flow/flows/7bceac57-e9ab-4dc0-a01d-54ca5d554f6c/definition.json
{"name":"e6cc8f70-bfa4-4de4-a770-543a76f5de4c","id":"/providers/Microsoft.Flow/flows/e6cc8f70-bfa4-4de4-a770-543a76f5de4c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"02 CarryOver Payout Auto Manager","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-02T01:11:16.5816135Z","connectionKeySavedTimeKey":"2025-12-11T09:07:03.3539411Z","creationSource":null,"clientCreatedTime":"2024-11-01T20:53:20.3761307Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/e6cc8f70-bfa4-4de4-a770-543a76f5de4c-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"evaluatedRecurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"0d13349a-078a-4d09-b1ac-f95a35a67fcd"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb"},"authentication":"@parameters('$authentication')"}}},"actions":{"get_employee_from_SD":{"runAfter":{},"metadata":{"operationMetadataId":"6fed16ca-1415-4472-9bbd-fea45f1f84a4"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"EmailAddress eq '@{triggerOutputs()?['body/SubmittedBy/Email']}'"},"authentication":"@parameters('$authentication')"}},"extract_manager_name_from_SD":{"runAfter":{"get_employee_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"a54816bf-5762-4c39-bfa5-3465112c68e1"},"type":"Compose","inputs":"@first(body('get_employee_from_SD')?['value'])?['Supervisor']"},"extract_employee_ID_from_SD":{"runAfter":{"extract_manager_name_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"860fe486-d309-403d-8794-ba9a823fb19d"},"type":"Compose","inputs":"@first(body('get_employee_from_SD')?['value'])?['ID']"},"get_manager_from_SD":{"runAfter":{"extract_employee_ID_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"c1c54201-c36a-46e4-bc76-3ba9e24d248d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{outputs('extract_manager_name_from_SD')}'"},"authentication":"@parameters('$authentication')"}},"extract_manager_ID_from_SD":{"runAfter":{"get_manager_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"1ca1036f-3a63-445c-ae3a-ede88248bd82"},"type":"Compose","inputs":"@first(body('get_manager_from_SD')?['value'])?['ID']"},"get_employee":{"runAfter":{"extract_manager_ID_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"7142af31-0d1e-4048-9f08-8b16edea8bae"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('extract_employee_ID_from_SD')"},"authentication":"@parameters('$authentication')"}},"get_manager":{"runAfter":{"get_employee":["Succeeded"]},"metadata":{"operationMetadataId":"e674fda2-ee48-4a81-8b0c-495ec5ad152d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('extract_manager_ID_from_SD')"},"authentication":"@parameters('$authentication')"}},"update_carryover_payout_request_with_manager_and_employee_IDs":{"runAfter":{"get_manager":["Succeeded"]},"metadata":{"operationMetadataId":"4fabbafc-7437-4416-9fbe-bd75466b7ac8"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bcfd8cc6-b29f-4d6f-a449-cb1d0a9251bb","id":"@triggerOutputs()?['body/ID']","item/Manager/Claims":"@outputs('get_manager')?['body/EmailAddress']","item/Managertxt":"@outputs('get_manager')?['body/Title']","item/SystemState/Value":"Not Processed","item/EmployeeID":"@outputs('get_employee')?['body/ID']","item/ManagerID":"@outputs('get_manager')?['body/ID']"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}