Legacy Power Automate Flows/07 Leave Request SMS Approval/Microsoft.Flow/flows/53a56c18-7ff8-4747-8edf-4671055529bb/definition.json
{"name":"cc5bcdb0-1f93-4245-bfbe-c3c886e0b6f2","id":"/providers/Microsoft.Flow/flows/cc5bcdb0-1f93-4245-bfbe-c3c886e0b6f2","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"07 Leave Request - SMS Approval","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-10-21T18:34:42.1337602Z","connectionKeySavedTimeKey":"2026-01-21T18:10:01.9541868Z","creationSource":null,"modifiedSources":"Portal","clientCreatedTime":"2024-02-02T18:10:25.5743133Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/cc5bcdb0-1f93-4245-bfbe-c3c886e0b6f2-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"3db8e667-a6eb-4e42-aed3-558eab7161a1"},"type":"Request","kind":"Http","inputs":{"triggerAuthenticationType":"All"}}},"actions":{"Initialize_sms":{"runAfter":{},"metadata":{"operationMetadataId":"a7ac66ab-b021-4673-9436-f6db4173f1d6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"sms","type":"string","value":"@{triggerBody()}"}]}},"Compose":{"runAfter":{"Initialize_itemid":["Succeeded"]},"metadata":{"operationMetadataId":"6658dcd5-ca9a-4a71-8d7d-819e98f3ec90"},"type":"Compose","inputs":"@split(variables('sms'), '&')"},"Apply_to_each":{"foreach":"@outputs('Compose')","actions":{"Condition":{"actions":{"Compose_2":{"metadata":{"operationMetadataId":"5e5b9e49-ed2d-48e1-95da-b1bd82d06fd1"},"type":"Compose","inputs":"@split(items('Apply_to_each'), '=')[1]"},"Condition_3":{"actions":{"Set_Approve":{"metadata":{"operationMetadataId":"a8a9df29-26be-4378-8bdb-197e6d7d9bcb"},"type":"SetVariable","inputs":{"name":"decision","value":"Approve"}}},"runAfter":{"Compose_2":["Succeeded"]},"else":{"actions":{"Condition_4":{"actions":{"set_Reject":{"metadata":{"operationMetadataId":"c6d566d7-b690-412d-b294-df9f13362d5c"},"type":"SetVariable","inputs":{"name":"decision","value":"Reject"}}},"else":{"actions":{}},"expression":{"and":[{"contains":["@outputs('Compose_2')","Reject"]},{"contains":["@outputs('Compose_2')","reject"]},{"contains":["@outputs('Compose_2')","yeet"]},{"contains":["@outputs('Compose_2')","YEET"]}]},"metadata":{"operationMetadataId":"3a87e4c3-e491-4f12-98bd-206db9accc60"},"type":"If"}}},"expression":{"or":[{"contains":["@outputs('Compose_2')","Approve"]},{"contains":["@outputs('Compose_2')","approve"]}]},"metadata":{"operationMetadataId":"2ddf88a0-1a06-40a0-9412-69bb7e27dce0"},"type":"If"},"set_itemid":{"runAfter":{"Condition_3":["Succeeded"]},"metadata":{"operationMetadataId":"9012839f-1364-4b93-afc4-f4842c2482dd"},"type":"SetVariable","inputs":{"name":"itemid","value":"@int(split(outputs('Compose_2'), '+')[1])"}}},"else":{"actions":{"Condition_2":{"actions":{"Compose_3":{"metadata":{"operationMetadataId":"c72ee443-b31e-4a74-981b-9af4b201029c"},"type":"Compose","inputs":"@substring(items('Apply_to_each'), sub(length(items('Apply_to_each')), 10), 10)"},"Set_managercell":{"runAfter":{"Compose_3":["Succeeded"]},"metadata":{"operationMetadataId":"1bf87fa1-3103-425f-ad2c-64e55aa9db94"},"type":"SetVariable","inputs":{"name":"from","value":"@{outputs('Compose_3')}"}}},"else":{"actions":{}},"expression":{"contains":["@items('Apply_to_each')","From="]},"metadata":{"operationMetadataId":"e67af360-939d-457c-97ee-fa073160cb06"},"type":"If"}}},"expression":{"contains":["@items('Apply_to_each')","Body="]},"metadata":{"operationMetadataId":"de07035d-f674-4ffc-ad72-b555162c1920"},"type":"If"}},"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"4f3f6bd9-0226-4685-9dc8-a77330eb1d0b"},"type":"Foreach"},"Initialize_body":{"runAfter":{"Initialize_sms":["Succeeded"]},"metadata":{"operationMetadataId":"34d5d874-25c9-457b-b577-e4251d5cbf9d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"body","type":"string"}]}},"Initialize_from":{"runAfter":{"Initialize_body":["Succeeded"]},"metadata":{"operationMetadataId":"26f853d9-4579-4e80-a185-3a61660ec863"},"type":"InitializeVariable","inputs":{"variables":[{"name":"from","type":"string"}]}},"Initialize_decision":{"runAfter":{"Initialize_from":["Succeeded"]},"metadata":{"operationMetadataId":"89410d92-1b16-436b-a333-99b50aa40214"},"type":"InitializeVariable","inputs":{"variables":[{"name":"decision","type":"string"}]}},"Initialize_itemid":{"runAfter":{"Initialize_decision":["Succeeded"]},"metadata":{"operationMetadataId":"4983178a-6882-444a-967d-4d3f4279a1a2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"itemid","type":"integer"}]}},"get_leave_request":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"66fc11c7-3ec2-426d-ba15-57f83dace658"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@variables('itemid')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"filter_Manager_from_SD":{"runAfter":{"terminate_if_invalid_request":["Skipped","Failed","TimedOut"]},"metadata":{"operationMetadataId":"5a02a4da-2db0-4c1f-8fb6-e2cbd2419152"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"CellNumber eq '@{variables('from')}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"initialize_managerID":{"runAfter":{"filter_Staff_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"fc0e6097-cfe9-495a-9765-d7c1fc8a0601"},"type":"InitializeVariable","inputs":{"variables":[{"name":"managerID","type":"integer","value":"@outputs('filter_Manager_from_SD')?['body/value'][0]?['ID']"}]}},"terminate_if_unknown_cell_number_or_manager_mismatch":{"actions":{"Condition_6":{"actions":{},"else":{"actions":{"get_actual_manager":{"metadata":{"operationMetadataId":"42d6c008-0261-4df3-9a72-f50788fad58b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Supervisor eq '@{outputs('get_leave_request')?['body/Manager/DisplayName']}'","$top":1000},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"set_actual_manager_email_address":{"runAfter":{"get_actual_manager":["Succeeded"]},"metadata":{"operationMetadataId":"083674a8-077d-4523-be47-e09bc3b89968"},"type":"SetVariable","inputs":{"name":"actualmanager","value":"@{outputs('get_actual_manager')?['body/value'][0]?['Email Address']}"}}}},"expression":{"equals":["@outputs('Get_Manager_from_SD')?['body/Title']","@outputs('get_leave_request')?['body/Manager/DisplayName']"]},"metadata":{"operationMetadataId":"0157066b-8337-42ab-9dfb-99db29aaaeeb"},"type":"If"}},"runAfter":{"Initialize_actualmanager":["Succeeded"]},"else":{"actions":{"Send_Text_Message_(SMS)_2":{"metadata":{"operationMetadataId":"2f9bffd8-2fed-42f7-aab7-201fee4e1e42"},"type":"OpenApiConnection","inputs":{"parameters":{"sendMessageRequest/from":"+16476977133","sendMessageRequest/to":"@outputs('Get_Manager_from_SD')?['body/CellNumber']","sendMessageRequest/body":"Invalid response - you do not have access to request #@{variables('itemid')}."},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_twilio","connectionName":"shared_twilio","operationId":"SendMessage"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_Text_Message_(SMS)_2":["Succeeded"]},"metadata":{"operationMetadataId":"800c06dc-afed-474e-9d70-44dae565166d"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"or":[{"equals":["@outputs('Get_Manager_from_SD')?['body/Title']","@outputs('get_leave_request')?['body/Manager/DisplayName']"]},{"equals":["@outputs('Get_Manager_from_SD')?['body/Title']","Jay Puzon"]},{"equals":["@outputs('Get_Manager_from_SD')?['body/Title']","Mandy Leong"]},{"equals":["@outputs('Get_Manager_from_SD')?['body/Title']","Dave Powell"]}]},"metadata":{"operationMetadataId":"6ed7a7c3-9b7e-4f08-a4b3-6722199c0be9"},"type":"If"},"approved_or_rejected":{"actions":{"Update_item_Approved":{"metadata":{"operationMetadataId":"c319ef36-89d4-4d92-9af4-59bd1c47f355"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@outputs('get_leave_request')?['body/ID']","item/StartDate":"@outputs('get_leave_request')?['body/StartDate']","item/EndDate":"@outputs('get_leave_request')?['body/EndDate']","item/Status/Value":"Approved","item/ApproveProcessedFlag/Value":"Processed","item/ApprovedDate":"@formatDateTime(utcNow(), 'yyyy-MM-dd')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_item_Approved":["Succeeded"]},"metadata":{"operationMetadataId":"1b1e00ad-6b9b-4956-9c9b-5055a97209ab"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Get_Staff_from_SD')?['body/EmailAddress']","emailMessage/Subject":"@{outputs('Update_item_Approved')?['body/SubmittedTest/DisplayName']} - Leave Request: Approved","emailMessage/Body":"<p>Approved by: @{outputs('Get_Manager_from_SD')?['body/Title']} on @{outputs('Update_item_Approved')?['body/Modified']}<br>\n<br>\nLeave Details:<br>\n@{outputs('Update_item_Approved')?['body/Title']}<br>\n<br>\nType of Leave:<br>\n@{outputs('Update_item_Approved')?['body/LeaveType/Value']}<br>\n<br>\nLeave Period:<br>\n@{outputs('Update_item_Approved')?['body/StartDate']} to @{outputs('Update_item_Approved')?['body/EndDate']}<br>\n</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"check_if_hourly_staff":{"actions":{"Terminate_2":{"metadata":{"operationMetadataId":"5d09915d-f9a7-4269-82fb-09e7b5fd507c"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Send_Text_Message_(SMS)":["Succeeded"]},"else":{"actions":{}},"expression":{"equals":["@outputs('Get_Staff_from_SD')?['body/SalaryHourly/Value']","Hourly"]},"metadata":{"operationMetadataId":"fed5f0cb-dcbd-48d7-a02e-76224d6a66ea"},"type":"If"},"Send_Text_Message_(SMS)":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"0ec0bd4f-cc23-42ba-8236-21cd407d1858"},"type":"OpenApiConnection","inputs":{"parameters":{"sendMessageRequest/from":"+16476977133","sendMessageRequest/to":"@outputs('Get_Manager_from_SD')?['body/CellNumber']","sendMessageRequest/body":"Response has been received.\nAn email will be sent to (@{outputs('Get_Manager_from_SD')?['body/EmailAddress']}) once the process is completed."},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_twilio","connectionName":"shared_twilio","operationId":"SendMessage"},"authentication":"@parameters('$authentication')"}},"BEGIN_THE_TORTURE":{"actions":{"Compose_Overtime_Deducted":{"metadata":{"operationMetadataId":"0edfc725-f4f6-4b37-be3e-be2cd2784061"},"type":"Compose","inputs":"@sub(outputs('Get_Staff_from_SD')['body']['CurrentOvertimeBalance'], outputs('get_leave_request')?['body/Days'])"},"Update_Overtime":{"runAfter":{"Compose_Overtime_Deducted":["Succeeded"]},"metadata":{"operationMetadataId":"023d3f67-5e9f-4613-b3dc-30f3a2491d79"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_SD')?['body/ID']","item/Title":"@outputs('Get_Staff_from_SD')?['body/Title']","item/Supervisor":"@outputs('Get_Staff_from_SD')?['body/Supervisor']","item/CurrentOvertimeBalance":"@outputs('Compose_Overtime_Deducted')","item/SystemCheck/Value":"Editing"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"check_if_hourly_staff":["Succeeded"]},"else":{"actions":{"Compose_Sick_Day_Deducted":{"metadata":{"operationMetadataId":"21a456f4-993f-4a19-a3f5-35012e8a7179"},"type":"Compose","inputs":"@sub(outputs('Get_Staff_from_SD')['body']['CurrentSickDayBalance'], outputs('get_leave_request')?['body/Days'])"},"Condition_5":{"actions":{"Update_Sick_Day":{"metadata":{"operationMetadataId":"fc6dda59-9240-41d2-93b1-938c87eb59ca"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_SD')?['body/ID']","item/Title":"@outputs('Get_Staff_from_SD')?['body/Title']","item/Supervisor":"@outputs('Get_Staff_from_SD')?['body/Supervisor']","item/CurrentSickDayBalance":"@outputs('Compose_Sick_Day_Deducted')","item/SystemCheck/Value":"Editing"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_Sick_Day_Deducted":["Succeeded"]},"else":{"actions":{"if_bereavement_or_juryduty_do_not_adjust_balances":{"metadata":{"operationMetadataId":"f3d88757-0002-4720-8fa0-ad7c5fff976f"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@outputs('get_leave_request')?['body/LeaveType/Value']","Sick or Personal Day"]},"metadata":{"operationMetadataId":"eeec2778-f3f3-4b94-95b4-c72ec16563e0"},"type":"If"}}},"expression":{"or":[{"equals":["@outputs('get_leave_request')?['body/LeaveType/Value']","Vacation"]},{"equals":["@outputs('get_leave_request')?['body/LeaveType/Value']","Half Day or Partial Day Off"]}]},"metadata":{"operationMetadataId":"d04300e7-7692-4308-a6f1-c00958979523"},"type":"If"}},"runAfter":{"terminate_if_unknown_cell_number_or_manager_mismatch":["Succeeded"]},"else":{"actions":{"Update_item":{"metadata":{"operationMetadataId":"cc563606-8a04-4872-8f9b-c6939b82311a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@outputs('get_leave_request')?['body/ID']","item/StartDate":"@outputs('get_leave_request')?['body/StartDate']","item/EndDate":"@outputs('get_leave_request')?['body/EndDate']","item/Status/Value":"Rejected","item/ApproveProcessedFlag/Value":"Processed"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"1ea63d16-29e4-4a53-b5d3-7feb8c7d1f62"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@outputs('Get_Staff_from_SD')?['body/EmailAddress']","emailMessage/Subject":"@{outputs('Update_item')?['body/SubmittedTest/DisplayName']} - Leave Request: Rejected","emailMessage/Body":"<p>Leave Request Rejected by: @{outputs('Get_Manager_from_SD')?['body/Title']} on @{outputs('Update_item')?['body/Modified']}<br>\n<br>\nLeave Details:<br>\n@{outputs('get_leave_request')?['body/Title']}<br>\n<br>\nType of Leave:<br>\n@{outputs('get_leave_request')?['body/LeaveType/Value']}<br>\n<br>\nLeave Period:<br>\n@{outputs('get_leave_request')?['body/StartDate']} to @{outputs('get_leave_request')?['body/EndDate']}</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Send_Text_Message_(SMS)_3":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"operationMetadataId":"f345e961-83be-4acb-bc62-ea6862aea8a0"},"type":"OpenApiConnection","inputs":{"parameters":{"sendMessageRequest/from":"+16476977133","sendMessageRequest/to":"@outputs('Get_Manager_from_SD')?['body/CellNumber']","sendMessageRequest/body":"Response has been received.\nCancelling request #@{variables('itemid')}."},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_twilio","connectionName":"shared_twilio","operationId":"SendMessage"},"authentication":"@parameters('$authentication')"}},"Terminate_3":{"runAfter":{"Send_Text_Message_(SMS)_3":["Succeeded"]},"metadata":{"operationMetadataId":"90b48721-d3be-4aca-b042-eb6820ea0755"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"equals":["@variables('decision')","Approve"]},{"equals":["@outputs('get_leave_request')?['body/Status/Value']","Pending"]}]},"metadata":{"operationMetadataId":"4d79a409-7469-4afd-9adf-a814be19b0ad"},"type":"If"},"filter_Staff_from_SD":{"runAfter":{"filter_Manager_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"6cfd66a3-87b3-4b83-bbcd-92d2d6224fda"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{outputs('get_leave_request')?['body/SubmittedTest/DisplayName']}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Initialize_employeeID":{"runAfter":{"initialize_managerID":["Succeeded"]},"metadata":{"operationMetadataId":"21c28b47-6326-402a-841d-2a0813559fd8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"employeeID","type":"integer","value":"@outputs('filter_Staff_from_SD')?['body/value'][0]?['ID']"}]}},"Get_Manager_from_SD":{"runAfter":{"Initialize_employeeID":["Succeeded"]},"metadata":{"operationMetadataId":"788eabc4-100d-4ed9-843d-a1852c5dfa0a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@variables('managerID')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Get_Staff_from_SD":{"runAfter":{"delay_if_system_check_is_editing":["Succeeded"]},"metadata":{"operationMetadataId":"2f025dd5-c306-492c-bf19-c61d47abedd5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@variables('employeeID')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Initialize_balance":{"runAfter":{"approved_or_rejected":["Succeeded"]},"metadata":{"operationMetadataId":"c510a688-b29d-48fb-9c54-19c18a490ef4"},"type":"InitializeVariable","inputs":{"variables":[{"name":"balance","type":"boolean","value":false}]}},"terminate_if_processed":{"actions":{"Send_Text_Message_(SMS)_4":{"metadata":{"operationMetadataId":"11544578-cc78-416f-8613-d20a37ecc630"},"type":"OpenApiConnection","inputs":{"parameters":{"sendMessageRequest/from":"+16476977133","sendMessageRequest/to":"@outputs('Get_Manager_from_SD')?['body/CellNumber']","sendMessageRequest/body":"Request #@{variables('itemid')} has already been processed and archived."},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_twilio","connectionName":"shared_twilio","operationId":"SendMessage"},"authentication":"@parameters('$authentication')"}},"terminate_if_already_processed":{"runAfter":{"Send_Text_Message_(SMS)_4":["Succeeded"]},"metadata":{"operationMetadataId":"e1af1b7e-7972-4624-8944-7828456274bb"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}},"runAfter":{"Get_Staff_from_SD":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"equals":["@outputs('get_leave_request')?['body/ApproveProcessedFlag/Value']","Processed"]},{"not":{"equals":["@outputs('get_leave_request')?['body/Status/Value']","Pending"]}}]},"metadata":{"operationMetadataId":"20e31dd3-b96d-4e5e-af39-01bcb9d30078"},"type":"If"},"reply_invalid_request":{"runAfter":{"get_leave_request":["Failed"]},"metadata":{"operationMetadataId":"e6264cdd-8719-4f6f-895f-731cab027775"},"type":"OpenApiConnection","inputs":{"parameters":{"sendMessageRequest/from":"+16476977133","sendMessageRequest/to":"@variables('from')","sendMessageRequest/body":"Request #@{variables('itemid')} does not exist, please try again."},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_twilio","connectionName":"shared_twilio","operationId":"SendMessage"},"authentication":"@parameters('$authentication')"}},"terminate_if_invalid_request":{"runAfter":{"reply_invalid_request":["Succeeded","Failed","TimedOut"]},"metadata":{"operationMetadataId":"1d047d9b-d225-4c01-b763-43a3ccfc76b8"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"Initialize_actualmanager":{"runAfter":{"terminate_if_processed":["Succeeded"]},"metadata":{"operationMetadataId":"dbb098b8-6951-4cb7-b993-abd664649ae0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"actualmanager","type":"string"}]}},"Initialize_SD_system_check":{"runAfter":{"Get_Manager_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"85edc101-69cc-4ce1-afa9-2b97deb3ee51"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SD System Check","type":"string","value":"Editing"}]}},"delay_if_system_check_is_editing":{"actions":{"Check_if_system_is_still_editing":{"metadata":{"operationMetadataId":"4c2165ec-085a-4862-8e76-343b26fec3b8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@variables('employeeID')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"wait_if_system_check_is_still_editing":{"actions":{"set_SD_System_Check_to_ready":{"metadata":{"operationMetadataId":"a9370dc2-605e-43c6-80ac-8a063cad7b08"},"type":"SetVariable","inputs":{"name":"SD System Check","value":"Ready"}}},"runAfter":{"Check_if_system_is_still_editing":["Succeeded"]},"else":{"actions":{"Delay":{"metadata":{"operationMetadataId":"a70a8220-bfcc-47e2-a602-75b3413c0bb9"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}}}},"expression":{"not":{"equals":["@outputs('Check_if_system_is_still_editing')?['body/SystemCheck/Value']","Editing"]}},"metadata":{"operationMetadataId":"8111db14-3fac-44a3-9cb3-2a5cf10ca6bd"},"type":"If"}},"runAfter":{"Initialize_SD_system_check":["Succeeded"]},"expression":"@equals(variables('SD System Check'), 'Ready')","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"ff93817e-558c-448d-b487-dd161eae34e5"},"type":"Until"},"Initialize_IsNextYear":{"runAfter":{"Initialize_balance":["Succeeded"]},"metadata":{"operationMetadataId":"57716d90-38c0-4f3b-b295-afd2163055b0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsNextYear","type":"boolean","value":false}]}},"Initialize_NextYear":{"runAfter":{"Initialize_IsNextYear":["Succeeded"]},"metadata":{"operationMetadataId":"f05d48f6-0e51-413a-b940-9686922eb53c"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NextYear","type":"string","value":"@{add(int(formatDateTime(utcNow(), 'yyyy')), 1)}"}]}},"check_if_request_IsNextYear":{"actions":{"Request_is_for_Next_Year":{"metadata":{"operationMetadataId":"fa9faf6b-f36b-4e83-a30b-225eae12a14d"},"type":"SetVariable","inputs":{"name":"NextYear","value":"true"}}},"runAfter":{"Initialize_NextYear":["Succeeded"]},"else":{"actions":{}},"expression":{"or":[{"equals":["@int(formatDateTime(outputs('get_leave_request')?['body/StartDate'], 'yyyy'))","@variables('NextYear')"]},{"equals":["@int(formatDateTime(outputs('get_leave_request')?['body/EndDate'], 'yyyy'))","@variables('NextYear')"]}]},"metadata":{"operationMetadataId":"be1dea8c-e061-4e8f-9a9f-fffbf3751689"},"type":"If"},"which_balancing_sequence_to_use":{"actions":{"CarryOver_BS_Overtime_CarryOver":{"actions":{"Get_item_2":{"metadata":{"operationMetadataId":"78f7052b-db62-4518-91cc-2ff0c59efee2"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_SD')?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"check_if_overtime_is_negative_2":{"actions":{"compose_overtime_to_carry_over_2":{"metadata":{"operationMetadataId":"db049ce3-4f81-4e8f-95d3-397f66932cd7"},"type":"Compose","inputs":"@add(outputs('Get_item_2')['body']['CurrentOvertimeBalance'], outputs('Get_item_2')['body']['CarryOver'])"},"Update_item_3":{"runAfter":{"compose_overtime_to_carry_over_2":["Succeeded"]},"metadata":{"operationMetadataId":"a5682c5f-dfe4-4b6d-be68-1427dc28001a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item_2')?['body/ID']","item/Title":"@outputs('Get_item_2')?['body/Title']","item/Supervisor":"@outputs('Get_item_2')?['body/Supervisor']","item/CarryOver":"@outputs('compose_overtime_to_carry_over_2')","item/CurrentOvertimeBalance":0},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_3":{"runAfter":{"Update_item_3":["Succeeded"]},"metadata":{"operationMetadataId":"7562ce92-56e5-4534-ac6e-c470576302a6"},"type":"SetVariable","inputs":{"name":"balance","value":false}}},"runAfter":{"Get_item_2":["Succeeded"]},"else":{"actions":{"end2":{"metadata":{"operationMetadataId":"1b30663e-733c-4be7-ab9f-cd56bc4a745c"},"type":"SetVariable","inputs":{"name":"balance","value":true}},"Send_an_email_(V2)_4":{"runAfter":{"end2":["Succeeded"]},"metadata":{"operationMetadataId":"ae7996b2-296e-4da2-ae63-2c601fa60b0e"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{outputs('Get_item_2')?['body/EmailAddress']};@{outputs('Get_Manager_from_SD')?['body/EmailAddress']};@{variables('actualmanager')}","emailMessage/Subject":"Updated Leave Balance - @{outputs('Get_item_2')?['body/Title']}","emailMessage/Body":"<p>Updated Balances for (@{outputs('Get_item_2')?['body/Title']}):<br>\n<br>\nVacation: @{outputs('Get_item_2')?['body/CurrentVacationBalance']}<br>\nSick/Personal: @{outputs('Get_item_2')?['body/CurrentSickDayBalance']}<br>\nCarry Over: @{outputs('Get_item_2')?['body/CarryOver']}<br>\nOvertime: @{outputs('Get_item_2')?['body/CurrentOvertimeBalance']}<br>\n<br>\nThe approved request is dated for the next calendar year. The request's deductions were applied to your Overtime and Carry Over balances.</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"sd_system_check_ready_2":{"runAfter":{"Send_an_email_(V2)_4":["Succeeded"]},"metadata":{"operationMetadataId":"2decda48-58fb-4698-bf21-f21815c44f25"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item_2')?['body/ID']","item/Title":"@outputs('Get_item_2')?['body/Title']","item/Supervisor":"@outputs('Get_item_2')?['body/Supervisor']","item/SystemCheck/Value":"Ready"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"log_new_balances_to_leave_request_2":{"runAfter":{"sd_system_check_ready_2":["Succeeded"]},"metadata":{"operationMetadataId":"3d9d24cc-5d24-41f1-9269-a999da34bedd"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@outputs('get_leave_request')?['body/ID']","item/StartDate":"@outputs('get_leave_request')?['body/StartDate']","item/EndDate":"@outputs('get_leave_request')?['body/EndDate']","item/NewBalances":"(Vacation: @{outputs('sd_system_check_ready_2')?['body/CurrentVacationBalance']})(Sick:@{outputs('sd_system_check_ready_2')?['body/CurrentSickDayBalance']})(CarryOver:@{outputs('sd_system_check_ready_2')?['body/CarryOver']})(Make-Up:@{outputs('sd_system_check_ready_2')?['body/CurrentOvertimeBalance']})"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@outputs('Get_item_2')?['body/CurrentOvertimeBalance']",0]},"metadata":{"operationMetadataId":"85d21bd2-2fc2-4dcb-9f8d-4968501cdd7d"},"type":"If"}},"expression":"@equals(variables('balance'), true)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"2de75337-b60a-4be6-bf62-d4ebcf9c2d60"},"type":"Until"}},"runAfter":{"check_if_request_IsNextYear":["Succeeded"]},"else":{"actions":{"Regular_BS_Sick_Overtime_CarryOver_Vacation":{"actions":{"Get_item":{"metadata":{"operationMetadataId":"2b6c8a2c-4a91-4c5c-a7fa-148ddf7f8158"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_SD')?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"check_if_sick_negative":{"actions":{"Compose_Sick_to_Overtime":{"metadata":{"operationMetadataId":"6b508832-767f-4065-a9c0-bb0e93172394"},"type":"Compose","inputs":"@add(outputs('Get_item')['body']['CurrentSickDayBalance'], outputs('Get_item')['body']['CurrentOvertimeBalance'])"},"Update_item_2":{"runAfter":{"Compose_Sick_to_Overtime":["Succeeded"]},"metadata":{"operationMetadataId":"f01891e4-6338-4ce3-983b-93a599d41d0c"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/Supervisor":"@outputs('Get_item')?['body/Supervisor']","item/CurrentSickDayBalance":0,"item/CurrentOvertimeBalance":"@outputs('Compose_Sick_to_Overtime')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Update_item_2":["Succeeded"]},"metadata":{"operationMetadataId":"607c2c86-fc0d-46e7-b718-a2a64dee58ed"},"type":"SetVariable","inputs":{"name":"balance","value":false}}},"runAfter":{"Get_item":["Succeeded"]},"else":{"actions":{"check_if_overtime_negative":{"actions":{"compose_overtime_to_carry_over":{"metadata":{"operationMetadataId":"841ed3c1-5ca6-45a9-8167-d04a63b7e683"},"type":"Compose","inputs":"@add(outputs('Get_item')['body']['CurrentOvertimeBalance'], outputs('Get_item')['body']['CarryOver'])"},"update_overtime_negative_to_carry_over":{"runAfter":{"compose_overtime_to_carry_over":["Succeeded"]},"metadata":{"operationMetadataId":"bb72254b-ed2a-48d7-8397-13e258ebb38c"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/Supervisor":"@outputs('Get_item')?['body/Supervisor']","item/CarryOver":"@outputs('compose_overtime_to_carry_over')","item/CurrentOvertimeBalance":0},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable_2":{"runAfter":{"update_overtime_negative_to_carry_over":["Succeeded"]},"metadata":{"operationMetadataId":"f13b2374-5fa7-47af-a4f7-6d5cb4901303"},"type":"SetVariable","inputs":{"name":"balance","value":false}}},"else":{"actions":{"check_if_carry_over_negative":{"actions":{"compose_carry_over_to_vacation":{"metadata":{"operationMetadataId":"2ad96c9c-07c5-4d51-9c23-229796518023"},"type":"Compose","inputs":"@add(outputs('Get_item')['body']['CarryOver'], outputs('Get_item')['body']['CurrentVacationBalance'])"},"update_carry_over_to_vacation":{"runAfter":{"compose_carry_over_to_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"83183cf7-e6c2-4d25-a418-a3c259f61d7b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/Supervisor":"@outputs('Get_item')?['body/Supervisor']","item/CurrentVacationBalance":"@outputs('compose_carry_over_to_vacation')","item/CarryOver":0},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"negative_check_failed":{"runAfter":{"update_carry_over_to_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"32f5d07e-2ba3-46cb-9f9b-ab2e4e95810e"},"type":"SetVariable","inputs":{"name":"balance","value":false}}},"else":{"actions":{"end":{"metadata":{"operationMetadataId":"62e84f1c-a5e1-49b5-8b3d-e1ae0fdec96d"},"type":"SetVariable","inputs":{"name":"balance","value":true}},"Send_an_email_(V2)_3":{"runAfter":{"end":["Succeeded"]},"metadata":{"operationMetadataId":"35b64713-37e0-4e2e-aef9-ceeee84ef58d"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@{outputs('Get_item')?['body/EmailAddress']};@{outputs('Get_Manager_from_SD')?['body/EmailAddress']};@{variables('actualmanager')}","emailMessage/Subject":"Updated Leave Balance - @{outputs('Get_item')?['body/Title']}","emailMessage/Body":"<p>Updated Balances for (@{outputs('Get_item')?['body/Title']}):<br>\n<br>\nVacation:@{outputs('Get_item')?['body/CurrentVacationBalance']}<br>\nSick/Personal: @{outputs('Get_item')?['body/CurrentSickDayBalance']}<br>\nCarry Over: @{outputs('Get_item')?['body/CarryOver']}<br>\nOvertime: @{outputs('Get_item')?['body/CurrentOvertimeBalance']}<br>\n</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"SD_system_check_ready":{"runAfter":{"Send_an_email_(V2)_3":["Succeeded"]},"metadata":{"operationMetadataId":"fae36e81-0e44-43c3-ba03-2d4860e558cd"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/Supervisor":"@outputs('Get_item')?['body/Supervisor']","item/SystemCheck/Value":"Ready"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"log_new_balances_to_leave_request":{"runAfter":{"SD_system_check_ready":["Succeeded"]},"metadata":{"operationMetadataId":"ad1d976c-f977-4bc3-a180-4b5b3601d5a9"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@outputs('get_leave_request')?['body/ID']","item/StartDate":"@outputs('get_leave_request')?['body/StartDate']","item/EndDate":"@outputs('get_leave_request')?['body/EndDate']","item/NewBalances":"(Vacation:@{outputs('Get_item')?['body/CurrentVacationBalance']})(Sick:@{outputs('Get_item')?['body/CurrentSickDayBalance']})(CarryOver:@{outputs('Get_item')?['body/CarryOver']})(Make-Up:@{outputs('Get_item')?['body/CurrentOvertimeBalance']})"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@outputs('Get_item')?['body/CarryOver']",0]},"metadata":{"operationMetadataId":"18f370d4-adad-4a03-ae53-ecf97d887814"},"type":"If"}}},"expression":{"less":["@outputs('Get_item')?['body/CurrentOvertimeBalance']",0]},"metadata":{"operationMetadataId":"18eb9d17-3476-4901-8db5-ffaf26a7ccaa"},"type":"If"}}},"expression":{"less":["@outputs('Get_item')?['body/CurrentSickDayBalance']",0]},"metadata":{"operationMetadataId":"a862a75a-62a0-4859-a50b-ae71d5f4e812"},"type":"If"}},"expression":"@equals(variables('balance'), true)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"1fe1e551-73fe-4eb8-9acf-66a03f6c7568"},"type":"Until"}}},"expression":{"equals":["@variables('IsNextYear')",true]},"metadata":{"operationMetadataId":"973c0c22-b69a-450d-a6a2-59b5e81f938f"},"type":"If"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_twilio":{"connectionName":"shared-twilio-ba213c92-0204-43ad-b8ba-e09f1d0d0826","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_twilio","tier":"NotSpecified","apiName":"twilio","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-9e23c3d5-938a-434c-9972-0ef4-e053bc48","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}