Legacy Power Automate Flows/EOM Manager Report/Microsoft.Flow/flows/8fa24820-1fde-4f54-85a6-0b860d358b4d/definition.json
{"name":"a42942d3-49a5-4b2d-b7ab-39bd4f9b8225","id":"/providers/Microsoft.Flow/flows/a42942d3-49a5-4b2d-b7ab-39bd4f9b8225","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"11 EOM Manager Report","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-08T19:21:40.9353035Z","connectionKeySavedTimeKey":"2025-12-07T11:28:07.9751139Z","creationSource":null,"clientCreatedTime":"2024-04-01T20:01:24.4522333Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/a42942d3-49a5-4b2d-b7ab-39bd4f9b8225-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Month","interval":1,"startTime":"2024-03-31T14:00:00.000Z"},"evaluatedRecurrence":{"frequency":"Month","interval":1,"startTime":"2024-03-31T14:00:00.000Z"},"metadata":{"operationMetadataId":"10bb4385-45d2-4b71-97d2-4aa537f9b89f"},"type":"Recurrence"}},"actions":{"Get_Staff_Directory":{"runAfter":{"initialize_uniquemanagers":["Succeeded"]},"metadata":{"operationMetadataId":"7f0b5964-5b20-4f2c-8bbb-84ef87d24dc7"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$top":3000},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_Staff_Directory')?['body/value']","actions":{"Condition":{"actions":{"Append_to_array_variable":{"metadata":{"operationMetadataId":"6a7148b1-dd61-4bc2-b16f-c96833ccd0b3"},"type":"AppendToArrayVariable","inputs":{"name":"uniquemanagers","value":"@items('Apply_to_each')?['Supervisor']"}}},"else":{"actions":{}},"expression":{"not":{"contains":["@variables('uniquemanagers')","@items('Apply_to_each')?['Supervisor']"]}},"metadata":{"operationMetadataId":"e9ecd041-e49a-43ee-8c47-a3c1e3e10f62"},"type":"If"}},"runAfter":{"Get_Staff_Directory":["Succeeded"]},"metadata":{"operationMetadataId":"20ace57a-beb7-4e89-9fbd-c93171276f41"},"type":"Foreach"},"initialize_uniquemanagers":{"runAfter":{},"metadata":{"operationMetadataId":"0b1378bf-fac3-4982-9845-8593240b2efb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"uniquemanagers","type":"array"}]}},"Apply_to_each_manager":{"foreach":"@variables('uniquemanagers')","actions":{"get_leave_requests_for_each_manager":{"metadata":{"operationMetadataId":"94608df3-e778-495f-b1e5-5da2adb2ec0d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","$filter":"Managertxt eq '@{items('Apply_to_each_manager')}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"apply_to_each_leave_request":{"foreach":"@outputs('get_leave_requests_for_each_manager')?['body/value']","actions":{"Add_a_row_into_a_table":{"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"385c645a-fd80-4a17-b188-60238a0f5006","tableId":"{4B707018-FE8B-4384-A658-FB41D7AE163B}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{4B707018-FE8B-4384-A658-FB41D7AE163B}","item/ID":"@items('apply_to_each_leave_request')?['ID']","item/Submitted By":"@items('apply_to_each_leave_request')?['SubmittedTest/DisplayName']","item/Leave Type":"@items('apply_to_each_leave_request')?['LeaveType/Value']","item/Description":"@items('apply_to_each_leave_request')?['Title']","item/Start Date":"@items('apply_to_each_leave_request')?['StartDate']","item/End Date":"@items('apply_to_each_leave_request')?['EndDate']","item/Days":"@items('apply_to_each_leave_request')?['Days']","item/Status":"@items('apply_to_each_leave_request')?['Status/Value']","item/Created":"@items('apply_to_each_leave_request')?['Created']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Delay":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"1093e5a0-39da-4024-8e1c-760606958ba6"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}}},"runAfter":{"get_leave_requests_for_each_manager":["Succeeded"]},"metadata":{"operationMetadataId":"4359867e-a3b4-4807-bced-6a49c9bf25bc"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"get_staff_for_each_manager":{"runAfter":{"apply_to_each_leave_request":["Succeeded"]},"metadata":{"operationMetadataId":"157c1c7c-1a0f-4875-9378-13418a3cd769"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Supervisor eq '@{items('Apply_to_each_manager')}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"apply_to_each_staff":{"foreach":"@outputs('get_staff_for_each_manager')?['body/value']","actions":{"Add_a_row_into_a_table_2":{"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"870bcb12-146b-445f-87c7-f3ca1f788578","tableId":"{33C25D8F-311B-44AF-8058-137344FC5773}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{33C25D8F-311B-44AF-8058-137344FC5773}","item/Staff Name":"@items('apply_to_each_staff')?['Title']","item/Location":"@items('apply_to_each_staff')?['Location/Value']","item/Vacation Entitlement":"@items('apply_to_each_staff')?['DefaultYearlyVacationDays']","item/Vacation Balance":"@items('apply_to_each_staff')?['CurrentVacationBalance']","item/Sick Day Entitlement":"@items('apply_to_each_staff')?['SickDayEntitlement']","item/Sick Day Balance":"@items('apply_to_each_staff')?['CurrentSickDayBalance']","item/Carry Over Balance":"@items('apply_to_each_staff')?['CarryOver']","item/Make Up Balance":"@items('apply_to_each_staff')?['CurrentOvertimeBalance']","item/Payout":"@items('apply_to_each_staff')?['Payout']","item/Comments":"@items('apply_to_each_staff')?['Comments']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Delay_2":{"runAfter":{"Add_a_row_into_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"b7f12d06-aac4-454e-be16-a83641fa8e92"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}}},"runAfter":{"get_staff_for_each_manager":["Succeeded"]},"metadata":{"operationMetadataId":"0b9000bc-dcec-4068-8aba-b0efc5466e20"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"get_excel_file_content":{"runAfter":{"Delay_3":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fOut%2bof%2bOffice%2bLog%2bReport%252fTemplate%252fManager%2bLR%2bLog%2bData%2bTemplate.xlsx":"/Shared Documents/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"d7d3ec9c-09ed-4e67-a3ae-3852e7ba918a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","id":"%252fShared%2bDocuments%252fOut%2bof%2bOffice%2bLog%2bReport%252fTemplate%252fManager%2bLR%2bLog%2bData%2bTemplate.xlsx","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"get_manager":{"runAfter":{"get_excel_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"9b953dcb-0587-4e06-8dbf-947093b9842b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{items('Apply_to_each_manager')}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('get_manager')?['body/value']","actions":{"Send_an_email_(V2)":{"metadata":{"operationMetadataId":"7b063646-68e4-4d4f-867b-8e02c05a6f86"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@items('Apply_to_each_2')?['EmailAddress']","emailMessage/Subject":"Leave Request EOM Manager Data Archive - @{items('Apply_to_each_2')?['TitleLink/DisplayName']}","emailMessage/Body":"<p>See attached for updated Leave Request &amp; Staff Balance archive:<br>\n<br>\n<strong>Dashboard sheet will only update after clicking on \"Data\" &gt; \"Refresh All\" on the top panel inside the excel file.<br>\n<br>\nAlternatively, press CNTRL + ALT + F5</strong></p>","emailMessage/From":"HR@UCSHCA.onmicrosoft.com","emailMessage/Cc":"jayp@ucsh.com","emailMessage/Attachments":[{"Name":"EOM Manager Leave Request Report - @{items('Apply_to_each_2')?['Title']}.xlsx","ContentBytes":"@body('get_excel_file_content')"}],"emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_manager":["Succeeded"]},"metadata":{"operationMetadataId":"faca1dfa-2879-4c40-b4db-559febe24252"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"List_rows_present_in_a_table":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"9b87386f-e3fe-4db2-9ea6-dcde2e38e98c","tableId":"{4B707018-FE8B-4384-A658-FB41D7AE163B}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{4B707018-FE8B-4384-A658-FB41D7AE163B}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Delete_a_row":{"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"37c6324a-3922-42b5-ae0e-784242e1e492","tableId":"{4B707018-FE8B-4384-A658-FB41D7AE163B}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{4B707018-FE8B-4384-A658-FB41D7AE163B}","idColumn":"ID","id":"@items('Apply_to_each_3')?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"61201952-613d-40b9-9b5a-65daf5b09436"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"List_rows_present_in_a_table_2":{"runAfter":{"Apply_to_each_3":["Succeeded"]},"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"2d8d88bc-d8b4-4509-bc49-bc27da361e2f","tableId":"{33C25D8F-311B-44AF-8058-137344FC5773}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{33C25D8F-311B-44AF-8058-137344FC5773}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@outputs('List_rows_present_in_a_table_2')?['body/value']","actions":{"Delete_a_row_2":{"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"1713601b-41b6-461b-82a8-615117015dc8","tableId":"{33C25D8F-311B-44AF-8058-137344FC5773}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{33C25D8F-311B-44AF-8058-137344FC5773}","idColumn":"Staff Name","id":"@items('Apply_to_each_4')?['Staff Name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"d1a9e565-05ea-4499-8b41-352e1f41995e"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"Delay_3":{"runAfter":{"apply_to_each_staff":["Succeeded"]},"metadata":{"operationMetadataId":"5e12d9d6-8613-4c4a-9cd3-34aa6f11c869"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Minute"}}}},"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"e09b2545-4d96-4b88-b828-f69de0d9a1c6"},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":1}}},"get_all_leave_requests":{"runAfter":{"Apply_to_each_manager":["Succeeded","TimedOut","Skipped","Failed"]},"metadata":{"operationMetadataId":"98ed9f89-460f-4776-9589-30cf36cf3670"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_5":{"foreach":"@outputs('get_all_leave_requests')?['body/value']","actions":{"Add_a_row_into_a_table_3":{"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"534db713-e80f-4f3d-b7d8-36e8df867a03","tableId":"{4B707018-FE8B-4384-A658-FB41D7AE163B}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{4B707018-FE8B-4384-A658-FB41D7AE163B}","item/ID":"@items('Apply_to_each_5')?['ID']","item/Submitted By":"@items('Apply_to_each_5')?['SubmittedTest/DisplayName']","item/Leave Type":"@items('Apply_to_each_5')?['LeaveType/Value']","item/Description":"@items('Apply_to_each_5')?['Title']","item/Start Date":"@items('Apply_to_each_5')?['StartDate']","item/End Date":"@items('Apply_to_each_5')?['EndDate']","item/Days":"@items('Apply_to_each_5')?['Days']","item/Status":"@items('Apply_to_each_5')?['Status/Value']","item/Created":"@items('Apply_to_each_5')?['Created']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Delay_4":{"runAfter":{"Add_a_row_into_a_table_3":["Succeeded"]},"metadata":{"operationMetadataId":"dd80a5ea-70b2-4231-a1e5-2d0d5068f533"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}}},"runAfter":{"get_all_leave_requests":["Succeeded"]},"metadata":{"operationMetadataId":"c4e72281-e3ef-44fb-b879-b6f0943c93cb"},"type":"Foreach"},"Apply_to_each_6":{"foreach":"@outputs('Get_Staff_Directory')?['body/value']","actions":{"Add_a_row_into_a_table_4":{"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"6f7806fc-b807-4e0c-9537-094c1c98eb40","tableId":"{33C25D8F-311B-44AF-8058-137344FC5773}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{33C25D8F-311B-44AF-8058-137344FC5773}","item/Staff Name":"@items('Apply_to_each_6')?['Title']","item/Location":"@items('Apply_to_each_6')?['Location/Value']","item/Vacation Entitlement":"@items('Apply_to_each_6')?['DefaultYearlyVacationDays']","item/Vacation Balance":"@items('Apply_to_each_6')?['CurrentVacationBalance']","item/Sick Day Entitlement":"@items('Apply_to_each_6')?['SickDayEntitlement']","item/Sick Day Balance":"@items('Apply_to_each_6')?['CurrentSickDayBalance']","item/Carry Over Balance":"@items('Apply_to_each_6')?['CarryOver']","item/Make Up Balance":"@items('Apply_to_each_6')?['CurrentOvertimeBalance']","item/Payout":"@items('Apply_to_each_6')?['Payout']","item/Comments":"@items('Apply_to_each_6')?['Comments']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Delay_5":{"runAfter":{"Add_a_row_into_a_table_4":["Succeeded"]},"metadata":{"operationMetadataId":"cf418c58-3787-4af9-a04a-6d96bc355a8a"},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}}},"runAfter":{"Apply_to_each_5":["Succeeded"]},"metadata":{"operationMetadataId":"bbe3ce13-0294-45a8-8bd3-bfa38cd38fa0"},"type":"Foreach"},"Delay_6":{"runAfter":{"Apply_to_each_6":["Succeeded"]},"metadata":{"operationMetadataId":"e9bd0481-500e-4dbb-83a1-0a7d7fa80303"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Minute"}}},"Get_file_content":{"runAfter":{"Delay_6":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fOut%2bof%2bOffice%2bLog%2bReport%252fTemplate%252fManager%2bLR%2bLog%2bData%2bTemplate.xlsx":"/Shared Documents/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"e14280ef-8836-42cf-bb29-1a250b72ff7d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","id":"%252fShared%2bDocuments%252fOut%2bof%2bOffice%2bLog%2bReport%252fTemplate%252fManager%2bLR%2bLog%2bData%2bTemplate.xlsx","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"5a9b288b-b23e-43e9-a41f-f4fcd66f67e0"},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"davep@ucsh.com;mandyl@ucsh.com","emailMessage/Subject":"Leave Request Data Archive - Admin","emailMessage/Body":"<p><strong>Dashboard sheet will only update after clicking on \"Data\" &gt; \"Refresh All\" on the top panel inside the excel file.<br>\n<br>\nAlternatively, press CNTRL + ALT + F5</strong></p>","emailMessage/Cc":"jayp@ucsh.com","emailMessage/Attachments":[{"Name":"Leave Request and Staff Balance - AdminArchive.xlsx","ContentBytes":"@body('Get_file_content')"}],"emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"List_rows_present_in_a_table_3":{"runAfter":{"Send_an_email_(V2)_2":["Succeeded"]},"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"3b4460c1-0e7b-47cd-862d-f7bc9b4585e9","tableId":"{4B707018-FE8B-4384-A658-FB41D7AE163B}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{4B707018-FE8B-4384-A658-FB41D7AE163B}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_7":{"foreach":"@outputs('List_rows_present_in_a_table_3')?['body/value']","actions":{"Delete_a_row_3":{"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"9390a8ae-85e3-41cd-a347-52dba9784a9b","tableId":"{4B707018-FE8B-4384-A658-FB41D7AE163B}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{4B707018-FE8B-4384-A658-FB41D7AE163B}","idColumn":"ID","id":"@items('Apply_to_each_7')?['ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_3":["Succeeded"]},"metadata":{"operationMetadataId":"19da7345-a9c5-4149-b265-30e3064b403f"},"type":"Foreach"},"List_rows_present_in_a_table_4":{"runAfter":{"Apply_to_each_7":["Succeeded"]},"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"4168de4b-ba8d-45ea-b867-478da808f248","tableId":"{33C25D8F-311B-44AF-8058-137344FC5773}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{33C25D8F-311B-44AF-8058-137344FC5773}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_8":{"foreach":"@outputs('List_rows_present_in_a_table_4')?['body/value']","actions":{"Delete_a_row_4":{"metadata":{"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL":"/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"9ec8de37-5c60-4416-af2f-e8dbc48ffa4a","tableId":"{33C25D8F-311B-44AF-8058-137344FC5773}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/ucshca.sharepoint.com,42e6670d-960f-4331-8327-edac58621895,3e9d467f-43b1-46a6-9ec8-0fa9e3ce4dfc","drive":"b!DWfmQg-WMUODJ-2sWGIYlX9GnT6xQ6ZGnsgPqePOTfzISbMzFAZ8Q6A7BGhNXGAk","file":"01LRQ6KH5CVDXDNGECHFAZGFZKZ6RX42XL","table":"{33C25D8F-311B-44AF-8058-137344FC5773}","idColumn":"Staff Name","id":"@items('Apply_to_each_8')?['Staff Name']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table_4":["Succeeded"]},"metadata":{"operationMetadataId":"a3bda098-aae1-4ca6-9dca-e8b70d4bfdc6"},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-3870786b-2329-46d7-84f0-93e1bb54da61","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-9e23c3d5-938a-434c-9972-0ef4-e053bc48","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}