Legacy Power Automate Flows/02 Overtime Request Auto Manager/Microsoft.Flow/flows/6cac8862-970d-41ce-9a01-96965bf2c0f0/definition.json
{"name":"12734455-0a58-4940-baf7-2af97cab891c","id":"/providers/Microsoft.Flow/flows/12734455-0a58-4940-baf7-2af97cab891c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"02Overtime Request Auto Manager","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-03-19T18:04:49.2337719Z","connectionKeySavedTimeKey":"2025-12-07T23:01:07.5558476Z","creationSource":null,"clientCreatedTime":"2023-09-22T14:50:08.8677414Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/12734455-0a58-4940-baf7-2af97cab891c-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"65aea66c-c403-4899-b03f-aaf3e0f5cb32"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_items":{"runAfter":{},"metadata":{"operationMetadataId":"9d59670f-e609-4c90-a5a5-f9bdc30e87c1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedBy/DisplayName']}'","$top":4999},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_item":{"runAfter":{},"metadata":{"operationMetadataId":"413cc246-1827-4e93-b29b-7d64a83b1d50"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"1ea6f753-5c84-450f-b266-707d73c71133","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/Hours":"@triggerOutputs()?['body/Hours']","item/Manager/Claims":"@body('Get_items')?['value'][0]['Supervisor']","item/Status/Value":"Pending"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"e057db16-3234-4070-85ca-cce96782baef"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"greater":["@length(body('Get_items')?['value'])",0]},"metadata":{"operationMetadataId":"f3c7266a-2bf4-4bb8-b128-170af98b03e7"},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}