Legacy Power Automate Flows/MAINTENANCE update Request Allow Date/Microsoft.Flow/flows/bdd5d040-cd82-4917-baab-c841308b9c60/definition.json
{"name":"578c7512-021d-44e9-9e41-72a89cc0272e","id":"/providers/Microsoft.Flow/flows/578c7512-021d-44e9-9e41-72a89cc0272e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"MAINTENANCE update Request Allow Date","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/e7b494a2-b20f-44a7-a114-ee1488b57200/resourceGroups/3f51285e55944af6869bfe72b32298fd-default3f51285e55944af6869bfe72b32298fd-env/providers/Microsoft.Logic/workflows/578c7512-021d-44e9-9e41-72a89cc0272e-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-01-06T20:42:21.72939Z","clientCreatedTime":"2025-11-03T22:03:01.9400721Z","connectionKeySavedTimeKey":"2026-01-06T20:42:21.72939Z","creationSource":"Portal","modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"run_every_midnight":{"recurrence":{"frequency":"Day","interval":1,"startTime":"2025-11-04T05:00:00.000Z"},"evaluatedRecurrence":{"frequency":"Day","interval":1,"startTime":"2025-11-04T05:00:00.000Z"},"metadata":{"operationMetadataId":"6d478188-c662-451d-a939-94c726ff617a"},"type":"Recurrence"}},"actions":{"get_staff_directory":{"runAfter":{},"metadata":{"operationMetadataId":"65edf0c8-452a-41e5-943a-166f9e7fbaf3"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Initialize_current_vacation":{"runAfter":{"get_staff_directory":["Succeeded"]},"metadata":{"operationMetadataId":"0aa35818-b338-4527-a4db-1e50a0fb7c53"},"type":"InitializeVariable","inputs":{"variables":[{"name":"current vacation","type":"float"}]}},"Initialize_carry_over":{"runAfter":{"Initialize_current_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"5c5d7b92-debd-4368-afd3-b33058647295"},"type":"InitializeVariable","inputs":{"variables":[{"name":"carry over","type":"float"}]}},"Initialize_update_Request_Allow_Date_value_to":{"runAfter":{"Initialize_carry_over":["Succeeded"]},"metadata":{"operationMetadataId":"2c7f7c81-35cb-48f9-98b8-8a00d49c53d2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"update Request Allow Date value to","type":"string"}]}},"For_each_item_in_Staff_Directory":{"foreach":"@outputs('get_staff_directory')?['body/value']","actions":{"Set_current_vacation":{"runAfter":{},"metadata":{"operationMetadataId":"56325eb3-1c75-486f-927b-2caf0de3e58d"},"type":"SetVariable","inputs":{"name":"current vacation","value":"@item()?['CurrentVacationBalance']"}},"Set_carry_over":{"runAfter":{"Set_current_vacation":["Succeeded"]},"metadata":{"operationMetadataId":"358a10d4-a12c-46b3-a49f-1ce8205b9ed0"},"type":"SetVariable","inputs":{"name":"carry over","value":"@item()?['CarryOver']"}},"if_current_vacation_is_0_and_carry_over_is_not_0":{"actions":{"Set_RAD_to_end_of_next_year_march":{"runAfter":{},"metadata":{"operationMetadataId":"f688f1e3-f434-47b0-bae1-ce2a045aa8a8"},"type":"SetVariable","inputs":{"name":"update Request Allow Date value to","value":"@variables('end of next year march')"}}},"runAfter":{"set_RAD_so_that_its_not_empty":["Succeeded"]},"expression":{"and":[{"equals":["@variables('current vacation')",0]},{"not":{"equals":["@variables('carry over')",0]}}]},"metadata":{"operationMetadataId":"230cf78a-1668-4a13-8512-a3e1cfdf1bdf"},"type":"If"},"if_carry_over_is_0_and_current_vacation_is_not_0":{"actions":{"Set_RAD_to_end_of_current_year":{"runAfter":{},"metadata":{"operationMetadataId":"a736ffd6-1381-4001-81f7-64d1abced0c7"},"type":"SetVariable","inputs":{"name":"update Request Allow Date value to","value":"@variables('end of current year')"}}},"runAfter":{"if_current_vacation_is_0_and_carry_over_is_not_0":["Succeeded"]},"expression":{"and":[{"equals":["@variables('carry over')",0]},{"not":{"equals":["@variables('current vacation')",0]}}]},"metadata":{"operationMetadataId":"7262bfed-df3f-47f8-b0c6-0915e2680bdc"},"type":"If"},"if_current_vacation_AND_carry_over_is_0":{"actions":{"Set_RAD_to_end_of_next_year":{"runAfter":{},"metadata":{"operationMetadataId":"92d33087-bd21-4470-97cd-51f9cb1e05e1"},"type":"SetVariable","inputs":{"name":"update Request Allow Date value to","value":"@variables('end of next year')"}}},"runAfter":{"if_carry_over_is_0_and_current_vacation_is_not_0":["Succeeded"]},"expression":{"and":[{"equals":["@variables('carry over')",0]},{"equals":["@variables('current vacation')",0]}]},"metadata":{"operationMetadataId":"00590638-5cda-4654-b1b4-76f64bcaf129"},"type":"If"},"update_RAD_only_if_not_already_correct_in_SD":{"actions":{"update_RAD":{"runAfter":{},"metadata":{"operationMetadataId":"db7adea2-258f-4a85-bbf6-b3b21f1f4104"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@items('For_each_item_in_Staff_Directory')?['ID']","item/Title":"@items('For_each_item_in_Staff_Directory')?['Title']","item/Supervisor":"@items('For_each_item_in_Staff_Directory')?['Supervisor']","item/RequestAllowDate":"@variables('update Request Allow Date value to')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"if_current_vacation_AND_carry_over_is_0":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@item()?['RequestAllowDate']","@variables('update Request Allow Date value to')"]}}]},"metadata":{"operationMetadataId":"681a6b16-8833-4b2a-9efa-bfb101bc5333"},"type":"If"},"set_RAD_so_that_its_not_empty":{"runAfter":{"Set_carry_over":["Succeeded"]},"metadata":{"operationMetadataId":"24891048-9c87-4d8f-90d9-fad9ba8581d0"},"type":"SetVariable","inputs":{"name":"update Request Allow Date value to","value":"@items('For_each_item_in_Staff_Directory')?['RequestAllowDate']"}}},"runAfter":{"Initialize_end_of_next_year":["Succeeded"]},"metadata":{"operationMetadataId":"08e04ce3-9b85-4f1d-b52a-d793b2d4ed22"},"type":"Foreach"},"Initialize_end_of_next_year_march":{"runAfter":{"Compose_end_of_next_year":["Succeeded"]},"metadata":{"operationMetadataId":"0ee15894-68cd-49fc-ab84-867aa55b79a6"},"type":"InitializeVariable","inputs":{"variables":[{"name":"end of next year march","type":"string","value":"@{outputs('Compose_end_of_next_year_march')}"}]}},"Initialize_end_of_current_year":{"runAfter":{"Initialize_end_of_next_year_march":["Succeeded"]},"metadata":{"operationMetadataId":"b792f3a8-a390-4c31-bd30-a217fae46e8d"},"type":"InitializeVariable","inputs":{"variables":[{"name":"end of current year","type":"string","value":"@{outputs('Compose_end_of_current_year')}"}]}},"Initialize_end_of_next_year":{"runAfter":{"Initialize_end_of_current_year":["Succeeded"]},"metadata":{"operationMetadataId":"3bd65986-be8a-46df-b13c-acf7f59ed983"},"type":"InitializeVariable","inputs":{"variables":[{"name":"end of next year","type":"string","value":"@{outputs('Compose_end_of_next_year')}"}]}},"Compose_end_of_next_year_march":{"runAfter":{"Initialize_update_Request_Allow_Date_value_to":["Succeeded"]},"metadata":{"operationMetadataId":"20d58423-fad7-480d-97a0-adff5fb0631c"},"type":"Compose","inputs":"@formatDateTime(addToTime(utcNow(), 1, 'Year'), 'yyyy-03-31')"},"Compose_end_of_current_year":{"runAfter":{"Compose_end_of_next_year_march":["Succeeded"]},"metadata":{"operationMetadataId":"a53ddd4b-cae8-4b3d-840f-51b09fabaa6f"},"type":"Compose","inputs":"@formatDateTime(utcNow(), 'yyyy-12-31')"},"Compose_end_of_next_year":{"runAfter":{"Compose_end_of_current_year":["Succeeded"]},"metadata":{"operationMetadataId":"2db6abbe-5391-4ad2-9d5b-6b25c9844f2c"},"type":"Compose","inputs":"@formatDateTime(addToTime(utcNow(), 1, 'Year'), 'yyyy-12-31')"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}