Legacy Power Automate Flows/10 Leave Request Raw Data Manager Initialize Report/Microsoft.Flow/flows/7b03fb89-4397-4282-80a8-8abd8ff9c1b0/definition.json
{"name":"51c61ad2-9b9b-4d57-b024-216611b40c97","id":"/providers/Microsoft.Flow/flows/51c61ad2-9b9b-4d57-b024-216611b40c97","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"10 Leave Request Raw Data Manager - Initialize Report","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-03-19T17:58:20.7066899Z","connectionKeySavedTimeKey":"2025-12-11T20:22:02.6653498Z","creationSource":null,"clientCreatedTime":"2024-02-13T22:11:36.6315789Z","migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/51c61ad2-9b9b-4d57-b024-216611b40c97-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Month","interval":1,"startTime":"2024-03-01T13:00:00.000Z"},"evaluatedRecurrence":{"frequency":"Month","interval":1,"startTime":"2024-03-01T13:00:00.000Z"},"metadata":{"operationMetadataId":"858eae2b-55c2-41d8-ad16-6a57eab68499"},"type":"Recurrence"}},"actions":{"get_staff_from_SD":{"runAfter":{},"metadata":{"operationMetadataId":"53bc82de-7d03-4635-b8a0-d47a5b1b437c"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$top":5000},"authentication":"@parameters('$authentication')"}},"Initialize_unique_supervisors":{"runAfter":{"get_staff_from_SD":["Succeeded"]},"metadata":{"operationMetadataId":"39670dbf-223d-4046-8ac9-472df21395ff"},"type":"InitializeVariable","inputs":{"variables":[{"name":"uniqueSupervisors","type":"array"}]}},"extract_and_set_unique_supervisors":{"foreach":"@outputs('get_staff_from_SD')?['body/value']","actions":{"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Append_to_uniqueSupervisors":{"runAfter":{},"metadata":{"operationMetadataId":"3bd70736-a710-4cee-a6df-678cab8f5d50"},"type":"AppendToArrayVariable","inputs":{"name":"uniqueSupervisors","value":"@items('extract_and_set_unique_supervisors')?['Supervisor']"}},"Get_items":{"runAfter":{"Append_to_uniqueSupervisors":["Succeeded"]},"metadata":{"operationMetadataId":"d021b538-a305-4517-8157-d137157a1dba"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetItems"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","$filter":"Managertxt eq '@{items('extract_and_set_unique_supervisors')?['Supervisor']}'"},"authentication":"@parameters('$authentication')"}},"Create_file":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"operationMetadataId":"cde256d0-b76c-4b2f-8469-8941899e3f41"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"CreateFile"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","folderPath":"/Shared Documents/Out of Office Log Report","name":"@{items('extract_and_set_unique_supervisors')?['Supervisor']}(@{utcNow()}).xlsx","body":"@body('Get_file_content')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_file_content":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"%252fShared%2bDocuments%252fOut%2bof%2bOffice%2bLog%2bReport%252fTemplate%252fManager%2bLR%2bLog%2bData%2bTemplate.xlsx":"/Shared Documents/Out of Office Log Report/Template/Manager LR Log Data Template.xlsx","operationMetadataId":"04f859c2-f9e1-40a2-9bbc-8ef42943970f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"GetFileContent"},"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","id":"%252fShared%2bDocuments%252fOut%2bof%2bOffice%2bLog%2bReport%252fTemplate%252fManager%2bLR%2bLog%2bData%2bTemplate.xlsx","inferContentType":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"contains":["@variables('uniqueSupervisors')","@items('extract_and_set_unique_supervisors')?['Supervisor']"]},"metadata":{"operationMetadataId":"6c2a0978-bf3f-4a1b-b44e-ec829aaf76ca"},"type":"If"}},"runAfter":{"Initialize_list_data":["Succeeded"]},"metadata":{"operationMetadataId":"a4ccc95a-9c72-4f87-9040-76177cfffd65"},"type":"Foreach"},"Compose_3":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"2a16bbb5-59c3-4447-912b-4274319a8915"},"type":"Compose","inputs":"@variables('uniqueSupervisors')"},"Initialize_list_data":{"runAfter":{"Initialize_unique_supervisors":["Succeeded"]},"metadata":{"operationMetadataId":"3538dcf1-99c7-461d-ad2a-662931a5921f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"leaverequestdata","type":"array"}]}},"Compose":{"runAfter":{"extract_and_set_unique_supervisors":["Succeeded"]},"metadata":{"operationMetadataId":"d3e7cf46-7add-4942-a7be-2e5f1fa68835"},"type":"Compose","inputs":"@variables('leaverequestdata')"}}},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}