Legacy Power Automate Flows/04 Leave Request Approval/Microsoft.Flow/flows/e29db3bd-6219-41d7-9851-d51b88ec5917/definition.json
{"name":"4027014b-43ff-426a-ad43-501c3a42c481","id":"/providers/Microsoft.Flow/flows/4027014b-43ff-426a-ad43-501c3a42c481","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"04Leave Request Approval","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"migrationSourceId":"/subscriptions/b745f25e-91b5-4140-9d73-93b10b1dfb1d/resourceGroups/3f51285e55944af6869bfe72b32298fd-56054c7be65045d1bb665bea0b56907c/providers/Microsoft.Logic/workflows/4027014b-43ff-426a-ad43-501c3a42c481-azshadow","flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"56054c7b-e650-45d1-bb66-5bea0b56907c","type":"User","tenantId":"3f51285e-5594-4af6-869b-fe72b32298fd"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-12-09T15:28:53.8577347Z","clientCreatedTime":"2023-09-14T16:56:50.9460422Z","connectionKeySavedTimeKey":"2025-12-09T15:28:53.8577347Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"item_modified_in_Leave_Requests":{"recurrence":{"frequency":"Minute","interval":1},"evaluatedRecurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"f084c489-33e1-4449-b8b4-2bdefd37ba9e"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnChangedItems"},"authentication":"@parameters('$authentication')"},"conditions":[],"runtimeConfiguration":{"concurrency":{"runs":100}}}},"actions":{"Condition":{"actions":{"Get_items_Staff_Directory_Data":{"runAfter":{},"metadata":{"operationMetadataId":"adc1266a-7fd1-42bc-9fab-4abcd3420850"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$top":4999},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Filter_array_for_manager_email_address":{"runAfter":{"Get_items_Staff_Directory_Data":["Succeeded"]},"metadata":{"operationMetadataId":"72328574-013c-494a-b3df-e2a2fcadcd4f"},"type":"Query","inputs":{"from":"@outputs('Get_items_Staff_Directory_Data')?['body/value']","where":"@equals(item()?['Title'], triggerOutputs()?['body/Manager/DisplayName'])"}},"compose_manager_email_address":{"runAfter":{"Filter_array_for_manager_email_address":["Succeeded"]},"metadata":{"operationMetadataId":"1165d493-55d9-4386-b1d9-6d369320f001"},"type":"Compose","inputs":"@first(outputs('Filter_array_for_manager_email_address')?['body'])"},"Set_Manager_Email":{"runAfter":{"compose_manager_email_address":["Succeeded"]},"metadata":{"operationMetadataId":"da26b8a9-c8e5-46f8-9a44-91b58d9d956b"},"type":"SetVariable","inputs":{"name":"varManagerEmail","value":"@{outputs('compose_manager_email_address')['EmailAddress']}"}},"Filter_array_for_Submitted_By":{"runAfter":{"Set_Manager_Cell_Number":["Succeeded","Failed"]},"metadata":{"operationMetadataId":"647fc449-2c5c-4a31-9d46-234629a499fa"},"type":"Query","inputs":{"from":"@outputs('Get_items_Staff_Directory_Data')?['body/value']","where":"@equals(item()?['Title'], triggerOutputs()?['body/SubmittedTest/DisplayName'])"}},"Set_Current_Vacation_Balance":{"runAfter":{"Filter_array_for_Submitted_By":["Succeeded"]},"metadata":{"operationMetadataId":"74dcc198-af05-4af1-9fed-de632da0cda5"},"type":"SetVariable","inputs":{"name":"varCurrentVacationBalance","value":"@{first(body('Filter_array_for_Submitted_By'))?['CurrentVacationBalance']}"}},"Set_Current_Sick_Day_Balance":{"runAfter":{"Set_Current_Vacation_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"88d3c1af-3880-427f-863c-13526b3ed9ac"},"type":"SetVariable","inputs":{"name":"varCurrentSickDayBalance","value":"@{first(body('Filter_array_for_Submitted_By'))?['CurrentSickDayBalance']}"}},"Set_Carry_Over_Balance":{"runAfter":{"Set_Current_Sick_Day_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"e38dbd00-d393-4830-86f2-a01243aeb3c6"},"type":"SetVariable","inputs":{"name":"varCarryOverBalance","value":"@{first(body('Filter_array_for_Submitted_By'))?['CarryOver']}"}},"Check_if_Approved":{"actions":{"Update_item_Approved":{"runAfter":{},"metadata":{"operationMetadataId":"5fd5a1a1-f75e-4705-85e4-394a67d00243"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/ApprovedDate":"@formatDateTime(utcNow(), 'yyyy-MM-dd')","item/Status/Value":"Approved","item/ApproveProcessedFlag/Value":"Processed"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Update_item_Approved":["Succeeded"]},"metadata":{"operationMetadataId":"07a27573-f3d5-4c9b-94a9-b1c032d02308"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('varEmployeeEmail')","emailMessage/Subject":"Out of Office Request @{triggerOutputs()?['body/ID']} @{outputs('Update_item_Approved')?['body/SubmittedTest/DisplayName']}","emailMessage/Body":"<p><strong>Out of Office Request Approved</strong><br>\n<br>\nApproved by: @{variables('varManagerEmail')} on @{outputs('Update_item_Approved')?['body/Modified']}<br>\n<br>\n<strong>Request Details:<br>\n</strong>@{triggerOutputs()?['body/Title']}<br>\n<br>\n<strong>Type of Leave:</strong><br>\n@{triggerOutputs()?['body/LeaveType/Value']}<br>\n<br>\n<strong>Leave Period:</strong><br>\n@{triggerOutputs()?['body/StartDate']} to @{triggerOutputs()?['body/EndDate']}<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Compose_Staff_ID":{"runAfter":{"Get_submitted_by_ID":["Succeeded"]},"metadata":{"operationMetadataId":"bc4e53dd-29b3-4089-b65b-da5df6f4d47c"},"type":"Compose","inputs":"@outputs('Get_submitted_by_ID')?['body/value'][0]?['ID']"},"Check_if_Vacation":{"actions":{"Compose_Overtime_Deducted":{"runAfter":{},"metadata":{"operationMetadataId":"e9d0e90c-4982-451f-a393-d699334b38e3"},"type":"Compose","inputs":"@sub(outputs('Get_Staff_from_Directory')['body']['CurrentOvertimeBalance'], triggerOutputs()?['body/Days'])"},"Update_Overtime":{"runAfter":{"Compose_Overtime_Deducted":["Succeeded"]},"metadata":{"operationMetadataId":"57b5a6bd-242d-4bde-a1b4-41b20d07a102"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_Directory')?['body/ID']","item/Title":"@outputs('Get_Staff_from_Directory')?['body/Title']","item/Supervisor":"@outputs('Get_Staff_from_Directory')?['body/Supervisor']","item/CurrentOvertimeBalance":"@outputs('Compose_Overtime_Deducted')","item/SystemCheck/Value":"Editing"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"set_system_check_to_editing_immediately":["Succeeded"]},"else":{"actions":{"Compose_Sick_Day_Deducted":{"runAfter":{},"metadata":{"operationMetadataId":"3b3cd089-9c2c-4ce2-b919-8a12505339de"},"type":"Compose","inputs":"@sub(outputs('Get_Staff_from_Directory')['body']['CurrentSickDayBalance'], triggerOutputs()?['body/Days'])"},"check_if_sick":{"actions":{"Update_Sick_Day":{"runAfter":{},"metadata":{"operationMetadataId":"b45873ba-14ba-4bfe-81bc-22ac2748d777"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_Directory')?['body/ID']","item/Title":"@outputs('Get_Staff_from_Directory')?['body/Title']","item/Supervisor":"@outputs('Get_Staff_from_Directory')?['body/Supervisor']","item/CurrentSickDayBalance":"@outputs('Compose_Sick_Day_Deducted')","item/SystemCheck/Value":"Editing"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Compose_Sick_Day_Deducted":["Succeeded"]},"else":{"actions":{"if_bereavement_juryduty_or_wfh_do_not_adjust_any_balance":{"runAfter":{},"metadata":{"operationMetadataId":"1fc3eb06-0fdc-42ec-8d0a-1ea8345a8752"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@triggerOutputs()?['body/LeaveType/Value']","Sick or Personal Day"]},"metadata":{"operationMetadataId":"1adf81fa-1b4a-4ea5-84b0-e1f3b10305f9"},"type":"If"}}},"expression":{"or":[{"equals":["@triggerOutputs()?['body/LeaveType/Value']","Vacation"]},{"equals":["@triggerOutputs()?['body/LeaveType/Value']","Half Day or Partial Day Off"]}]},"metadata":{"operationMetadataId":"4f6a98b2-0508-498b-a57b-62906aac9c19"},"type":"If"},"Get_submitted_by_ID":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"metadata":{"operationMetadataId":"fbec17c9-a43d-4e64-87cc-064ee8793dfb"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","$filter":"Title eq '@{triggerOutputs()?['body/SubmittedTest/DisplayName']}'","$top":4999},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"get_staff_from_SD_and_wait_if_it_is_being_edited_by_another_instance":{"actions":{"Get_Staff_from_Directory":{"runAfter":{},"metadata":{"operationMetadataId":"30fa7d28-ee2a-4963-8ba8-979ed9d45aa6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Compose_Staff_ID')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"delay_if_system_status_is_not_ready":{"actions":{"set_SD_system_status_to_ready":{"runAfter":{},"metadata":{"operationMetadataId":"d7e11507-0000-422d-936f-4f3bf8f73ce5"},"type":"SetVariable","inputs":{"name":"SD System Status","value":"Ready"}}},"runAfter":{"Get_Staff_from_Directory":["Succeeded"]},"else":{"actions":{"Delay":{"runAfter":{},"metadata":{"operationMetadataId":"f7a4c4cd-10b9-4491-a347-06cef11fe55f"},"type":"Wait","inputs":{"interval":{"count":30,"unit":"Second"}}}}},"expression":{"not":{"equals":["@outputs('Get_Staff_from_Directory')?['body/SystemCheck/Value']","Editing"]}},"metadata":{"operationMetadataId":"daed27d9-2fb1-4636-a7fe-c3054304a000"},"type":"If"}},"runAfter":{"Random_Delay_before_System_Ready_Check":["Succeeded"]},"expression":"@equals(variables('SD System Status'), 'Ready')","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"19d0ac51-545b-441b-824e-0b73ff6139fe"},"type":"Until"},"which_balancing_sequence_to_use":{"actions":{"IsNextYear_BS_Overtime_CarryOver":{"actions":{"Get_item_2":{"runAfter":{},"metadata":{"operationMetadataId":"f34d12ff-3a78-4c6e-abff-70c5ded52faa"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Compose_Staff_ID')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Check_if_Overtime_is_Negative":{"actions":{"compose_overtime_into_carryover":{"runAfter":{},"metadata":{"operationMetadataId":"04f62cfa-7d2d-4874-8204-37717905e3ac"},"type":"Compose","inputs":"@add(outputs('Get_item_2')['body']['CurrentOvertimeBalance'], outputs('Get_item_2')['body']['CarryOver'])"},"update_overtime_into_carryover":{"runAfter":{"compose_overtime_into_carryover":["Succeeded"]},"metadata":{"operationMetadataId":"7efbec7e-d629-4db5-add0-13145726ba56"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item_2')?['body/ID']","item/Title":"@outputs('Get_item_2')?['body/Title']","item/Supervisor":"@outputs('Get_item_2')?['body/Supervisor']","item/CarryOver":"@outputs('compose_overtime_into_carryover')","item/CurrentOvertimeBalance":0},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"overtime_was_negative":{"runAfter":{"update_overtime_into_carryover":["Succeeded"]},"metadata":{"operationMetadataId":"d1b16a08-0b77-427d-95e7-781e58ba2153"},"type":"SetVariable","inputs":{"name":"varBalance","value":false}}},"runAfter":{"Get_item_2":["Succeeded"]},"else":{"actions":{"overtime_and_carryover_are_not_negative":{"runAfter":{},"metadata":{"operationMetadataId":"badabf17-9232-4561-87e3-d1f1794d25a9"},"type":"SetVariable","inputs":{"name":"varBalance","value":true},"description":"there is a pre-approval auto reject case for if request IsNextYear, AND # of Days in request exceed Staff's CarryOver+Overtime"},"update_system_check_to_ready":{"runAfter":{"Send_an_email_(V2)_5":["Succeeded"]},"metadata":{"operationMetadataId":"35746b73-6ed2-4f11-8ecc-35855833a1cb"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item_2')?['body/ID']","item/Title":"@outputs('Get_item_2')?['body/Title']","item/Supervisor":"@outputs('Get_item_2')?['body/Supervisor']","item/SystemCheck/Value":"Ready"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_5":{"runAfter":{"overtime_and_carryover_are_not_negative":["Succeeded"]},"metadata":{"operationMetadataId":"8ab4c7e7-0710-4892-800e-53519cb8735d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{variables('varEmployeeEmail')};@{variables('varManagerEmail')}","emailMessage/Subject":"Next Year Out of Office Request @{triggerOutputs()?['body/ID']} by @{outputs('get_request_to_check_if_approve_has_been_processed')?['body/SubmittedTest/DisplayName']}","emailMessage/Body":"<p>Request #@{triggerOutputs()?['body/ID']} Type @{triggerOutputs()?['body/LeaveType/Value']} for next year was approved. <strong>Your Make Up and Carry Over balances were deducted for this request.</strong> Please review your updated balances below:<br>\n<strong><br>\nVacation: </strong><strong>@{outputs('Get_item_2')?['body/CurrentVacationBalance']}</strong><strong><br>\nSick Day: </strong><strong>@{outputs('Get_item_2')?['body/CurrentSickDayBalance']}</strong><strong><br>\nCarry Over: </strong><strong>@{outputs('Get_item_2')?['body/CarryOver']}</strong><strong><br>\nTime Make-Up: </strong><strong>@{outputs('Get_item_2')?['body/CurrentOvertimeBalance']}</strong><strong></strong><br>\n<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"update_leave_request_to_approved_with_new_balances_stamp":{"runAfter":{"update_system_check_to_ready":["Succeeded"]},"metadata":{"operationMetadataId":"3e70b1d9-4a3e-4ee8-aabf-2a3ce818d69a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/Status/Value":"Approved","item/ApproveProcessedFlag/Value":"Processed","item/NewBalances":"(Vacation:@{outputs('update_system_check_to_ready')?['body/CurrentVacationBalance']})(Sick:@{outputs('update_system_check_to_ready')?['body/CurrentSickDayBalance']})(CarryOver:@{outputs('update_system_check_to_ready')?['body/CarryOver']})(Make-up:@{outputs('update_system_check_to_ready')?['body/CurrentOvertimeBalance']})"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@outputs('Get_item_2')?['body/CurrentOvertimeBalance']",0]},"metadata":{"operationMetadataId":"5dff67bc-feb8-4134-add5-ad6defa7fcfd"},"type":"If"}},"runAfter":{},"expression":"@equals(variables('varBalance'), true)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"a7a9f2dc-4427-420f-9732-fa2a0f6b6c70"},"type":"Until"}},"runAfter":{"Check_if_Vacation":["Succeeded"]},"else":{"actions":{"Regular_BS_Sick_Overtime_CarryOver_Vacation":{"actions":{"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"e44eb801-a03a-48ab-9363-8be990159dd6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Compose_Staff_ID')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Check_if_Sick_Negative":{"actions":{"Compose_Sick_to_Overtime":{"runAfter":{},"metadata":{"operationMetadataId":"8c83604a-02b1-4fa0-ad63-ddb84d854117"},"type":"Compose","inputs":"@add(outputs('Get_item')['body']['CurrentSickDayBalance'], outputs('Get_item')['body']['CurrentOvertimeBalance'])\r\n"},"Update_Sick_negative_to_Overtime":{"runAfter":{"Compose_Sick_to_Overtime":["Succeeded"]},"metadata":{"operationMetadataId":"6021764f-a815-48fb-8bc2-749ba50894fd"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_Directory')?['body/ID']","item/Title":"@outputs('Get_Staff_from_Directory')?['body/Title']","item/Supervisor":"@outputs('Get_Staff_from_Directory')?['body/Supervisor']","item/CurrentSickDayBalance":0,"item/CurrentOvertimeBalance":"@outputs('Compose_Sick_to_Overtime')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"negative_check_failed":{"runAfter":{"Update_Sick_negative_to_Overtime":["Succeeded"]},"metadata":{"operationMetadataId":"a7b4b7ea-bce4-494f-8422-4a4db3eb94dc"},"type":"SetVariable","inputs":{"name":"varBalance","value":false}}},"runAfter":{"Get_item":["Succeeded"]},"else":{"actions":{"Check_if_Overtime_Negative":{"actions":{"Compose_Overtime_to_Carry_Over":{"runAfter":{},"metadata":{"operationMetadataId":"5fffa57b-3ff3-42af-95bd-b7bf3e82c6d5"},"type":"Compose","inputs":"@add(outputs('Get_item')['body']['CurrentOvertimeBalance'], outputs('Get_item')['body']['CarryOver'])"},"Update_Overtime_negative_to_Carry_Over":{"runAfter":{"Compose_Overtime_to_Carry_Over":["Succeeded"]},"metadata":{"operationMetadataId":"03b8b54f-f934-4d65-ab64-ffbf17994250"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/Supervisor":"@outputs('Get_item')?['body/Supervisor']","item/CarryOver":"@outputs('Compose_Overtime_to_Carry_Over')","item/CurrentOvertimeBalance":0},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Update_Overtime_negative_to_Carry_Over":["Succeeded"]},"metadata":{"operationMetadataId":"44918590-642a-472c-bf4a-9c114276bfa9"},"type":"SetVariable","inputs":{"name":"varBalance","value":false}}},"runAfter":{},"else":{"actions":{"Check_if_Carry_Over_Negative":{"actions":{"Compose_Carry_Over_to_Vacation":{"runAfter":{},"metadata":{"operationMetadataId":"1c04b10a-d38a-4bf1-a4dd-d71cc1ad47bb"},"type":"Compose","inputs":"@add(outputs('Get_item')['body']['CarryOver'], outputs('Get_item')['body']['CurrentVacationBalance'])\r\n"},"Update_Carry_Over_to_Vacation":{"runAfter":{"Compose_Carry_Over_to_Vacation":["Succeeded"]},"metadata":{"operationMetadataId":"eca9eb1e-ad9b-4eff-a21c-68dfbb3fdb0d"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_Directory')?['body/ID']","item/Title":"@outputs('Get_Staff_from_Directory')?['body/Title']","item/Supervisor":"@outputs('Get_Staff_from_Directory')?['body/Supervisor']","item/CurrentVacationBalance":"@outputs('Compose_Carry_Over_to_Vacation')","item/CarryOver":0},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"negative_check_failed_2":{"runAfter":{"Update_Carry_Over_to_Vacation":["Succeeded"]},"metadata":{"operationMetadataId":"5f034b2d-3255-4ca5-b036-ce9938c1ae87"},"type":"SetVariable","inputs":{"name":"varBalance","value":false}}},"runAfter":{},"else":{"actions":{"Set_Balance_true":{"runAfter":{},"metadata":{"operationMetadataId":"eaadf8f0-ece6-4bf1-9591-3a67e27bc450"},"type":"SetVariable","inputs":{"name":"varBalance","value":true}},"Condition_3":{"actions":{"Send_an_email_(V2)_3":{"runAfter":{},"metadata":{"operationMetadataId":"b44c3341-c7c5-40b1-8b54-a0ab412c0135"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{variables('varManagerEmail')};@{variables('varEmployeeEmail')}","emailMessage/Subject":"Out of Office Request @{triggerOutputs()?['body/ID']} @{triggerOutputs()?['body/SubmittedTest/DisplayName']}","emailMessage/Body":"<p><strong>System has identified that this request was approved by</strong><strong>@{outputs('Get_item')?['body/SupervisorLink/DisplayName']}</strong><strong> despite it resulting in a negative Vacation balance for </strong><strong>@{outputs('Get_item')?['body/Title']}</strong><strong>.<br>\n<br>\nUpdated Balances for (</strong><strong>@{outputs('Get_item')?['body/Title']}</strong><strong>)<br>\n<br>\nVacation: </strong><strong>@{outputs('Get_item')?['body/CurrentVacationBalance']}</strong><strong><br>\nSick Day: </strong><strong>@{outputs('Get_item')?['body/CurrentSickDayBalance']}</strong><strong><br>\nCarry Over: </strong><strong>@{outputs('Get_item')?['body/CarryOver']}</strong><strong><br>\nTime Make-Up: </strong><strong>@{outputs('Get_item')?['body/CurrentOvertimeBalance']}</strong><strong></strong></p>","emailMessage/Cc":"mandyl@ucsh.com","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Set_Balance_true":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_4":{"runAfter":{},"metadata":{"operationMetadataId":"3a0f93bd-09a8-49d7-8ff2-4c2d09bc1b9f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{variables('varEmployeeEmail')};@{variables('varManagerEmail')}","emailMessage/Subject":"Out of Office Request @{triggerOutputs()?['body/ID']} @{triggerOutputs()?['body/SubmittedTest/DisplayName']}","emailMessage/Body":"<p><strong>Updated Balances for (</strong><strong>@{outputs('Get_item')?['body/Title']}</strong><strong>)<br>\n<br>\nVacation: </strong><strong>@{outputs('Get_item')?['body/CurrentVacationBalance']}</strong><strong><br>\nSick Day: </strong><strong>@{outputs('Get_item')?['body/CurrentSickDayBalance']}</strong><strong><br>\nCarry Over: </strong><strong>@{outputs('Get_item')?['body/CarryOver']}</strong><strong><br>\nTime Make-Up: </strong><strong>@{outputs('Get_item')?['body/CurrentOvertimeBalance']}</strong><strong></strong></p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@outputs('Get_item')?['body/CurrentVacationBalance']",0]},"metadata":{"operationMetadataId":"9c94ed28-f277-496e-82a2-127fab223bc4"},"type":"If"},"Update_SD_system_check_to_ready":{"runAfter":{"Condition_3":["Succeeded"]},"metadata":{"operationMetadataId":"03723edb-6e02-4c6d-94c9-78bf28dd5ace"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_item')?['body/ID']","item/Title":"@outputs('Get_item')?['body/Title']","item/Supervisor":"@outputs('Get_item')?['body/Supervisor']","item/SystemCheck/Value":"Ready"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Update_SD_system_check_to_ready":["Succeeded"]},"metadata":{"operationMetadataId":"bc2cda86-c9e3-466e-9bd9-540bb59789c5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/NewBalances":"(Vacation:@{outputs('Get_item')?['body/CurrentVacationBalance']})(Sick:@{outputs('Update_SD_system_check_to_ready')?['body/CurrentSickDayBalance']})(Carry Over:@{outputs('Update_SD_system_check_to_ready')?['body/CarryOver']})(Make-up:@{outputs('Update_SD_system_check_to_ready')?['body/CurrentOvertimeBalance']})"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@outputs('Get_item')?['body/CarryOver']",0]},"metadata":{"operationMetadataId":"dc585994-d54c-4628-a85a-895439958de0"},"type":"If"}}},"expression":{"less":["@outputs('Get_item')?['body/CurrentOvertimeBalance']",0]},"metadata":{"operationMetadataId":"eee8db5d-eef2-4966-b25a-beabddc853ed"},"type":"If"}}},"expression":{"less":["@outputs('Get_item')?['body/CurrentSickDayBalance']",0]},"metadata":{"operationMetadataId":"fea17182-76a0-42a8-b150-99c66298d195"},"type":"If"}},"runAfter":{},"expression":"@equals(variables('varBalance'), true)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"632da90c-67a6-48d2-a239-95a4c02d2218"},"type":"Until"}}},"expression":{"equals":["@variables('IsNextYear')",true]},"metadata":{"operationMetadataId":"0dbb17ef-7661-4d2c-a7e9-2b37c09cbdfe"},"type":"If"},"set_system_check_to_editing_immediately":{"runAfter":{"check_if_hourly_staff_or_work_from_home_leave_type":["Succeeded"]},"metadata":{"operationMetadataId":"58b73078-faca-4f07-8306-db2e9f9d67a8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"ed4bba96-f035-4eee-a8ff-af71036034fe","id":"@outputs('Get_Staff_from_Directory')?['body/ID']","item/Title":"@outputs('Get_Staff_from_Directory')?['body/Title']","item/Supervisor":"@outputs('Get_Staff_from_Directory')?['body/Supervisor']","item/SystemCheck/Value":"Editing"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Random_Delay_before_System_Ready_Check":{"runAfter":{"Compose_Staff_ID":["Succeeded"]},"metadata":{"operationMetadataId":"63c3db90-95a1-43b1-9c30-f183f512341e"},"type":"Wait","inputs":{"interval":{"count":"@rand(1, 20)","unit":"Minute"}},"description":"random delay, so that if due to network issues that cause multiple requests for the same employee to be perceived as approved at the exact same time, both requests would check for System Ready Check at different times."},"check_if_hourly_staff_or_work_from_home_leave_type":{"actions":{"no_calculation_needed_for_request,_terminate_successful":{"runAfter":{},"metadata":{"operationMetadataId":"2063572f-b593-4794-b80b-8a9d08aaec9c"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"get_staff_from_SD_and_wait_if_it_is_being_edited_by_another_instance":["Succeeded"]},"expression":{"or":[{"equals":["@outputs('Get_Staff_from_Directory')?['body/SalaryHourly/Value']","Hourly"]},{"equals":["@outputs('get_request_to_check_if_approve_has_been_processed')?['body/LeaveType/Value']","Work from Home"]}]},"metadata":{"operationMetadataId":"f861ff37-b672-401f-8a3f-f0aa44037bc1"},"type":"If"}},"runAfter":{"check_if_already_processed":["Succeeded"]},"else":{"actions":{"Update_item_Rejected":{"runAfter":{},"metadata":{"operationMetadataId":"5fa8f37c-e6bc-46b5-b7cf-9ec08dcb5a8a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/Status/Value":"Rejected","item/ApproveProcessedFlag/Value":"Processed"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"Update_item_Rejected":["Succeeded"]},"metadata":{"operationMetadataId":"58ac1c37-cf7e-4788-a1bd-4aa74c3dce75"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('varEmployeeEmail')","emailMessage/Subject":"Out of Office Request @{triggerOutputs()?['body/ID']} @{triggerOutputs()?['body/SubmittedTest/DisplayName']}","emailMessage/Body":"<p><strong>Out of Office Request Rejected</strong><br>\n<br>\n<em>Rejected by:</em> @{variables('varManagerEmail')} <em>on</em> @{outputs('Update_item_Rejected')?['body/Modified']}<br>\n<br>\n<strong>Request Details:</strong><br>\n<strong></strong><strong>@{triggerOutputs()?['body/Title']}</strong><strong></strong><br>\n<br>\n<strong>Type of Leave:</strong><br>\n@{triggerOutputs()?['body/LeaveType/Value']}<br>\n<br>\n<strong>Leave Period:</strong><br>\n@{triggerOutputs()?['body/StartDate']} to @{triggerOutputs()?['body/EndDate']}<br>\n</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Send_email_with_options')?['body/SelectedOption']","Approve"]},"metadata":{"operationMetadataId":"6be8aa49-9fa5-48e0-a1bd-378b28409232"},"type":"If"},"Compose_for_Extracting_Employee_Email":{"runAfter":{"Set_Request_Allow_Date":["Succeeded"]},"metadata":{"operationMetadataId":"e861f01b-b614-487f-9745-7fc695721c30"},"type":"Compose","inputs":"@outputs('Filter_array_for_Submitted_By')['body'][0]['EmailAddress']"},"Set_Employee_Email":{"runAfter":{"Compose_for_Extracting_Employee_Email":["Succeeded"]},"metadata":{"operationMetadataId":"e7f9b70f-a501-473a-9de9-656d8b44732f"},"type":"SetVariable","inputs":{"name":"varEmployeeEmail","value":"@{first(body('Filter_array_for_Submitted_By'))?['EmailAddress']}"}},"sms_notify_manager_if_manager_has_cell_number":{"actions":{"Send_Text_Message_(SMS)_2":{"runAfter":{},"metadata":{"operationMetadataId":"924372c7-1e0e-419c-b60e-94d70b239dce"},"type":"OpenApiConnection","inputs":{"parameters":{"sendMessageRequest/from":"+16476977133","sendMessageRequest/to":"+1@{variables('Manager Cell Number')}","sendMessageRequest/body":"**Automated message from UCSH Bulletin Board**\n\nA @{triggerOutputs()?['body/LeaveType/Value']} request has been submitted by @{triggerOutputs()?['body/SubmittedTest/DisplayName']}.\n\nOut of Office Request Details:\n@{triggerOutputs()?['body/StartDate']} to @{triggerOutputs()?['body/EndDate']}\n@{triggerOutputs()?['body/Days']} Days\n\nDescription: @{triggerOutputs()?['body/Title']}\n\nCurrent Balances:\n@{variables('varCurrentVacationBalance')} Vacation\n@{variables('varCurrentSickDayBalance')} Sick/Personal\n@{variables('varCarryOverBalance')} Carry Over\n@{variables('varOvertimeBalance')} Time Make-Up\n\nTo approve reply:\n\"Approve @{triggerOutputs()?['body/ID']}\"\nTo reject reply:\n\"Reject @{triggerOutputs()?['body/ID']}\""},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_twilio","connectionName":"shared_twilio","operationId":"SendMessage"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"update_item_to_processing":["Succeeded"]},"expression":{"not":{"equals":["@variables('Manager Cell Number')","@null"]}},"metadata":{"operationMetadataId":"ff38b8b4-e0da-469d-9e50-93e0f011b3e1"},"type":"If"},"Send_email_with_options":{"runAfter":{"update_item_to_processing":["Succeeded"]},"metadata":{"operationMetadataId":"8ed44c05-339c-4895-8b15-6564f10ae811"},"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendMailWithOptions"},"parameters":{"optionsEmailSubscription/Message/To":"@{variables('varManagerEmail')}; hr@ucshca.onmicrosoft.com","optionsEmailSubscription/Message/Subject":"Out of Office Request @{triggerOutputs()?['body/ID']} @{triggerOutputs()?['body/SubmittedTest/DisplayName']}","optionsEmailSubscription/Message/Options":"Approve, Reject","optionsEmailSubscription/Message/Body":"<h3>Leave Request Details</h3>\n\n\n<p><strong>Leave requested by:</strong><br>\n@{triggerOutputs()?['body/SubmittedTest/DisplayName']}</p>\n\n\n<p><strong>Leave Period:</strong><br>\n@{triggerOutputs()?['body/StartDate']} To @{triggerOutputs()?['body/EndDate']}<br>\nFor @{triggerOutputs()?['body/Days']} Days</p>\n\n\n<p><strong>Type of Leave:</strong> @{triggerOutputs()?['body/LeaveType/Value']}</p>\n\n\n<p><strong>Leave Request Description:</strong><br>\n@{triggerOutputs()?['body/Title']}</p>\n\n\n<h3>@{triggerOutputs()?['body/SubmittedTest/DisplayName']} Current Balances</h3>\n\n\n<ul>\n  <li><strong>Vacation:</strong> @{variables('varCurrentVacationBalance')} Days</li>\n  <li><strong>Sick Days:</strong> @{variables('varCurrentSickDayBalance')} Days</li>\n  <li><strong>Carry Over:</strong> @{variables('varCarryOverBalance')} Days</li>\n<li><strong>Time Make-Up:</strong> @{variables('varOvertimeBalance')} Days</li>\n</ul>\n","optionsEmailSubscription/Message/Importance":"High","optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":true,"optionsEmailSubscription/Message/HideMicrosoftFooter":true},"authentication":"@parameters('$authentication')"}},"Set_Manager_Cell_Number":{"runAfter":{"Set_Manager_Email":["Succeeded","Failed"]},"metadata":{"operationMetadataId":"f93945d0-80b2-4a17-a595-149ea56cf478"},"type":"SetVariable","inputs":{"name":"Manager Cell Number","value":"@{outputs('compose_manager_email_address')['CellNumber']}"}},"check_if_already_processed":{"actions":{"terminate_if_already_processed":{"runAfter":{},"metadata":{"operationMetadataId":"ab6aac80-4b58-48ac-8a2f-b1679a466554"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"get_request_to_check_if_approve_has_been_processed":["Succeeded"]},"expression":{"or":[{"equals":["@outputs('get_request_to_check_if_approve_has_been_processed')?['body/ApproveProcessedFlag/Value']","Processed"]},{"not":{"equals":["@outputs('get_request_to_check_if_approve_has_been_processed')?['body/Status/Value']","Pending"]}}]},"metadata":{"operationMetadataId":"5c1baf24-d6a4-44db-8b33-c45b72005f6a"},"type":"If"},"get_request_to_check_if_approve_has_been_processed":{"runAfter":{"Send_email_with_options":["Succeeded"]},"metadata":{"operationMetadataId":"d753647f-f720-4fe7-a6d3-020a1e2c925f"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":"@parameters('$authentication')"}},"Set_Overtime_Balance":{"runAfter":{"Set_Carry_Over_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"ce21367b-970e-4d34-866e-3007678bfaf2"},"type":"SetVariable","inputs":{"name":"varOvertimeBalance","value":"@{first(body('Filter_array_for_Submitted_By'))?['CurrentOvertimeBalance']}"}},"update_item_to_processing":{"runAfter":{"check_if_request_IsNextYear_and_if_employee_has_sufficient_balance":["Succeeded"]},"metadata":{"operationMetadataId":"e7be7dc4-7559-4a4c-8796-fc1ffbbf2bb8"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/ApproveProcessedFlag/Value":"Processing"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"check_if_request_IsNextYear_and_if_employee_has_sufficient_balance":{"actions":{"Request_is_for_Next_Year":{"runAfter":{},"metadata":{"operationMetadataId":"b86bfc1a-6eeb-4b43-b400-7385448f6be8"},"type":"SetVariable","inputs":{"name":"IsNextYear","value":true}},"if_next_year,_ensure_request_type_is_Vacation,_otherwise_terminate":{"actions":{},"runAfter":{"Request_is_for_Next_Year":["Succeeded"]},"else":{"actions":{"notify_error_to_user":{"runAfter":{},"metadata":{"operationMetadataId":"aeddd3e6-d3d5-4869-ab90-a1d23bb07074"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('varEmployeeEmail')","emailMessage/Subject":"Leave Request #@{triggerOutputs()?['body/ID']} has been auto-rejected.","emailMessage/Body":"<p>Leave Request <strong>#</strong><strong>@{triggerOutputs()?['body/ID']}</strong><strong></strong> has been rejected by the balancing system.<br>\n<br>\n<strong>Reason:</strong><br>\n<br>\nRequest is for the next calendar year, but is not of type: <strong>Vacation</strong></p>","emailMessage/Cc":"mandyl@ucsh.com","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"terminate_successful":{"runAfter":{"notify_error_to_user":["Succeeded"]},"metadata":{"operationMetadataId":"6527e1f0-29b2-47c1-a40b-d1ed4086c9e4"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}},"invalid_type_auto_reject_leave_request":{"runAfter":{"terminate_successful":["Succeeded"]},"metadata":{"operationMetadataId":"957bee85-8fce-484a-92b9-bd0ad9a195ad"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/Title":"@{triggerOutputs()?['body/Title']} /// Auto-rejected: request is NextYear and is not of type Vacation.","item/Status/Value":"Rejected","item/ApproveProcessedFlag/Value":"Processed"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/LeaveType/Value']","Vacation"]},"metadata":{"operationMetadataId":"f24ef566-622d-49f2-a0ac-f9a9d46cab01"},"type":"If"},"ensure_that_employee_can_afford_the_NextYear_request":{"actions":{},"runAfter":{"compose_total_employee_overtime_and_carry_over":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_6":{"runAfter":{},"metadata":{"operationMetadataId":"e1ab06dc-5c74-4c47-b8ab-d872508d1f9e"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@variables('varEmployeeEmail')","emailMessage/Subject":"Next Year Vacation Request @{triggerOutputs()?['body/ID']} - Auto Rejected","emailMessage/Body":"<p>Please note that you do not have sufficient Carry Over and/or Make-Up time to cover this request and therefore it has been rejected by the system.<br>\n<br>\nIf there has been any error, please contact HR.</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"auto_reject_leave_request":{"runAfter":{"Send_an_email_(V2)_6":["Succeeded"]},"metadata":{"operationMetadataId":"ac0eaa23-c846-442e-89bc-6cb11c005dc3"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerOutputs()?['body/ID']","item/StartDate":"@triggerOutputs()?['body/StartDate']","item/EndDate":"@triggerOutputs()?['body/EndDate']","item/Title":"@{triggerOutputs()?['body/Title']} /// Auto-rejected: insufficient balances for NextYear type request.","item/Status/Value":"Rejected","item/ApproveProcessedFlag/Value":"Processed"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}},"Terminate_2":{"runAfter":{"auto_reject_leave_request":["Succeeded"]},"metadata":{"operationMetadataId":"02031bf0-fc4d-4b1f-9453-356ac5534683"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"greater":["@outputs('compose_total_employee_overtime_and_carry_over')","@triggerOutputs()?['body/Days']"]},"metadata":{"operationMetadataId":"34667f9f-0799-4094-b8fd-aad41877a803"},"type":"If","description":"total number of days in request must not exceed employee's total CarryOver + Overtime balance."},"compose_total_employee_overtime_and_carry_over":{"runAfter":{"if_next_year,_ensure_request_type_is_Vacation,_otherwise_terminate":["Succeeded"]},"metadata":{"operationMetadataId":"ed293971-b3ca-40fb-9d7b-2aedd837a7eb"},"type":"Compose","inputs":"@add(float(variables('varOvertimeBalance')), float(variables('varCarryOverBalance')))"}},"runAfter":{"check_staff's_Request_Allow_Date":["Succeeded"]},"expression":{"or":[{"equals":["@int(formatDateTime(triggerOutputs()?['body/StartDate'], 'yyyy'))","@variables('NextYear')"]},{"equals":["@int(formatDateTime(triggerOutputs()?['body/EndDate'], 'yyyy'))","@variables('NextYear')"]}]},"metadata":{"operationMetadataId":"6f8e6b7b-1ad5-4c84-88da-423073991ecf"},"type":"If"},"check_staff's_Request_Allow_Date":{"actions":{},"runAfter":{"Set_Employee_Email":["Succeeded"]},"else":{"actions":{"Send_an_email_(V2)_1":{"runAfter":{},"metadata":{"operationMetadataId":"1ca7ed47-bd67-4268-bf51-e69491f1a21a"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"parameters":{"emailMessage/To":"@{variables('varEmployeeEmail')}; mandyl@ucsh.com ; jayp@ucsh.com","emailMessage/Subject":"System triggered auto-reject: End-date exceeds user's allowed request date limit","emailMessage/Body":"<p class=\"editor-paragraph\">Request #@{triggerBody()?['ID']} has been auto rejected due to request allowed date limit.</p><br><p class=\"editor-paragraph\">Details:</p><p class=\"editor-paragraph\">@{triggerBody()?['StartDate']} to @{triggerBody()?['EndDate']}</p><p class=\"editor-paragraph\">@{triggerBody()?['SubmittedTest/DisplayName']}'s current limit date: @{variables('Request Allow Date')}</p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Vacation Policy Update</strong></b><br>Current Vacation Balance can only be used for vacations taken in the current year (2025).</p><p class=\"editor-paragraph\"><br>Carry Over Balance can be used to book 2026 vacations, but only for dates between January and March 2026.</p><p class=\"editor-paragraph\"><br>You must use up your 2025 vacation balance before transferring your vacation to carryover:</p><br><p class=\"editor-paragraph\">If you still have 2025 Vacation Balance left, the system will not let you use Carry Over for January–March 2026 requests.</p><br><p class=\"editor-paragraph\"><br>If you transfer your 2025 balance to Carry Over and then request more 2025 vacations, those requests will deduct from your Carry Over instead.</p>","emailMessage/Importance":"Normal"},"authentication":"@parameters('$authentication')"}},"Terminate_if_RAD_exceeded":{"runAfter":{"update_leave_request_to_Rejected":["Succeeded"]},"metadata":{"operationMetadataId":"570c4da5-96f6-4ebf-8a46-c58b7bd03c0b"},"type":"Terminate","inputs":{"runStatus":"Cancelled"}},"update_leave_request_to_Rejected":{"runAfter":{"Send_an_email_(V2)_1":["Succeeded"]},"metadata":{"operationMetadataId":"a7e73e04-b0ad-4d26-ac79-cb5df689cafe"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://ucshca.sharepoint.com/sites/UCSHBulletinBoard","table":"bd21037a-9c3c-4682-9aaa-948095e16aec","id":"@triggerBody()?['ID']","item/StartDate":"@triggerBody()?['StartDate']","item/EndDate":"@triggerBody()?['EndDate']","item/Status/Value":"Rejected","item/ApproveProcessedFlag/Value":"Processed"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":"@parameters('$authentication')"}}}},"expression":{"and":[{"greaterOrEquals":["@variables('Request Allow Date')","@triggerBody()?['EndDate']"]}]},"metadata":{"operationMetadataId":"1d9482ad-8c31-4bd1-9c53-fcb085869bf2"},"type":"If"},"Set_Request_Allow_Date":{"runAfter":{"Set_Overtime_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"be7d3266-b4b8-4e3f-bc4d-08ba2976a91e"},"type":"SetVariable","inputs":{"name":"Request Allow Date","value":"@first(body('Filter_array_for_Submitted_By'))?['RequestAllowDate']"}}},"runAfter":{"Initialize_Request_Allow_Date":["Succeeded"]},"else":{"actions":{"Terminate":{"runAfter":{},"metadata":{"operationMetadataId":"467ccbe2-f5f3-414b-87a3-4d53d64abdf6"},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}}},"expression":{"and":[{"not":{"equals":["@triggerOutputs()?['body/Manager/DisplayName']","@null"]}},{"not":{"equals":["@triggerOutputs()?['body/Days']","@null"]}},{"equals":["@triggerOutputs()?['body/Status/Value']","Pending"]},{"equals":["@triggerOutputs()?['body/Approve']","@null"]},{"equals":["@triggerOutputs()?['body/Reject']","@null"]},{"equals":["@triggerOutputs()?['body/ApproveProcessedFlag/Value']","Not Processed"]}]},"metadata":{"operationMetadataId":"fde2c962-7fb2-4e9e-925c-9b934636f85e"},"type":"If"},"Initialize_Manager_Email":{"runAfter":{},"metadata":{"operationMetadataId":"780697e7-b8bd-4a2a-9b75-2481fb414ff8"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varManagerEmail","type":"string"}]}},"Initialize_Current_Vacation_Balance":{"runAfter":{"Initialize_Manager_Email":["Succeeded"]},"metadata":{"operationMetadataId":"6b532fd8-40ae-4036-8eeb-713eef508ac5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCurrentVacationBalance","type":"string","value":"varCurrentVacationBalance"}]}},"initialize_Current_Sick_Day_Balance":{"runAfter":{"Initialize_Current_Vacation_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"6102a738-ff0b-425d-83c4-38d21dc8f3ed"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCurrentSickDayBalance","type":"string"}]}},"initialize_Carry_Over_Balance":{"runAfter":{"initialize_Current_Sick_Day_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"a7bc7674-2661-45a9-bc83-9986134a8f0e"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varCarryOverBalance","type":"string"}]}},"Initialize_Variable_for_Employee_Email":{"runAfter":{"Initialize_Overtime_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"c052355a-4bf9-4a10-b227-6edc14b8bf2f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varEmployeeEmail","type":"string"}]}},"Initialize_Balance":{"runAfter":{"Initialize_Variable_for_Employee_Email":["Succeeded"]},"metadata":{"operationMetadataId":"ff25c721-23cb-4c7c-8abb-a252c802e175"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varBalance","type":"boolean","value":false}]}},"Initialize_Manager_Cell_Number":{"runAfter":{"Initialize_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"e7de8f67-3789-402e-a35b-25e2960d331b"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Manager Cell Number","type":"string"}]}},"Initialize_Overtime_Balance":{"runAfter":{"initialize_Carry_Over_Balance":["Succeeded"]},"metadata":{"operationMetadataId":"6c4151eb-8f2e-4e23-bd75-66c06076d194"},"type":"InitializeVariable","inputs":{"variables":[{"name":"varOvertimeBalance","type":"string"}]}},"Initialize_SD_system_status":{"runAfter":{"Initialize_Manager_Cell_Number":["Succeeded"]},"metadata":{"operationMetadataId":"444ae569-8712-42a0-b7ec-e17783a29862"},"type":"InitializeVariable","inputs":{"variables":[{"name":"SD System Status","type":"string","value":"Editing"}]}},"Initialize_IsNextYear":{"runAfter":{"Initialize_SD_system_status":["Succeeded"]},"metadata":{"operationMetadataId":"0e28bf9f-085a-4143-a518-3c3f4012a242"},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsNextYear","type":"boolean","value":false}]}},"Initialize_NextYear":{"runAfter":{"Initialize_IsNextYear":["Succeeded"]},"metadata":{"operationMetadataId":"2e5e9dfd-ff6a-440f-b11a-30fef0250b55"},"type":"InitializeVariable","inputs":{"variables":[{"name":"NextYear","type":"string","value":"@{add(int(formatDateTime(utcNow(), 'yyyy')), 1)}"}]}},"Initialize_Request_Allow_Date":{"runAfter":{"Initialize_NextYear":["Succeeded"]},"metadata":{"operationMetadataId":"b751c275-068e-43b5-a33e-f2230b33e1ec"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Request Allow Date","type":"string"}]}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"a28e1172875b48639272297804890f99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_office365":{"connectionName":"shared-office365-9e23c3d5-938a-434c-9972-0ef4-e053bc48","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_twilio":{"connectionName":"shared-twilio-ba213c92-0204-43ad-b8ba-e09f1d0d0826","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_twilio","tier":"NotSpecified","apiName":"twilio","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}